<section class="baseAbfalter itemPage tab {{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">
    <fieldset>
        <legend> {{localize "abfalter.helmet"}} {{ localize "abfalter.details" }} </legend>
        <label> <span> {{localize "abfalter.quality"}} </span> <input type="number" name="system.quality"
                value="{{system.quality}}" /> </label>
        <div class="armorContent">
            <label>
                <span> {{localize "abfalter.presence"}} </span>
                <input type="number" name="system.presence" value="{{system.presence}}" />
                <span> | </span>
                <span> {{system.newPresence}} </span>
            </label>
        </div>
        <div class="armorContent">
            <label>
                <span> {{localize "abfalter.fortitude"}} </span>
                <input type="number" name="system.fortitude" value="{{system.fortitude}}" />
                <span> | </span>
                <span> {{system.newFortitude}} </span>
            </label>
        </div>
        <div class="armorContent">
            <label>
                <span> {{localize "abfalter.requir"}} </span>
                <input type="number" name="system.requirement" value="{{system.requirement}}" />
                <span> | </span>
                <span> {{system.newRequirement}} </span>
            </label>
        </div>
        <div class="armorContent">
            <label>
                <span> {{localize "abfalter.perPen"}} </span>
                <input type="number" name="system.natPenalty" value="{{system.natPenalty}}" />
                <span> | </span>
                <span> {{system.newNatPenalty}} </span>
            </label>
        </div>

        <h6> {{localize "abfalter.armorValues"}} {{ localize "abfalter.details" }} </h6>
        <div class="armorCard">
            <div>
                <span> {{localize "abfalter.type"}} </span>
                <span> {{localize "abfalter.cut"}} </span>
                <span> {{localize "abfalter.imp"}} </span>
                <span> {{localize "abfalter.thr"}} </span>
                <span> {{localize "abfalter.heat"}} </span>
                <span> {{localize "abfalter.cold"}} </span>
                <span> {{localize "abfalter.ele"}} </span>
                <span> {{localize "abfalter.ene"}} </span>
                {{#if system.spiritHomebrew}}
                <span> {{localize "abfalter.spirit"}} </span>
                {{/if}}
            </div>

            <div>
                <span> {{localize "abfalter.base"}} </span>
                <input type="number" name="system.AT.cut" value="{{system.AT.cut}}" />
                <input type="number" name="system.AT.imp" value="{{system.AT.imp}}" />
                <input type="number" name="system.AT.thr" value="{{system.AT.thr}}" />
                <input type="number" name="system.AT.heat" value="{{system.AT.heat}}" />
                <input type="number" name="system.AT.cold" value="{{system.AT.cold}}" />
                <input type="number" name="system.AT.ele" value="{{system.AT.ele}}" />
                <input type="number" name="system.AT.ene" value="{{system.AT.ene}}" />
                {{#if system.spiritHomebrew}}
                <input type="number" name="system.AT.spt" value="{{system.AT.spt}}" />
                {{/if}}
            </div>

            <div>
                <span> {{localize "abfalter.final"}} </span>
                <span> {{system.AT.newCut}} </span>
                <span> {{system.AT.newImp}} </span>
                <span> {{system.AT.newThr}} </span>
                <span> {{system.AT.newHeat}} </span>
                <span> {{system.AT.newCold}} </span>
                <span> {{system.AT.newEle}} </span>
                <span> {{system.AT.newEne}} </span>
                {{#if system.spiritHomebrew}}
                <span> {{system.AT.newSpt}} </span>
                {{/if}}
            </div>
        </div>
    </fieldset>
</section>