
<section class="baseAbfalter itemPage tab {{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">

    <fieldset>
        <legend> {{ localize "abfalter.generalDetails" }} </legend>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.title"}} </span> <input type="text" name="system.title" value="{{system.title}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.elan"}} </span> <input type="number" name="system.level" value="{{system.level}}" /> </label>
    </fieldset>

</section>