<section class="baseAbfalterV2 itemPageV2 tab {{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">
    {{> (concat "systems/abfalter/templates/item/partials/generalDetails.hbs")}}

    <fieldset>
        <legend> {{ localize "abfalter.lootDetails" }} </legend>
        <div class="csSelect itemSimpleLabel abfDivFormat">
            <label>
                <span> {{localize "abfalter.lootType"}} </span>
                <select name="system.type">
                    {{selectOptions lootTypeList selected=system.type localize=true}}
                </select>
            </label>
        </div>
        <div class="itemPropertyContainer abfDivFormat">
            <span> {{localize "abfalter.lootProperties"}} </span>
            <div>
            {{#each system.properties as |prop key|}}
                <label class="prop">
                    <input type="checkbox" name="system.properties.{{key}}.bool" {{checked prop.bool}} />
                    <span>{{localize (concat "abfalter." prop.label)}}</span>
                </label>
            {{/each}}
            </div>
        </div>
        <div class="abfDivFormat">
            <label class="itemSimpleLabel"> <span> {{localize "abfalter.quality"}} </span> <input type="text" name="system.quality" value="{{system.quality}}" /> </label>
            <label class="itemSimpleLabel"> <span> {{localize "abfalter.presence"}} </span> <input type="number" name="system.presence" value="{{system.presence}}" /> </label>
            <label class="itemSimpleLabel"> <span> {{localize "abfalter.fortitude"}} </span> <input type="text" name="system.fortitude" value="{{system.fortitude}}" /> </label>
        </div>
    </fieldset>
</section>

