<section class="baseAbfalter itemPage tab {{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">
    <fieldset>
        <legend> {{ localize "abfalter.generalDetails" }} </legend>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.quantity"}} </span> <input type="number" name="system.quantity" value="{{system.quantity}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.price"}} </span> <input type="text" name="system.price" value="{{system.price}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.weight"}} </span> <input type="number" name="system.weight" value="{{system.weight}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.rarity"}} </span> <input type="text" name="system.rarity" value="{{system.rarity}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.quality"}} </span> <input type="text" name="system.quality" value="{{system.quality}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.presence"}} </span> <input type="number" name="system.presence" value="{{system.presence}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.fortitude"}} </span> <input type="text" name="system.fortitude" value="{{system.fortitude}}" /> </label>
    </fieldset>
</section>

