<section class="baseAbfalter itemPage tab {{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">
    <fieldset>
        <legend> {{ localize "abfalter.generalDetails" }} </legend>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.dp"}} </span> <input type="number" name="system.dp" value="{{system.dp}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.mk"}} </span> <input type="number" name="system.mk" value="{{system.mk}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.attack"}} </span> <input type="number" name="system.bonusAtk" value="{{system.bonusAtk}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.block"}} </span> <input type="number" name="system.bonusDef" value="{{system.bonusDef}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.dodge"}} </span> <input type="number" name="system.bonusDod" value="{{system.bonusDod}}" /> </label>
    </fieldset>
</section>
