<section class="baseAbfalter itemPage tab {{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">
    <fieldset>
        <legend> {{ localize "abfalter.generalDetails" }} </legend>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.oppPattern"}} </span> <input type="text" name="system.opposite" value="{{system.opposite}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.cost"}} </span> <input type="number" name="system.cost" value="{{system.cost}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.cancelCost"}} </span> <input type="number" name="system.cancelCost" value="{{system.cancelCost}}" /> </label>
    </fieldset>
</section>