<section class="baseAbfalter itemPage tab {{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">
    <fieldset>
        <legend> {{ localize "abfalter.generalDetails" }} </legend>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.base"}} </span> <input type="number" name="system.base" value="{{system.base}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.spec"}} </span> <input type="number" name="system.spec" value="{{system.spec}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.extra"}} </span> <input type="number" name="system.extra" value="{{system.extra}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.temp"}} </span> <input type="number" name="system.temp" value="{{system.temp}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.natNum"}} </span> <input type="number" name="system.nat" value="{{system.nat}}" /> </label>
        <label class="itemSimpleLabel"> <span> {{localize "abfalter.natAt"}} </span> <input type="number" name="system.natural" value="{{system.natural}}" /> </label>
    </fieldset>
</section>