<div class="kiTechChat">
    <div class="itemChatTitle">
        <span> {{actorName}} {{localize "abfalter.activates"}}: </span>
        <span> {{name}} </span>
    </div>

    <div class="kiChatInfo">
        {{system.combinedLabel}}
    </div>

    <div>
        <div class="kiChatTypes">
            <span class="{{#if agi}}hidden{{/if}}"> {{localize "abfalter.agi"}} </span>
            <span class="{{#if con}}hidden{{/if}}"> {{localize "abfalter.con"}} </span>
            <span class="{{#if dex}}hidden{{/if}}"> {{localize "abfalter.dex"}} </span>
            <span class="{{#if str}}hidden{{/if}}"> {{localize "abfalter.str"}} </span>
            <span class="{{#if pow}}hidden{{/if}}"> {{localize "abfalter.pow"}} </span>
            <span class="{{#if wp}}hidden{{/if}}"> {{localize "abfalter.wp"}} </span>
        </div>
    </div>

    <div>
        <div class="kiChatTypes">
            <span class="{{#if agi}}hidden{{/if}}"> {{system.use.agi}} </span>
            <span class="{{#if con}}hidden{{/if}}"> {{system.use.con}} </span>
            <span class="{{#if dex}}hidden{{/if}}"> {{system.use.dex}} </span>
            <span class="{{#if str}}hidden{{/if}}"> {{system.use.str}} </span>
            <span class="{{#if pow}}hidden{{/if}}"> {{system.use.pow}} </span>
            <span class="{{#if wp}}hidden{{/if}}"> {{system.use.wp}} </span>
        </div>
    </div>
    <div class="kiChatBorderHere">
        {{#if system.unified}}
        <div>
            {{#if system.innatePower}}
            <div class="kiChatTypes">
                <span> {{system.maint.unified}} </span>
            </div>
            {{else}}
            <div class="kiChatTypes2">
                <span> {{localize "abfalter.unifiedMaint"}} {{system.maint.unified}}</span>
            </div>
            {{/if}}
        </div>
        {{else}}
        <div class="kiChatTypes">
            <span class="{{#if agi}}hidden{{/if}}">{{system.maint.agi}}</span>
            <span class="{{#if con}}hidden{{/if}}">{{system.maint.con}}</span>
            <span class="{{#if dex}}hidden{{/if}}">{{system.maint.dex}}</span>
            <span class="{{#if str}}hidden{{/if}}">{{system.maint.str}}</span>
            <span class="{{#if pow}}hidden{{/if}}" >{{system.maint.pow}}</span>
            <span class="{{#if wp}}hidden{{/if}}">{{system.maint.wp}}</span>
        </div>
        {{/if}}
    </div>

    <div class="kiChatDesc">
        {{{system.description}}}
    </div>
</div>