<div>
    <label class="itemSimpleLabel">
        <span style="width: 100%;">
            {{localize "abfalter.dpTitleLabel"}}
        </span>
    </label>
    
    <label class="itemSimpleLabel">
        <span>{{localize "abfalter.primDpMod"}}</span>
        <input type="number" name="primaryDpMod" value="{{actor.system.levelinfo.primDpMod}}" />
    </label>

    <label class="itemSimpleLabel">
        <span>{{localize "abfalter.combatDpMod"}}</span>
        <input type="number" name="combatDpMod" value="{{actor.system.levelinfo.combatDpMod}}" />
    </label>

    <label class="itemSimpleLabel">
        <span>{{localize "abfalter.magicDpMod"}}</span>
        <input type="number" name="magicDpMod" value="{{actor.system.levelinfo.mysticDpMod}}" />
    </label>

    <label class="itemSimpleLabel">
        <span>{{localize "abfalter.magicProjDpMod"}}</span>
        <input type="number" name="magicProjDpMod" value="{{actor.system.levelinfo.mysticProjDpMod}}" />
    </label>

    <label class="itemSimpleLabel">
        <span>{{localize "abfalter.psychicDpMod"}}</span>
        <input type="number" name="psychicDpMod" value="{{actor.system.levelinfo.psychicDpMod}}" />
    </label>

    <label class="itemSimpleLabel">
        <span>{{localize "abfalter.psychicProjDpMod"}}</span>
        <input type="number" name="psychicProjDpMod" value="{{actor.system.levelinfo.psychicProjDpMod}}" />
    </label>
</div>