<div>
    <div>
        <label class="itemSimpleLabel">
            <span>{{localize "abfalter.phrMult"}}</span>
            <input type="number" name="phrMult" value="{{actor.system.settings.phrMult}}" />
        </label>

        <label class="itemSimpleLabel">
            <span>{{localize "abfalter.drMult"}}</span>
            <input type="number" name="drMult" value="{{actor.system.settings.drMult}}" />
        </label>

        <label class="itemSimpleLabel">
            <span>{{localize "abfalter.psnrMult"}}</span>
            <input type="number" name="psnrMult" value="{{actor.system.settings.psnrMult}}" />
        </label>

        <label class="itemSimpleLabel">
            <span>{{localize "abfalter.mrMult"}}</span>
            <input type="number" name="mrMult" value="{{actor.system.settings.mrMult}}" />
        </label>

        <label class="itemSimpleLabel">
            <span>{{localize "abfalter.psyrMult"}}</span>
            <input type="number" name="psyrMult" value="{{actor.system.settings.psyrMult}}" />
        </label>
    </div>

    <div>
        <label class="itemSimpleLabel">
            <span>{{localize "abfalter.fatigueValue"}}</span>
            <input type="number" name="fatigueValue" value="{{actor.system.settings.fatigueValue}}" />
        </label>
    </div>
</div>