<div class="tab armory">
    <div>
        <div class="wearArmor">
            <h5> {{localize "abfalter.wearArmor"}} </h5>
            <label> <span> {{localize "abfalter.base"}} </span> <input type="number" name="system.armor.wearArmor.base" value="{{system.armor.wearArmor.base}}" /> </label>
            <label> <span> {{localize "abfalter.class"}} </span> <input type="number" name="system.armor.wearArmor.class" value="{{system.armor.wearArmor.class}}" readonly /> </label>
            <label> <span> {{localize "abfalter.spec"}} </span> <input type="number" name="system.armor.wearArmor.spec" value="{{system.armor.wearArmor.spec}}" /> </label>
            <label> <span> {{localize "abfalter.temp"}} </span> <input type="number" name="system.armor.wearArmor.temp" value="{{system.armor.wearArmor.temp}}" /> </label>
            <label> <span> {{localize "abfalter.final"}} </span> <input type="number" name="system.armor.wearArmor.final" value="{{system.armor.wearArmor.final}}" readonly /> </label>
            <h5> {{localize "abfalter.armorStats"}} </h5>
            <label> <span class="armorpenalty"> {{localize "abfalter.totalNatPen"}} </span> <input type="number" name="system.armor.wearArmor.totalNatPen" value="{{system.armor.wearArmor.totalNatPen}}" readonly /> </label>
            <label> <span> {{localize "abfalter.totalPerPen"}} </span> <input type="number" name="system.armor.wearArmor.totalPerPen" value="{{system.armor.wearArmor.totalPerPen}}" readonly /> </label>
            <label> <span> {{localize "abfalter.totalMovePen"}} </span> <input type="number" name="system.armor.wearArmor.totalMovePen" value="{{system.armor.wearArmor.totalMovePen}}" readonly /> </label>
            <label> <span> {{localize "abfalter.dmgBarrier"}} </span> <input type="number" name="system.otherStats.damageBarrier" value="{{system.otherStats.damageBarrier}}" /> </label>
            <label> <span> {{localize "abfalter.dmgRdc"}} </span> <input type="number" name="system.otherStats.dmgRdc" value="{{system.otherStats.dmgRdc}}" /> </label>
        </div>

        <div class="currency">
            <h5> {{localize "abfalter.currency"}} </h5>
            <div>
                <span> {{localize "abfalter.name"}} </span>
                <span> {{localize "abfalter.quantity"}} </span>
            </div>
            <div class="{{#if system.toggles.currencyHide}}hidden{{/if}}">
                <label> <span> {{localize "abfalter.cCoin"}} </span> <input type="number" name="system.currency.copper" value="{{system.currency.copper}}" /> </label>
                <label> <span> {{localize "abfalter.sCoin"}} </span> <input type="number" name="system.currency.silver" value="{{system.currency.silver}}" /> </label>
                <label> <span> {{localize "abfalter.gCoin"}} </span> <input type="number" name="system.currency.gold" value="{{system.currency.gold}}" /> </label>
            </div>
            <div class="{{#if system.itemToggle.currency}}item-list{{/if}}">
                {{#each currencies as |currency id|}}
                <div class="currency-item item delete-item" data-item-id="{{currency._id}}">
                    {{#if system.toggleItem}}
                    <div>
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{currency.name}}" placeholder="{{localize "abfalter.newItem"}}" />
                        <input class="inline-edit" data-field="system.quantity" type="number" value="{{currency.system.quantity}}" />
                    </div>
                    {{else}}
                    <div>
                        <span> {{currency.name}} </span>
                        <input class="inline-edit" data-field="system.quantity" type="number" value="{{currency.system.quantity}}" />
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <div>
                <a class="item-control item-create" data-type="currency"><i class="fas fa-plus"></i> {{localize "abfalter.addCoin"}} </a>
                <a class="toggleBoolean {{#if system.itemToggle.currency}}armorpenalty{{/if}}" data-label="system.itemToggle.currency" data-ability="{{system.itemToggle.currency}}"><i class="{{#if system.itemToggle.currency}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.modify"}} </a>
            </div>
        </div>


    </div>

    <div>
        <div class="armor">
            <h5> {{localize "abfalter.armor"}} </h5>
            <div>
                <span> {{localize "abfalter.name"}} </span>
                <span> {{localize "abfalter.quality"}} </span>
                <span> {{localize "abfalter.presence"}} </span>
                <span> {{localize "abfalter.fortitude"}} </span>
                <span> {{localize "abfalter.requir"}} </span>
                <span> {{localize "abfalter.penalty"}} </span>
            </div>
            <div class="{{#if system.itemToggle.armorHelmet}}item-list{{/if}}">
                {{#each armorHelmets as |armorHelmet id|}}
                <div class="armorHelmet-item item equip-item" data-item-id="{{armorHelmet._id}}">
                    <div class="{{#if system.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                        <span> {{armorHelmet.name}} </span>
                        <span> {{system.quality}} </span>
                        <span> {{system.newPresence}} </span>
                        <span> {{system.newFortitude}} </span>
                        <span> {{system.newRequirement}} </span>
                        <span> {{system.newNatPenalty}} </span>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="{{#if system.itemToggle.armor}}item-list{{/if}}">
                {{#each armors as |armor id|}}
                <div class="armor-item item equip-item" data-item-id="{{armor._id}}">
                    <div class="{{#if system.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                        <span> {{armor.name}} </span>
                        <span> {{system.quality}} </span>
                        <span> {{system.newPresence}} </span>
                        <span> {{system.newFortitude}} </span>
                        <span> {{system.newRequirement}} </span>
                        <span> {{system.newMovePenalty}} / {{system.newNatPenalty}} </span>
                    </div>
                </div>
                {{/each}}
            </div>
            <div>
                <span> {{localize "abfalter.name"}} </span>
                <span> {{localize "abfalter.cut"}} </span>
                <span> {{localize "abfalter.imp"}} </span>
                <span> {{localize "abfalter.thr"}} </span>
                <span> {{localize "abfalter.heat"}} </span>
                <span> {{localize "abfalter.cold"}} </span>
                <span> {{localize "abfalter.ele"}} </span>
                <span> {{localize "abfalter.ene"}} </span>
                {{#if system.other.spiritSettings}}
                <span> {{localize "abfalter.spirit"}} </span>
                {{/if}}
            </div>
            <div class="{{#if system.itemToggle.armorHelmet}}item-list{{/if}}">
                {{#each armorHelmets as |armorHelmet id|}}
                <div class="armorHelmet-item2 item equip-item" data-item-id="{{armorHelmet._id}}">
                    <div class="{{#if system.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <span> {{armorHelmet.name}} </span>
                        <span> {{system.AT.newCut}} </span>
                        <span> {{system.AT.newImp}} </span>
                        <span> {{system.AT.newThr}} </span>
                        <span> {{system.AT.newHeat}} </span>
                        <span> {{system.AT.newCold}} </span>
                        <span> {{system.AT.newEle}} </span>
                        <span> {{system.AT.newEne}} </span>
                        {{#if system.spiritHomebrew}}
                        <span> {{system.AT.newSpt}} </span>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="{{#if system.itemToggle.armor}}item-list{{/if}}">
                {{#each armors as |armor id|}}
                <div class="armor-item2 item equip-item" data-item-id="{{armor._id}}">
                    <div class="{{#if system.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <span> {{armor.name}} </span>
                        <span> {{system.AT.newCut}} </span>
                        <span> {{system.AT.newImp}} </span>
                        <span> {{system.AT.newThr}} </span>
                        <span> {{system.AT.newHeat}} </span>
                        <span> {{system.AT.newCold}} </span>
                        <span> {{system.AT.newEle}} </span>
                        <span> {{system.AT.newEne}} </span>
                        {{#if system.spiritHomebrew}}
                        <span> {{system.AT.newSpt}} </span>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
            <div>
                <div>
                    <a class="item-control item-create" data-type="armor"><i class="fas fa-plus"></i> {{localize "abfalter.addArmor"}} </a>
                    <a class="toggleBoolean {{#if system.itemToggle.armor}}armorpenalty{{/if}}" data-label="system.itemToggle.armor" data-ability="{{system.itemToggle.armor}}"><i class="{{#if system.itemToggle.armor}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.modify"}} </a>
                </div>
                <div>
                    <a class="toggleBoolean {{#if system.itemToggle.armorHelmet}}armorpenalty{{/if}}" data-label="system.itemToggle.armorHelmet" data-ability="{{system.itemToggle.armorHelmet}}"><i class="{{#if system.itemToggle.armorHelmet}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.modify"}} </a>
                    <a class="item-control item-create" data-type="armorHelmet"><i class="fas fa-plus"></i> {{localize "abfalter.addHelmet"}} </a>
                </div>
            </div>
            <div>
                <span> {{localize "abfalter.finalHelmet"}} </span>
                <span> {{system.armor.helmet.ahCutFinal}} </span>
                <span> {{system.armor.helmet.ahImpFinal}} </span>
                <span> {{system.armor.helmet.ahThrFinal}} </span>
                <span> {{system.armor.helmet.ahHeatFinal}} </span>
                <span> {{system.armor.helmet.ahColdFinal}} </span>
                <span> {{system.armor.helmet.ahEleFinal}} </span>
                <span> {{system.armor.helmet.ahEneFinal}} </span>
                {{#if system.other.spiritSettings}}
                <span> {{system.armor.helmet.ahSptFinal}} </span>
                {{/if}}
            </div>
            <div>
                <span> {{localize "abfalter.finalArmor"}} </span>
                <span> {{system.armor.body.aCutFinal}} </span>
                <span> {{system.armor.body.aImpFinal}} </span>
                <span> {{system.armor.body.aThrFinal}} </span>
                <span> {{system.armor.body.aHeatFinal}} </span>
                <span> {{system.armor.body.aColdFinal}} </span>
                <span> {{system.armor.body.aEleFinal}} </span>
                <span> {{system.armor.body.aEneFinal}} </span>
                {{#if system.other.spiritSettings}}
                <span> {{system.armor.body.aSptFinal}} </span>
                {{/if}}
            </div>
        </div>

        <div class="weapons">
            <h5> {{localize "abfalter.weapons"}}  </h5>
            <div class="{{#if system.itemToggle.weapon}}item-list{{/if}}">
                {{#each weapons as |weapon id|}}
                <div class="weapon-item item equip-item" data-item-id="{{weapon._id}}">
                    <div class="weaponHeaderContainer">
                        <img class="weapon-item-img" src="{{img}}"/>
                        <div class="weaponContainerInfo">
                            <div class="wepContainer1">
                                <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                                <span class="{{#if system.equipped}}weaponEquipped{{else}}notEquipped{{/if}}"> {{weapon.name}} </span>
                                <span>
                                    {{#ifEquals system.info.type "melee"}}
                                        {{localize "abfalter.atPen"}}: {{system.melee.finalATPen}}
                                    {{/ifEquals}}
                                    {{#ifEquals system.info.type "ranged"}}
                                        WIP
                                    {{/ifEquals}}
                                    {{#ifEquals system.info.type "shield"}}
                                        WIP
                                    {{/ifEquals}}
                                </span>
                                <span>
                                    {{#ifEquals system.info.type "melee"}}
                                        {{localize "abfalter.dmgShort"}}: {{system.melee.baseDmg}}
                                    {{/ifEquals}}
                                    {{#ifEquals system.info.type "ranged"}}
                                        WIP
                                    {{/ifEquals}}
                                    {{#ifEquals system.info.type "shield"}}
                                        WIP
                                    {{/ifEquals}}
                                </span>
                                <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i
                                        class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                            </div>
                            <div class="wepContainer2">
                                <div>
                                    {{#ifEquals system.info.type "melee"}}
                                    
                                    <button type="button" class="weaponRoll" data-type="{{_id}}" data-label="attack" data-value="{{system.info.type}}">
                                        {{localize "abfalter.attack"}}: {{system.derived.baseAtk}}
                                    </button>
                                     
                                    <!-- WIP
                                    <button type="button" class="combatRoll" data-roll="{{system.derived.baseAtk}}" data-label="{{localize "abfalter.attack"}}" data-type="weaponCombatRoll" data-ability="{{system.complex}}">
                                        {{localize "abfalter.attack"}}: {{system.derived.baseAtk}}
                                    </button>-->
                                    {{/ifEquals}}
                                    {{#ifEquals system.info.type "ranged"}}
                                    <button type="button" class="combatRoll" data-roll="{{system.derived.baseAtk}}" data-label="{{localize "abfalter.attack"}}" data-type="weaponCombatRoll" data-ability="{{system.complex}}">
                                        {{localize "abfalter.attack"}}: {{system.derived.baseAtk}}
                                    </button>
                                    {{/ifEquals}}
                                    <button type="button" class="combatRoll" data-roll="{{system.derived.baseBlk}}" data-label="{{localize "abfalter.block"}}" data-type="weaponCombatRoll" data-ability="{{system.complex}}">
                                        {{localize "abfalter.block"}}: {{system.derived.baseBlk}}
                                    </button>
                    
                                    <button type="button" class="combatRoll" data-roll="{{system.derived.baseDod}}" data-label="{{localize "abfalter.dodge"}}" data-type="weaponCombatRoll" data-ability="{{system.complex}}">
                                        {{localize "abfalter.dodge"}}: {{system.derived.baseDod}}
                                    </button>
                                </div>

                                <span>
                                    {{#ifEquals system.info.type "melee"}}
                                        {{localize "abfalter.fortitudeShort"}}: {{system.derived.finalFortitude}}
                                    {{/ifEquals}}
                                    {{#ifEquals system.info.type "ranged"}}
                                        WIP
                                    {{/ifEquals}}
                                    {{#ifEquals system.info.type "shield"}}
                                        WIP
                                    {{/ifEquals}}
                                </span>

                                {{#ifEquals system.info.type "melee"}}
                                <button type="button" class="combatRoll" data-roll="{{system.melee.finalBreakage}}"
                                    data-label="{{localize "abfalter.finBreakage"}}" data-type="breakageRoll">
                                    {{localize "abfalter.breakageShort"}}: {{system.melee.finalBreakage}}
                                </button>
                                {{/ifEquals}}
                            </div>
                        </div>
                    </div>
                    
                    {{#ifEquals system.info.type "melee"}}
                    <div class="weaponSubHeaderContainer">
                        <div class="wepSubLeft">
                            {{#if system.melee.throwable}}
                            <div class="weaponSubThrow">
                                <a class="wepThrowQ" data-value="-1"><i class="fas fa-minus"> </i></a>
                                <span> {{system.melee.throwQuantity}} </span>
                                <a class="wepThrowQ" data-value="1"><i class="fas fa-plus"></i> </a>
                                <span> {{localize "abfalter.quantity"}} |</span>
                                <span> {{localize "abfalter.range"}}: {{system.melee.throwRange}} {{localize (concat "abfalter." (getDistanceType system.melee.throwDistanceType))}}</span>

                            </div>
                            {{/if}}
                        </div>

                        <div class="wepSubRight">
                            {{#if system.melee.trapping}}
                            <div class="weaponSubTrap">
                                <span> {{localize "abfalter.trapRoll"}}: {{localize (concat "abfalter." system.melee.trappingTypeF)}} / {{localize (concat "abfalter." system.melee.trappingTypeS)}} </span>
                                <button type="button" class="weaponRoll" data-type="{{_id}}" data-label="trap" data-value="trap">
                                    {{localize "abfalter.trapping"}}
                                </button>
                            </div>  
                            {{/if}}
                        </div>
                    </div>
                    {{/ifEquals}}

            
                    {{#if system.expand}}
                    {{editor system.description target="system.description" editable=false button=false engine="prosemirror"}}
                    {{/if}}
                </div>
                {{/each}}
            </div>

            <div>
                <a class="item-control item-create" data-type="weapon"><i class="fas fa-plus"></i> {{localize "abfalter.addWeapons"}} </a>
                <a class="toggleBoolean {{#if system.itemToggle.weapon}}armorpenalty{{/if}}" data-label="system.itemToggle.weapon" data-ability="{{system.itemToggle.weapon}}"><i class="{{#if system.itemToggle.weapon}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.modify"}} </a>
            </div>
        </div>

        <div class="inventory">
            <h5> {{localize "abfalter.inventory"}} </h5>
            <div>
                <span> {{localize "abfalter.quantity"}} </span>
                <span> {{localize "abfalter.name"}} </span>
                <span> {{localize "abfalter.quality"}} </span>
            </div>
            <div class="{{#if system.itemToggle.inventory}}item-list{{/if}}">
                {{#each inventories as |inventory id|}}
                <div class="inventory-item item normal-item" data-item-id="{{inventory._id}}">
                    {{#if system.expand}}
                    <div>
                        <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                        <input class="inline-edit" data-field="system.quantity" type="number" value="{{inventory.system.quantity}}" />
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{inventory.name}}" placeholder="{{localize "abfalter.newItem"}}" />
                        <input class="inline-edit" data-field="system.quality" type="text" value="{{inventory.system.quality}}" />
                        <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                    </div>
                    <div class="textarea-div" style="display: grid;">
                        <textarea class="inline-edit textarea-auto-resize" data-field="system.description" style="grid-area: 1 / 1 / 2/ 2;">{{inventory.system.description}}</textarea>
                        <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{inventory.system.description}}</div>
                    </div>
                    {{else}}
                    <div>
                        <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                        <span> {{inventory.system.quantity}} </span>
                        <span> {{inventory.name}} </span>
                        <span> {{inventory.system.quality}} </span>
                        <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <div>
                <a class="item-control item-create" data-type="inventory"><i class="fas fa-plus"></i> {{localize "abfalter.addInventory"}} </a>
                <a class="toggleBoolean {{#if system.itemToggle.inventory}}armorpenalty{{/if}}" data-label="system.itemToggle.inventory" data-ability="{{system.itemToggle.inventory}}"><i class="{{#if system.itemToggle.inventory}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.modify"}} </a>
            </div>
        </div>

    </div>
</div>
