<section class="tab {{tabs.armory.cssClass}} actorPage baseAbfalterV2" data-group="{{tabs.armory.group}}" data-tab="{{tabs.armory.id}}">
    <div class="fieldsetContainerColumnV2 armory">
        <div class="fieldSetRowV2">
            <fieldset class="currency">
                <legend> {{localize "abfalter.currency"}} </legend>
                <div class="abfDivFormat">
                    <span> </span>
                    <span> {{localize "abfalter.quantity"}} </span>
                </div>
                <div class="abfDivFormat {{#if system.toggles.currencyHide}}hidden{{/if}}">
                    <label> <span> {{localize "abfalter.cCoin"}} </span> <input type="number" name="system.currency.copper" value="{{system.currency.copper}}" /> </label> 
                    <label> <span> {{localize "abfalter.sCoin"}} </span> <input type="number" name="system.currency.silver" value="{{system.currency.silver}}" /> </label>
                    <label> <span> {{localize "abfalter.gCoin"}} </span> <input type="number" name="system.currency.gold" value="{{system.currency.gold}}" /> </label>
                </div>
                <div>
                    {{#each currencys as |currency|}}
                    <div class="currency-item item normal-item {{#if ../system.itemToggle.currency}}draggable{{/if}}" data-item-id={{id}}
                    data-can-edit="false" data-can-delete="true" data-can-equip="false" data-can-toggle="true">
                        {{#if system.toggleItem}}
                        <div class="abfDivFormat">
                            <input class="item-name inline-edit" data-field="name" type="text" value="{{currency.name}}" placeholder="{{localize "abfalter.newItem"}}" />
                            <input class="inline-edit" data-field="system.quantity" type="number" value="{{currency.system.quantity}}" />
                        </div>
                        {{else}}
                        <div class="abfDivFormat">
                            <span> {{currency.name}} </span>
                            <input class="inline-edit" data-field="system.quantity" type="number" value="{{currency.system.quantity}}" />
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                <div class="itemControlsV2">
                    <a class="item-control" data-action="createItem" data-type="currency"><i class="fas fa-plus"></i> {{localize "abfalter.addCoin"}} </a>
                    <a data-action="toggleValue" class="{{#if system.itemToggle.currency}}armorpenalty{{/if}}" data-label="system.itemToggle.currency" data-ability="{{system.itemToggle.currency}}"><i class="{{#if system.itemToggle.currency}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.modify"}} </a>
                </div>
            </fieldset>

            <fieldset class="weightStats">
                <legend> 
                    {{localize "abfalter.weight"}} 
                    <a data-action="toggleValue" data-label="system.toggles.weightStatus" data-ability="{{system.toggles.weightStatus}}"><i class="{{#if system.toggles.weightStatus}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </legend>
                <div class="abfDivFormat">
                    {{#if system.toggles.weightStatus}}
                    <div>
                        <div class="csSelect abfDivFormat">
                            <label> 
                                <span> {{localize "abfalter.weightType"}} </span>
                                <select name="system.other.weightType">
                                    {{selectOptions weightList selected=system.other.weightType localize=true}}
                                </select>
                            </label>
                        </div>
                        <label> <span> {{localize "abfalter.weapon"}} </span> <input type="number" name="system.other.weaponWeight" value="{{system.other.weaponWeight}}" readonly /> </label>
                        <label> <span> {{localize "abfalter.equipment"}} </span> <input type="number" name="system.other.armorWeight" value="{{system.other.armorWeight}}" readonly /> </label>
                        <label> <span> {{localize "abfalter.consumable"}} </span> <input type="number" name="system.other.ammoWeight" value="{{system.other.ammoWeight}}" readonly /> </label>
                        <label> <span> {{localize "abfalter.loot"}} </span> <input type="number" name="system.other.lootWeight" value="{{system.other.lootWeight}}" readonly /> </label>
                    </div>
                    {{/if}}
                    <label> <span> {{localize "abfalter.naturalCarryLoad"}} </span> <input type="text" name="system.other.naturalCarryLoad" value="{{system.other.naturalCarryLoad}}" readonly /> </label>
                    <label> <span> {{localize "abfalter.maxCarryLoad"}} </span> <input type="text" name="system.other.maxCarryLoad" value="{{system.other.maxCarryLoad}}" readonly /> </label>
                    <label> <span> {{localize "abfalter.totalWeight"}} </span> <input type="text" name="system.other.totalWeightLabel" value="{{system.other.totalWeightLabel}}" readonly /> </label>
                </div>
            </fieldset>

            <fieldset class="presenceStats">
                <legend> 
                    {{localize "abfalter.presence"}} 
                    <a data-action="toggleValue" data-label="system.toggles.presenceStatus" data-ability="{{system.toggles.presenceStatus}}"><i class="{{#if system.toggles.presenceStatus}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </legend>
                <div class="abfDivFormat">
                    {{#if system.toggles.presenceStatus}}
                    <div>
                        <label> <span> {{localize "abfalter.weapon"}} </span> <input type="number" name="system.other.weaponPresence" value="{{system.other.weaponPresence}}" readonly /> </label>
                        <label> <span> {{localize "abfalter.equipment"}} </span> <input type="number" name="system.other.armorPresence" value="{{system.other.armorPresence}}" readonly /> </label>
                        <label> <span> {{localize "abfalter.consumable"}} </span> <input type="number" name="system.other.ammoPresence" value="{{system.other.ammoPresence}}" readonly /> </label>
                        <label> <span> {{localize "abfalter.loot"}} </span> <input type="number" name="system.other.lootPresence" value="{{system.other.lootPresence}}" readonly /> </label>
                    </div>
                    {{/if}}
                    <label> <span> {{localize "abfalter.artiPresenceLower"}} </span> <input type="number" name="system.settings.artiPresenceLowerFinal" value="{{system.settings.artiPresenceLowerFinal}}" readonly /> </label>
                    <label> <span> {{localize "abfalter.artiPresenceUpper"}} </span> <input type="number" name="system.settings.artiPresenceUpperFinal" value="{{system.settings.artiPresenceUpperFinal}}" readonly /> </label>
                    <label> <span class="{{#if system.settings.presenceWarningLower}}warningAbfalter{{/if}} {{#if system.settings.presenceWarningUpper}}errorAbfalter{{/if}}"> {{localize "abfalter.totalPresence"}} </span> <input class="{{#if system.settings.presenceWarningLower}}warningAbfalter{{/if}} {{#if system.settings.presenceWarningUpper}}errorAbfalter{{/if}}" type="number" name="system.other.totalPresence" value="{{system.other.totalPresence}}" readonly /> </label>
                </div>
            </fieldset>

            <fieldset class="wearArmor">
                <legend> {{localize "abfalter.wearArmor"}} </legend>
                <div class="abfDivFormat">
                    <label> <span> {{localize "abfalter.base"}} </span> <input type="number" name="system.armor.wearArmor.base" value="{{system.armor.wearArmor.base}}" /> </label>
                    <label> <span> {{localize "abfalter.class"}} </span> <input type="number" name="system.armor.wearArmor.class" value="{{system.armor.wearArmor.class}}" readonly /> </label>
                    <label> <span> {{localize "abfalter.spec"}} </span> <input type="number" name="system.armor.wearArmor.spec" value="{{system.armor.wearArmor.spec}}" /> </label>
                    <label> <span> {{localize "abfalter.temp"}} </span> <input type="number" name="system.armor.wearArmor.temp" value="{{system.armor.wearArmor.temp}}" /> </label>
                    <label> <span> {{localize "abfalter.final"}} </span> <input type="number" name="system.armor.wearArmor.final" value="{{system.armor.wearArmor.final}}" readonly /> </label>
                </div>
            </fieldset>
        </div>

        <div class="fieldSetColumnV2"> 
            <div class="weapon abfDivFormat">
                <div class="armoryItemHeader abfDivFormat">
                    <span class="armoryNameHeader"> {{localize "abfalter.weapon"}} </span>
                    <span class="armoryPriceHeader"> {{localize "abfalter.price"}} </span>
                    <span class="armoryWeightHeader"> {{localize "abfalter.weight"}} </span>
                    <span class="armoryQuantityHeader"> {{localize "abfalter.quantity"}} </span>
                    <span class="armoryChargesHeader"> {{localize "abfalter.charges"}} </span>
                    <span class="armoryHeaderEmpty"></span>
                </div>

                {{#each weapons as |weapon|}}
                <div class="armory-item item normal-itemV2 abfDivFormat draggable" data-item-id={{id}}>
                        <div class="armoryItemContainer">
                            <div class="armoryItemMain">
                                <img class="armoryItemImg" src="{{img}}"/>
                                <div class="armoryItemNames">
                                    <span class="{{#if system.equipped}}equipped{{/if}}" data-action="itemToChat"> {{weapon.name}} </span>
                                    <span> {{system.descTag}} </span>
                                </div>
                                <div class="armoryTags">
                                    {{#if system.properties.magical.bool}}
                                    <i class="fa-solid fa-sparkles"></i>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="armoryPrice">
                                <span > {{system.priceTotal}} </span>
                                <img  src="{{system.priceIcon}}"/>
                            </div>
                            <span class="armoryWeight">
                                {{system.weightTotal}} {{system.weightType}}
                            </span>
                            <div class="armoryQuantity">
                                <a data-action="decrease" data-label="system.quantity" data-value="{{system.quantity}}"><i class="fas fa-minus"> </i></a>
                                <span> {{system.quantity}} </span>
                                <a data-action="increase" data-label="system.quantity" data-value="{{system.quantity}}"><i class="fas fa-plus"></i> </a>
                            </div>
                            <span class="armoryCharges"> — </span>
                            <div class="armoryItemControls">
                                <a class="{{#if system.equipped}}equipped{{/if}}" data-action="itemToggleValue" data-label="system.equipped" data-ability="{{system.equipped}}">
                                    <i class="fa-solid fa-shield-halved"></i>
                                </a>
                                <a data-action="itemToggleValue" data-label="system.expand" data-ability="{{system.expand}}">
                                    {{#if system.expand}}
                                    <i class="fa-solid fa-compress"></i>
                                    {{else}}
                                    <i class="fa-solid fa-expand"></i>
                                    {{/if}}
                                </a>
                                <a data-action="openMenu" class="itemMenu">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </a>
                            </div>
                        </div>
                        {{#if system.equipped}}
                        <div class="armoryWepEquip">
                            <div class="armoryIndent">┗</div>
                            <div class="armoryWepCombat">
                                {{#ifIn system.info.type "hybrid melee ranged"}}
                                <button type="button" data-action="weaponRoll" data-label="attack" data-id="{{_id}}" data-type="{{system.info.type}}" data-value="weaponAtk">
                                    {{localize "abfalter.attack"}}: {{system.derived.baseAtk}}
                                </button>
                                {{/ifIn}}
                                <button type="button" data-action="weaponRoll" data-label="block" data-id="{{_id}}" data-type="{{system.info.type}}" data-value="weaponDef">
                                    {{localize "abfalter.block"}}: {{system.derived.baseBlk}}
                                </button>
                                <button type="button" data-action="weaponRoll" data-label="dodge" data-id="{{_id}}" data-type="{{system.info.type}}" data-value="weaponDod">
                                    {{localize "abfalter.dodge"}}: {{system.derived.baseDod}}
                                </button>
                            </div>
                            <div class="armoryWepBreak">
                                <button type="button" data-action="weaponRoll" data-label="breakage" data-id="{{_id}}" data-type="{{system.info.type}}" data-value="weaponBreak">
                                    {{localize "abfalter.breakageShort"}}: {{system.melee.finalBreakage}}
                                </button>
                            </div>
                            {{#ifIn system.info.type "hybrid melee"}}
                            {{#if system.properties.trapping.bool}}
                            <div class="armoryWepTrap">
                                <button type="button" data-action="weaponRoll" data-label="trap" data-id="{{_id}}" data-value="weaponTrap">
                                    {{localize "abfalter.trapping"}}
                                </button>
                            </div>
                            {{/if}}
                            {{/ifIn}}
                            {{#ifIn system.info.type "hybrid ranged"}}
                            {{#if system.properties.ammunition.bool}}
                            <div class="armoryWepAmmo">
                                <button type="button" data-action="ammoWeaponToggle" class="ammoItem-toggle {{#if system.ranged.isLoaded}}kiBought{{/if}}" 
                                    data-label="system.ranged.isLoaded" data-ability="{{system.ranged.isLoaded}}" data-value="{{system.ranged.magSizeMax}}">
                                    {{#if system.ranged.isLoaded}} 
                                        {{system.ranged.magSize}} / {{system.ranged.magSizeMax}} {{localize "abfalter.loaded"}} 
                                    {{else}} 
                                        {{localize "abfalter.unloaded"}}
                                    {{/if}}
                                </button>   
                            </div>
                            {{/if}}
                            {{/ifIn}}
                        </div>
                        {{/if}}


                        {{#if system.expand}}
                        <div class="armoryDescription">
                            {{editor system.description target="system.description" editable=false button=false engine="prosemirror"}}
                        </div>
                        <div class="armoryTags">
                            {{#each system.tags}}
                                <span class="armoryTag">{{this}}</span>
                            {{/each}}
                        </div>
                        {{/if}}
                </div>
                {{/each}}
            </div>

            <div class="armor abfDivFormat">
                <div class="armoryItemHeader abfDivFormat">
                    <span class="armoryNameHeader"> {{localize "abfalter.equipment"}} </span>
                    <span class="armoryPriceHeader"> {{localize "abfalter.price"}} </span>
                    <span class="armoryWeightHeader"> {{localize "abfalter.weight"}} </span>
                    <span class="armoryQuantityHeader"> {{localize "abfalter.quantity"}} </span>
                    <span class="armoryChargesHeader"> {{localize "abfalter.charges"}} </span>
                    <span class="armoryHeaderEmpty"></span>
                </div>

                {{#each armors as |armor|}}
                <div class="armory-item item normal-itemV2 abfDivFormat draggable" data-item-id={{id}}>
                        <div class="armoryItemContainer">
                            <div class="armoryItemMain">
                                <img class="armoryItemImg" src="{{img}}"/>
                                <div class="armoryItemNames">
                                    <span class="{{#if system.equipped}}equipped{{/if}}" data-action="itemToChat"> {{armor.name}} </span>
                                    <span> {{system.descTag}} </span>
                                </div>
                                <div class="armoryTags">
                                    {{#if system.properties.magical.bool}}
                                    <i class="fa-solid fa-sparkles"></i>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="armoryPrice">
                                <span > {{system.priceTotal}} </span>
                                <img  src="{{system.priceIcon}}"/>
                            </div>
                            <span class="armoryWeight">
                                {{system.weightTotal}} {{system.weightType}}
                            </span>
                            <div class="armoryQuantity">
                                <a data-action="decrease" data-label="system.quantity" data-value="{{system.quantity}}"><i class="fas fa-minus"> </i></a>
                                <span> {{system.quantity}} </span>
                                <a data-action="increase" data-label="system.quantity" data-value="{{system.quantity}}"><i class="fas fa-plus"></i> </a>
                            </div>
                            <span class="armoryCharges"> — </span>
                            <div class="armoryItemControls">
                                <a class="{{#if system.equipped}}equipped{{/if}}" data-action="itemToggleValue" data-label="system.equipped" data-ability="{{system.equipped}}">
                                    <i class="fa-solid fa-shield-halved"></i>
                                </a>
                                <a data-action="itemToggleValue" data-label="system.expand" data-ability="{{system.expand}}">
                                    {{#if system.expand}}
                                    <i class="fa-solid fa-compress"></i>
                                    {{else}}
                                    <i class="fa-solid fa-expand"></i>
                                    {{/if}}
                                </a>
                                <a data-action="openMenu" class="itemMenu">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </a>
                            </div>
                        </div>
                        {{#if system.expand}}
                        <div class="armoryDescription">
                            {{editor system.description target="system.description" editable=false button=false engine="prosemirror"}}
                        </div>
                        <div class="armoryTags">
                            {{#each system.tags}}
                                <span class="armoryTag">{{this}}</span>
                            {{/each}}
                        </div>
                        {{/if}}
                </div>
                {{/each}}
            </div>

            <div class="ammo abfDivFormat">
                <div class="armoryItemHeader abfDivFormat">
                    <span class="armoryNameHeader"> {{localize "abfalter.consumable"}} </span>
                    <span class="armoryPriceHeader"> {{localize "abfalter.price"}} </span>
                    <span class="armoryWeightHeader"> {{localize "abfalter.weight"}} </span>
                    <span class="armoryQuantityHeader"> {{localize "abfalter.quantity"}} </span>
                    <span class="armoryChargesHeader"> {{localize "abfalter.charges"}} </span>
                    <span class="armoryHeaderEmpty"></span>
                </div>

                {{#each ammos as |ammo|}}
                <div class="armory-item item normal-itemV2 abfDivFormat draggable" data-item-id={{id}}>
                        <div class="armoryItemContainer">
                            <div class="armoryItemMain">
                                <img class="armoryItemImg" src="{{img}}"/>
                                <div class="armoryItemNames">
                                    <span data-action="itemToChat"> {{ammo.name}} </span>
                                    <span> {{system.descTag}} </span>
                                </div>
                                <div class="armoryTags">
                                    {{#if system.properties.magical.bool}}
                                    <i class="fa-solid fa-sparkles"></i>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="armoryPrice">
                                <span > {{system.priceTotal}} </span>
                                <img  src="{{system.priceIcon}}"/>
                            </div>
                            <span class="armoryWeight">
                                {{system.weightTotal}} {{system.weightType}}
                            </span>
                            <div class="armoryQuantity">
                                <a data-action="decrease" data-label="system.quantity" data-value="{{system.quantity}}"><i class="fas fa-minus"> </i></a>
                                <span> {{system.quantity}} </span>
                                <a data-action="increase" data-label="system.quantity" data-value="{{system.quantity}}"><i class="fas fa-plus"></i> </a>
                            </div>
                            <span class="armoryCharges"> — </span>
                            <div class="armoryItemControls">
                                <a class="visibilityOff" data-action="itemToggleValue" data-value="">
                                    <i class="fa-solid fa-shield-halved"></i>
                                </a>
                                <a data-action="itemToggleValue" data-label="system.expand" data-ability="{{system.expand}}">
                                    {{#if system.expand}}
                                    <i class="fa-solid fa-compress"></i>
                                    {{else}}
                                    <i class="fa-solid fa-expand"></i>
                                    {{/if}}
                                </a>
                                <a data-action="openMenu" class="itemMenu">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </a>
                            </div>
                        </div>
                        {{#if system.expand}}
                        <div class="armoryDescription">
                            {{editor system.description target="system.description" editable=false button=false engine="prosemirror"}}
                        </div>
                        <div class="armoryTags">
                            {{#each system.tags}}
                                <span class="armoryTag">{{this}}</span>
                            {{/each}}
                        </div>
                        {{/if}}
                </div>
                {{/each}}
            </div>

            <div class="inventory abfDivFormat">
                <div class="armoryItemHeader abfDivFormat">
                    <span class="armoryNameHeader"> {{localize "abfalter.loot"}} </span>
                    <span class="armoryPriceHeader"> {{localize "abfalter.price"}} </span>
                    <span class="armoryWeightHeader"> {{localize "abfalter.weight"}} </span>
                    <span class="armoryQuantityHeader"> {{localize "abfalter.quantity"}} </span>
                    <span class="armoryChargesHeader"> {{localize "abfalter.charges"}} </span>
                    <span class="armoryHeaderEmpty"></span>
                </div>

                {{#each inventorys as |inventory|}}
                <div class="armory-item item normal-itemV2 abfDivFormat draggable" data-item-id={{id}}>
                        <div class="armoryItemContainer">
                            <div class="armoryItemMain">
                                <img class="armoryItemImg" src="{{img}}"/>
                                <div class="armoryItemNames">
                                    <span data-action="itemToChat"> {{inventory.name}} </span>
                                    <span> {{system.descTag}} </span>
                                </div>
                                <div class="armoryTags">
                                    {{#if system.properties.magical.bool}}
                                    <i class="fa-solid fa-sparkles"></i>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="armoryPrice">
                                <span > {{system.priceTotal}} </span>
                                <img  src="{{system.priceIcon}}"/>
                            </div>
                            <span class="armoryWeight">
                                {{system.weightTotal}} {{system.weightType}}
                            </span>
                            <div class="armoryQuantity">
                                <a data-action="decrease" data-label="system.quantity" data-value="{{system.quantity}}"><i class="fas fa-minus"> </i></a>
                                <span> {{system.quantity}} </span>
                                <a data-action="increase" data-label="system.quantity" data-value="{{system.quantity}}"><i class="fas fa-plus"></i> </a>
                            </div>
                            <span class="armoryCharges"> — </span>
                            <div class="armoryItemControls">
                                <a class="visibilityOff" data-action="itemToggleValue" data-value="">
                                    <i class="fa-solid fa-shield-halved"></i>
                                </a>
                                <a data-action="itemToggleValue" data-label="system.expand" data-ability="{{system.expand}}">
                                    {{#if system.expand}}
                                    <i class="fa-solid fa-compress"></i>
                                    {{else}}
                                    <i class="fa-solid fa-expand"></i>
                                    {{/if}}
                                </a>
                                <a data-action="openMenu" class="itemMenu">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </a>
                            </div>
                        </div>
                        {{#if system.expand}}
                        <div class="armoryDescription">
                            {{#if system.readOnly}}
                            <div class="abfDivFormat">{{system.description}}</div>
                            {{else}}
                            <div class="textarea-div abfDivFormat" style="display: grid;">
                                <textarea class="inline-edit textarea-auto-resize" data-field="system.description" style="grid-area: 1 / 1 / 2/ 2;">{{inventory.system.description}}</textarea>
                                <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{inventory.system.description}}</div>
                            </div>
                            {{/if}}
                        </div>
                        <div class="armoryTags">
                            {{#each system.tags}}
                                <span class="armoryTag">{{this}}</span>
                            {{/each}}
                        </div>
                        {{/if}}
                </div>
                {{/each}}
            </div>
        </div>

        <div class="armoryAddBox">
            <a data-action="armoryAddItem"><i class="fas fa-plus"></i></a>
        </div>
    </div>
</section>
