<form class="baseAbfalter" autocomplete="off">
    <div class="metaMagicGUI">
        <div class="arcanaTitle" style="grid-column:2/9; grid-row:1">
            <h5> {{localize "abfalter.metaMagic.arcTitle"}} </h5>
        </div>
        <div class="arcanaTip" style="grid-column:2/9; grid-row:2">
            <h6> {{localize "abfalter.metaMagic.arcTip"}} </h6>
        </div>
        <!-- Start of Top Column -->
        <div class="bubble {{#if system.metaMagic.incDestro.bought}}{{#if system.metaMagic.incDestro.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 12; grid-row: 1;"
             data-label="system.metaMagic.incDestro.bought" data-label2="system.metaMagic.incDestro.free" data-ability="{{system.metaMagic.incDestro.bought}}"
             data-ability2="{{system.metaMagic.incDestro.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.incStrength"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.incDestro.bought}}bubbleBought{{/if}} {{#if system.metaMagic.empShield.bought}}bubbleBought{{/if}}"
             style="grid-column: 11; grid-row: 1; transform: rotate(-35deg); border-bottom: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.incDestro.bought}}bubbleBought{{/if}} {{#if system.metaMagic.remProtection.bought}}bubbleBought{{/if}}"
             style="grid-column: 13; grid-row: 1; transform: rotate(35deg); border-bottom: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.incDestro.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defExper.bought}}bubbleBought{{/if}}"
             style="grid-column: 12; grid-row: 2/3; width: 45px; border-right: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetWide {{#if system.metaMagic.empShield.bought}}{{#if system.metaMagic.empShield.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 10 / 12; grid-row: 2;"
             data-label="system.metaMagic.empShield.bought" data-label2="system.metaMagic.empShield.free" data-ability="{{system.metaMagic.empShield.bought}}"
             data-ability2="{{system.metaMagic.empShield.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.empShields"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.empShield.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defExper.bought}}bubbleBought{{/if}}"
             style="grid-column: 11; grid-row: 3; transform: rotate(35deg); border-top: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.empShield.bought}}bubbleBought{{/if}} {{#if system.metaMagic.expArea.bought}}bubbleBought{{/if}}"
             style="grid-column: 10; grid-row: 3/4; transform: rotate(-90deg); border-bottom: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetWide {{#if system.metaMagic.remProtection.bought}}{{#if system.metaMagic.remProtection.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 13 / 15; grid-row: 2;"
             data-label="system.metaMagic.remProtection.bought" data-label2="system.metaMagic.remProtection.free" data-ability="{{system.metaMagic.remProtection.bought}}"
             data-ability2="{{system.metaMagic.remProtection.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.remProtect"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.remProtection.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defExper.bought}}bubbleBought{{/if}}"
             style="grid-column: 13; grid-row: 3; transform: rotate(-35deg); border-top: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.remProtection.bought}}bubbleBought{{/if}} {{#if system.metaMagic.mysticAcc.bought}}bubbleBought{{/if}}"
             style="grid-column: 14; grid-row: 3; transform: rotate(-90deg); border-top: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.defExper.bought}}{{#if system.metaMagic.defExper.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 12; grid-row: 3;"
             data-label="system.metaMagic.defExper.bought" data-label2="system.metaMagic.defExper.free" data-ability="{{system.metaMagic.defExper.bought}}"
             data-ability2="{{system.metaMagic.defExper.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.defExper"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.defExper.bought}}bubbleBought{{/if}} {{#if system.metaMagic.expArea.bought}}bubbleBought{{/if}}"
             style="grid-column: 11; grid-row: 3; transform: rotate(-35deg); border-bottom: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.defExper.bought}}bubbleBought{{/if}} {{#if system.metaMagic.mysticAcc.bought}}bubbleBought{{/if}}"
             style="grid-column: 13; grid-row: 3; transform: rotate(35deg); border-bottom: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetWide {{#if system.metaMagic.expArea.bought}}{{#if system.metaMagic.expArea.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 10 / 12; grid-row: 4;"
             data-label="system.metaMagic.expArea.bought" data-label2="system.metaMagic.expArea.free" data-ability="{{system.metaMagic.expArea.bought}}"
             data-ability2="{{system.metaMagic.expArea.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> 3 </span>
                <span> {{localize "abfalter.metaMagic.expArea"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.expArea.bought}}bubbleBought{{/if}} {{#if system.metaMagic.offExper.bought}}bubbleBought{{/if}}"
             style="grid-column: 11; grid-row: 5; transform: rotate(35deg); border-top: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.expArea.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defExper2.bought}}bubbleBought{{/if}}"
             style="grid-column: 10; grid-row: 5/8; border-right: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetWide {{#if system.metaMagic.mysticAcc.bought}}{{#if system.metaMagic.mysticAcc.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 13 / 15; grid-row: 4;"
             data-label="system.metaMagic.mysticAcc.bought" data-label2="system.metaMagic.mysticAcc.free" data-ability="{{system.metaMagic.mysticAcc.bought}}"
             data-ability2="{{system.metaMagic.mysticAcc.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 2 </span>
                <span> {{localize "abfalter.metaMagic.mysticAccu"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.mysticAcc.bought}}bubbleBought{{/if}} {{#if system.metaMagic.offExper.bought}}bubbleBought{{/if}}"
             style="grid-column: 13; grid-row: 5; transform: rotate(-35deg); border-top: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.mysticAcc.bought}}bubbleBought{{/if}} {{#if system.metaMagic.expArea2.bought}}bubbleBought{{/if}}"
             style="grid-column: 14; grid-row: 5/8; border-left: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.offExper.bought}}{{#if system.metaMagic.offExper.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 12; grid-row: 5;"
             data-label="system.metaMagic.offExper.bought" data-label2="system.metaMagic.offExper.free" data-ability="{{system.metaMagic.offExper.bought}}"
             data-ability2="{{system.metaMagic.offExper.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> 4 </span>
                <span> {{localize "abfalter.metaMagic.offeExper"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.offExper.bought}}bubbleBought{{/if}} {{#if system.metaMagic.mysticAcc2.bought}}bubbleBought{{/if}}"
             style="grid-column: 12; grid-row: 6/7; width: 45px; border-right: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.mysticAcc2.bought}}{{#if system.metaMagic.mysticAcc2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 12; grid-row: 7;"
             data-label="system.metaMagic.mysticAcc2.bought" data-label2="system.metaMagic.mysticAcc2.free" data-ability="{{system.metaMagic.mysticAcc2.bought}}"
             data-ability2="{{system.metaMagic.mysticAcc2.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> 6 </span>
                <span> {{localize "abfalter.metaMagic.mysticAccu"}} </span>
                <span> 10 </span>
            </div>
        </div>

        <div class="bubble bubbleOffsetWide {{#if system.metaMagic.defExper2.bought}}{{#if system.metaMagic.defExper2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 10 / 12; grid-row: 8;"
             data-label="system.metaMagic.defExper2.bought" data-label2="system.metaMagic.defExper2.free" data-ability="{{system.metaMagic.defExper2.bought}}"
             data-ability2="{{system.metaMagic.defExper2.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> 6 </span>
                <span> {{localize "abfalter.metaMagic.defExper"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.defExper2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.offExper2.bought}}bubbleBought{{/if}}"
             style="grid-column: 11; grid-row: 9; transform: rotate(35deg); border-top: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetWide {{#if system.metaMagic.expArea2.bought}}{{#if system.metaMagic.expArea2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 13 / 15; grid-row: 8;"
             data-label="system.metaMagic.expArea2.bought" data-label2="system.metaMagic.expArea2.free" data-ability="{{system.metaMagic.expArea2.bought}}"
             data-ability2="{{system.metaMagic.expArea2.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> 6 </span>
                <span> {{localize "abfalter.metaMagic.expArea"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.expArea2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.offExper2.bought}}bubbleBought{{/if}}"
             style="grid-column: 13; grid-row: 9; transform: rotate(-35deg); border-top: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.offExper2.bought}}{{#if system.metaMagic.offExper2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 12; grid-row: 9;"
             data-label="system.metaMagic.offExper2.bought" data-label2="system.metaMagic.offExper2.free" data-ability="{{system.metaMagic.offExper2.bought}}"
             data-ability2="{{system.metaMagic.offExper2.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> 7 </span>
                <span> {{localize "abfalter.metaMagic.offeExper"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.offExper2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.doubleDmg.bought}}bubbleBought{{/if}}"
             style="grid-column: 11/13; grid-row: 10; transform: rotate(-35deg); border-top: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetCapstone {{#if system.metaMagic.doubleDmg.bought}}{{#if system.metaMagic.doubleDmg.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 10 / 12; grid-row: 10 / 12;"
             data-label="system.metaMagic.doubleDmg.bought" data-label2="system.metaMagic.doubleDmg.free" data-ability="{{system.metaMagic.doubleDmg.bought}}"
             data-ability2="{{system.metaMagic.doubleDmg.free}}" data-value="20">
            <div class="bubbleInfoCap">
                <span> 10 </span>
                <span> {{localize "abfalter.metaMagic.doubleDmg"}} </span>
                <span> 20 </span>
            </div>
        </div>
        <!-- End of Top Column -->
        <!-- Start of Top-Left Block -->
        <div class="bubble {{#if system.metaMagic.remProtection2.bought}}{{#if system.metaMagic.remProtection2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 7; grid-row: 4;"
             data-label="system.metaMagic.remProtection2.bought" data-label2="system.metaMagic.remProtection2.free" data-ability="{{system.metaMagic.remProtection2.bought}}"
             data-ability2="{{system.metaMagic.remProtection2.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.remProtect"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.remProtection2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.expArea.bought}}bubbleBought{{/if}}"
             style="grid-column: 8/11; grid-row: 4; height: 45px; border-bottom: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.remProtection2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.empShield2.bought}}bubbleBought{{/if}}"
             style="grid-column: 4/7; grid-row: 4; height: 45px; border-bottom: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.empShield2.bought}}{{#if system.metaMagic.empShield2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 3; grid-row: 4;"
             data-label="system.metaMagic.empShield2.bought" data-label2="system.metaMagic.empShield2.free" data-ability="{{system.metaMagic.empShield2.bought}}"
             data-ability2="{{system.metaMagic.empShield2.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 4 </span>
                <span> {{localize "abfalter.metaMagic.empShields"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.empShield2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defExper3.bought}}bubbleBought{{/if}}"
             style="grid-column: 3/6; grid-row: 5; transform: rotate(45deg); height: 40px; border-bottom: 5px solid #383838; "></div>

        <div class="bubble {{#if system.metaMagic.defExper3.bought}}{{#if system.metaMagic.defExper3.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 5; grid-row: 6;"
             data-label="system.metaMagic.defExper3.bought" data-label2="system.metaMagic.defExper3.free" data-ability="{{system.metaMagic.defExper3.bought}}"
             data-ability2="{{system.metaMagic.defExper3.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> 5 </span>
                <span> {{localize "abfalter.metaMagic.defExper"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.defExper3.bought}}bubbleBought{{/if}} {{#if system.metaMagic.forceSpeed2.bought}}bubbleBought{{/if}}"
             style="grid-column: 5/8; grid-row: 7; transform: rotate(45deg); height: 40px; border-bottom: 5px solid #383838; "></div>

        <div class="bubble {{#if system.metaMagic.forceSpeed2.bought}}{{#if system.metaMagic.forceSpeed2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 7; grid-row: 8;"
             data-label="system.metaMagic.forceSpeed2.bought" data-label2="system.metaMagic.forceSpeed2.free" data-ability="{{system.metaMagic.forceSpeed2.bought}}"
             data-ability2="{{system.metaMagic.forceSpeed2.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 2 </span>
                <span> {{localize "abfalter.metaMagic.forceSpeed"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.forceSpeed2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.feelMagic.bought}}bubbleBought{{/if}}"
             style="grid-column: 4/7; grid-row: 8; height: 45px; border-bottom: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.feelMagic.bought}}{{#if system.metaMagic.feelMagic.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 3; grid-row: 8;"
             data-label="system.metaMagic.feelMagic.bought" data-label2="system.metaMagic.feelMagic.free" data-ability="{{system.metaMagic.feelMagic.bought}}"
             data-ability2="{{system.metaMagic.feelMagic.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.feelMagic"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.feelMagic.bought}}bubbleBought{{/if}} {{#if system.metaMagic.transferMagic.bought}}bubbleBought{{/if}}"
             style="grid-column: 4; grid-row: 8/11; transform: rotate(-25deg); border-left: 5px solid #383838;"></div>

        <!-- End of Top-Left Block -->
        <!-- Start of Left Column Block -->
        <div class="bubble {{#if system.metaMagic.lifeMagic.bought}}{{#if system.metaMagic.lifeMagic.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 1; grid-row: 12;"
             data-label="system.metaMagic.lifeMagic.bought" data-label2="system.metaMagic.lifeMagic.free" data-ability="{{system.metaMagic.lifeMagic.bought}}"
             data-ability2="{{system.metaMagic.lifeMagic.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.lifeMagic"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.lifeMagic.bought}}bubbleBought{{/if}} {{#if system.metaMagic.secDefense.bought}}bubbleBought{{/if}}"
             style="grid-column: 1; grid-row: 11; transform: rotate(35deg); border-right: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.lifeMagic.bought}}bubbleBought{{/if}} {{#if system.metaMagic.forceSpeed.bought}}bubbleBought{{/if}}"
             style="grid-column: 1; grid-row: 13; transform: rotate(-35deg); border-right: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.lifeMagic.bought}}bubbleBought{{/if}} {{#if system.metaMagic.eneControl.bought}}bubbleBought{{/if}}"
             style="grid-column: 2; grid-row: 12/14; transform: rotate(90deg); border-left: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetTall {{#if system.metaMagic.secDefense.bought}}{{#if system.metaMagic.secDefense.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 2; grid-row: 10 / 12;"
             data-label="system.metaMagic.secDefense.bought" data-label2="system.metaMagic.secDefense.free" data-ability="{{system.metaMagic.secDefense.bought}}"
             data-ability2="{{system.metaMagic.secDefense.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.secDefense"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.secDefense.bought}}bubbleBought{{/if}} {{#if system.metaMagic.eneControl.bought}}bubbleBought{{/if}}"
             style="grid-column: 3; grid-row: 11; transform: rotate(-35deg); border-left: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.secDefense.bought}}bubbleBought{{/if}} {{#if system.metaMagic.transferMagic.bought}}bubbleBought{{/if}}"
             style="grid-column: 3; grid-row: 10; transform: rotate(90deg); border-right: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetTall {{#if system.metaMagic.forceSpeed.bought}}{{#if system.metaMagic.forceSpeed.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 2; grid-row: 13 / 15;"
             data-label="system.metaMagic.forceSpeed.bought" data-label2="system.metaMagic.forceSpeed.free" data-ability="{{system.metaMagic.forceSpeed.bought}}"
             data-ability2="{{system.metaMagic.forceSpeed.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.forceSpeed"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.forceSpeed.bought}}bubbleBought{{/if}} {{#if system.metaMagic.eneControl.bought}}bubbleBought{{/if}}"
             style="grid-column: 3; grid-row: 13; transform: rotate(35deg); border-left: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.forceSpeed.bought}}bubbleBought{{/if}} {{#if system.metaMagic.endureDamage.bought}}bubbleBought{{/if}}"
             style="grid-column: 3; grid-row: 14; transform: rotate(90deg); border-left: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.eneControl.bought}}{{#if system.metaMagic.eneControl.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 3; grid-row: 12;"
             data-label="system.metaMagic.eneControl.bought" data-label2="system.metaMagic.eneControl.free" data-ability="{{system.metaMagic.eneControl.bought}}"
             data-ability2="{{system.metaMagic.eneControl.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.eneControl"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.eneControl.bought}}bubbleBought{{/if}} {{#if system.metaMagic.transferMagic.bought}}bubbleBought{{/if}}"
             style="grid-column: 3; grid-row: 11; transform: rotate(35deg); border-right: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.eneControl.bought}}bubbleBought{{/if}} {{#if system.metaMagic.endureDamage.bought}}bubbleBought{{/if}}"
             style="grid-column: 3; grid-row: 13; transform: rotate(-35deg); border-right: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetTall {{#if system.metaMagic.transferMagic.bought}}{{#if system.metaMagic.transferMagic.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 4; grid-row: 10 / 12;"
             data-label="system.metaMagic.transferMagic.bought" data-label2="system.metaMagic.transferMagic.free" data-ability="{{system.metaMagic.transferMagic.bought}}"
             data-ability2="{{system.metaMagic.transferMagic.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> 3 </span>
                <span> {{localize "abfalter.metaMagic.transferMagic"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.transferMagic.bought}}bubbleBought{{/if}} {{#if system.metaMagic.lifeMagic2.bought}}bubbleBought{{/if}}"
             style="grid-column: 5; grid-row: 11; transform: rotate(-35deg); border-left: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.transferMagic.bought}}bubbleBought{{/if}} {{#if system.metaMagic.controlSpace.bought}}bubbleBought{{/if}}"
             style="grid-column: 5/8; grid-row: 10; border-bottom: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetTall {{#if system.metaMagic.endureDamage.bought}}{{#if system.metaMagic.endureDamage.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 4; grid-row: 13 / 15;"
             data-label="system.metaMagic.endureDamage.bought" data-label2="system.metaMagic.endureDamage.free" data-ability="{{system.metaMagic.endureDamage.bought}}"
             data-ability2="{{system.metaMagic.endureDamage.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> 3 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.endureDamage"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.endureDamage.bought}}bubbleBought{{/if}} {{#if system.metaMagic.lifeMagic2.bought}}bubbleBought{{/if}}"
             style="grid-column: 5; grid-row: 13; transform: rotate(35deg); border-left: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.endureDamage.bought}}bubbleBought{{/if}} {{#if system.metaMagic.spiritLoop2.bought}}bubbleBought{{/if}}"
             style="grid-column: 5/8; grid-row: 14; border-top: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.lifeMagic2.bought}}{{#if system.metaMagic.lifeMagic2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 5; grid-row: 12;"
             data-label="system.metaMagic.lifeMagic2.bought" data-label2="system.metaMagic.lifeMagic2.free" data-ability="{{system.metaMagic.lifeMagic2.bought}}"
             data-ability2="{{system.metaMagic.lifeMagic2.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 3 </span>
                <span> {{localize "abfalter.metaMagic.lifeMagic"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.lifeMagic2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.spiritLoop.bought}}bubbleBought{{/if}}"
             style="grid-column: 6; grid-row: 12/14; transform: rotate(90deg); border-left: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.spiritLoop.bought}}{{#if system.metaMagic.spiritLoop.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 7; grid-row: 12;"
             data-label="system.metaMagic.spiritLoop.bought" data-label2="system.metaMagic.spiritLoop.free" data-ability="{{system.metaMagic.spiritLoop.bought}}"
             data-ability2="{{system.metaMagic.spiritLoop.free}}" data-value="15">
            <div class="bubbleInfo">
                <span> 6 </span>
                <span> {{localize "abfalter.metaMagic.spiritLoop"}} </span>
                <span> 15 </span>
            </div>
        </div>

        <div class="bubble bubbleOffsetTall {{#if system.metaMagic.controlSpace.bought}}{{#if system.metaMagic.controlSpace.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 8; grid-row: 10 / 12;"
             data-label="system.metaMagic.controlSpace.bought" data-label2="system.metaMagic.controlSpace.free" data-ability="{{system.metaMagic.controlSpace.bought}}"
             data-ability2="{{system.metaMagic.controlSpace.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> 6 </span>
                <span> {{localize "abfalter.metaMagic.controlSpace"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.controlSpace.bought}}bubbleBought{{/if}} {{#if system.metaMagic.doubleInnate.bought}}bubbleBought{{/if}}"
             style="grid-column: 9; grid-row: 11; transform: rotate(-35deg); border-left: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetTall {{#if system.metaMagic.spiritLoop2.bought}}{{#if system.metaMagic.spiritLoop2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 8; grid-row: 13 / 15;"
             data-label="system.metaMagic.spiritLoop2.bought" data-label2="system.metaMagic.spiritLoop2.free" data-ability="{{system.metaMagic.spiritLoop2.bought}}"
             data-ability2="{{system.metaMagic.spiritLoop2.free}}" data-value="25">
            <div class="bubbleInfo">
                <span> 9 </span>
                <span> {{localize "abfalter.metaMagic.spiritLoop"}} </span>
                <span> 25 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.spiritLoop2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.doubleInnate.bought}}bubbleBought{{/if}}"
             style="grid-column: 9; grid-row: 13; transform: rotate(35deg); border-left: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.doubleInnate.bought}}{{#if system.metaMagic.doubleInnate.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 9; grid-row: 12;"
             data-label="system.metaMagic.doubleInnate.bought" data-label2="system.metaMagic.doubleInnate.free" data-ability="{{system.metaMagic.doubleInnate.bought}}"
             data-ability2="{{system.metaMagic.doubleInnate.free}}" data-value="20">
            <div class="bubbleInfo">
                <span> 7 </span>
                <span> {{localize "abfalter.metaMagic.doubleInnate"}} </span>
                <span> 20 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.doubleInnate.bought}}bubbleBought{{/if}} {{#if system.metaMagic.natMaint.bought}}bubbleBought{{/if}}"
             style="grid-column: 10; grid-row: 12/14; transform: rotate(-35deg); border-left: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetCapstone {{#if system.metaMagic.natMaint.bought}}{{#if system.metaMagic.natMaint.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 10 / 12; grid-row: 13 / 15;"
             data-label="system.metaMagic.natMaint.bought" data-label2="system.metaMagic.natMaint.free" data-ability="{{system.metaMagic.natMaint.bought}}"
             data-ability2="{{system.metaMagic.natMaint.free}}" data-value="20">
            <div class="bubbleInfoCap">
                <span> 10 </span>
                <span> {{localize "abfalter.metaMagic.natMaint"}} </span>
                <span> 20 </span>
            </div>
        </div>
        <!-- End of Left Column Block -->
        <!-- Start of Bottom-Left Block -->
        <div class="bubble {{#if system.metaMagic.hiddenMagic.bought}}{{#if system.metaMagic.hiddenMagic.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 3; grid-row: 16;"
             data-label="system.metaMagic.hiddenMagic.bought" data-label2="system.metaMagic.hiddenMagic.free" data-ability="{{system.metaMagic.hiddenMagic.bought}}"
             data-ability2="{{system.metaMagic.hiddenMagic.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.hiddenMagic"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.hiddenMagic.bought}}bubbleBought{{/if}} {{#if system.metaMagic.endureDamage.bought}}bubbleBought{{/if}}"
             style="grid-column: 4; grid-row: 14/17; transform: rotate(25deg); border-left: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.hiddenMagic.bought}}bubbleBought{{/if}} {{#if system.metaMagic.forceSpeed3.bought}}bubbleBought{{/if}}"
             style="grid-column: 4/7; grid-row: 16; height: 45px; border-bottom: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.forceSpeed3.bought}}{{#if system.metaMagic.forceSpeed3.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 7; grid-row: 16;"
             data-label="system.metaMagic.forceSpeed3.bought" data-label2="system.metaMagic.forceSpeed3.free" data-ability="{{system.metaMagic.forceSpeed3.bought}}"
             data-ability2="{{system.metaMagic.forceSpeed3.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 2 </span>
                <span> {{localize "abfalter.metaMagic.forceSpeed"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.forceSpeed3.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defMagicProj6.bought}}bubbleBought{{/if}}"
             style="grid-column: 5/8; grid-row: 17; transform: rotate(-45deg); height: 40px; border-bottom: 5px solid #383838; "></div>

        <div class="bubble {{#if system.metaMagic.defMagicProj6.bought}}{{#if system.metaMagic.defMagicProj6.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 5; grid-row: 18;"
             data-label="system.metaMagic.defMagicProj6.bought" data-label2="system.metaMagic.defMagicProj6.free" data-ability="{{system.metaMagic.defMagicProj6.bought}}"
             data-ability2="{{system.metaMagic.defMagicProj6.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 5 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.definedProject"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.defMagicProj6.bought}}bubbleBought{{/if}} {{#if system.metaMagic.advZeonRegen3.bought}}bubbleBought{{/if}}"
             style="grid-column: 3/6; grid-row: 19; transform: rotate(-45deg); height: 40px; border-bottom: 5px solid #383838; "></div>

        <div class="bubble {{#if system.metaMagic.advZeonRegen3.bought}}{{#if system.metaMagic.advZeonRegen3.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 3; grid-row: 20;"
             data-label="system.metaMagic.advZeonRegen3.bought" data-label2="system.metaMagic.advZeonRegen3.free" data-ability="{{system.metaMagic.advZeonRegen3.bought}}"
             data-ability2="{{system.metaMagic.advZeonRegen3.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 5 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.advZeonRegen"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.advZeonRegen3.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defMagicProj5.bought}}bubbleBought{{/if}}"
             style="grid-column: 4/7; grid-row: 20; height: 45px; border-bottom: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.defMagicProj5.bought}}{{#if system.metaMagic.defMagicProj5.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 7; grid-row: 20;"
             data-label="system.metaMagic.defMagicProj5.bought" data-label2="system.metaMagic.defMagicProj5.free" data-ability="{{system.metaMagic.defMagicProj5.bought}}"
             data-ability2="{{system.metaMagic.defMagicProj5.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 4 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.definedProject"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.defMagicProj5.bought}}bubbleBought{{/if}} {{#if system.metaMagic.combinedMagic.bought}}bubbleBought{{/if}}"
             style="grid-column: 8/11; grid-row: 20; height: 45px; border-bottom: 5px solid #383838;"></div>
        <!-- End of Bottom-Left Block -->
        <!-- Start of Bottom Column Block -->
        <div class="bubble {{#if system.metaMagic.defMagicProj.bought}}{{#if system.metaMagic.defMagicProj.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 12; grid-row: 23;"
             data-label="system.metaMagic.defMagicProj.bought" data-label2="system.metaMagic.defMagicProj.free" data-ability="{{system.metaMagic.defMagicProj.bought}}"
             data-ability2="{{system.metaMagic.defMagicProj.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.definedProject"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.defMagicProj.bought}}bubbleBought{{/if}} {{#if system.metaMagic.advZeonRegen.bought}}bubbleBought{{/if}}"
             style="grid-column: 11; grid-row: 23; transform: rotate(35deg); border-top: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.defMagicProj.bought}}bubbleBought{{/if}} {{#if system.metaMagic.exploitEne.bought}}bubbleBought{{/if}}"
             style="grid-column: 13; grid-row: 23; transform: rotate(-35deg); border-top: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.defMagicProj.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defMagicProj2.bought}}bubbleBought{{/if}}"
             style="grid-column: 12; grid-row: 22/23; width: 45px; border-right: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetWide {{#if system.metaMagic.advZeonRegen.bought}}{{#if system.metaMagic.advZeonRegen.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 10 / 12; grid-row: 22;"
             data-label="system.metaMagic.advZeonRegen.bought" data-label2="system.metaMagic.advZeonRegen.free" data-ability="{{system.metaMagic.advZeonRegen.bought}}"
             data-ability2="{{system.metaMagic.advZeonRegen.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.advZeonRegen"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.advZeonRegen.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defMagicProj2.bought}}bubbleBought{{/if}}"
             style="grid-column: 11; grid-row: 21; transform: rotate(-35deg); border-bottom: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.advZeonRegen.bought}}bubbleBought{{/if}} {{#if system.metaMagic.combinedMagic.bought}}bubbleBought{{/if}}"
             style="grid-column: 10; grid-row: 21/22; transform: rotate(-90deg); border-bottom: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetWide {{#if system.metaMagic.exploitEne.bought}}{{#if system.metaMagic.exploitEne.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 13 / 15; grid-row: 22;"
             data-label="system.metaMagic.exploitEne.bought" data-label2="system.metaMagic.exploitEne.free" data-ability="{{system.metaMagic.exploitEne.bought}}"
             data-ability2="{{system.metaMagic.exploitEne.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.exploitEne"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.exploitEne.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defMagicProj2.bought}}bubbleBought{{/if}}"
             style="grid-column: 13; grid-row: 21; transform: rotate(35deg); border-bottom: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.exploitEne.bought}}bubbleBought{{/if}} {{#if system.metaMagic.persisEffects.bought}}bubbleBought{{/if}}"
             style="grid-column: 14; grid-row: 21/22; transform: rotate(-90deg); border-top: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.defMagicProj2.bought}}{{#if system.metaMagic.defMagicProj2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 12; grid-row: 21;"
             data-label="system.metaMagic.defMagicProj2.bought" data-label2="system.metaMagic.defMagicProj2.free" data-ability="{{system.metaMagic.defMagicProj2.bought}}"
             data-ability2="{{system.metaMagic.defMagicProj2.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.definedProject"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.defMagicProj2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.combinedMagic.bought}}bubbleBought{{/if}}"
             style="grid-column: 11; grid-row: 21; transform: rotate(35deg); border-top: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.defMagicProj2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.persisEffects.bought}}bubbleBought{{/if}}"
             style="grid-column: 13; grid-row: 21; transform: rotate(-35deg); border-top: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetWide {{#if system.metaMagic.combinedMagic.bought}}{{#if system.metaMagic.combinedMagic.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 10 / 12; grid-row: 20;"
             data-label="system.metaMagic.combinedMagic.bought" data-label2="system.metaMagic.combinedMagic.free" data-ability="{{system.metaMagic.combinedMagic.bought}}"
             data-ability2="{{system.metaMagic.combinedMagic.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 3 </span>
                <span> {{localize "abfalter.metaMagic.combMagic"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.combinedMagic.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defMagicProj3.bought}}bubbleBought{{/if}}"
             style="grid-column: 11; grid-row: 19; transform: rotate(-35deg); border-bottom: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.combinedMagic.bought}}bubbleBought{{/if}} {{#if system.metaMagic.advZeonRegen2.bought}}bubbleBought{{/if}}"
             style="grid-column: 10; grid-row: 17/20; border-right: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetWide {{#if system.metaMagic.persisEffects.bought}}{{#if system.metaMagic.persisEffects.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 13 / 15; grid-row: 20;"
             data-label="system.metaMagic.persisEffects.bought" data-label2="system.metaMagic.persisEffects.free" data-ability="{{system.metaMagic.persisEffects.bought}}"
             data-ability2="{{system.metaMagic.persisEffects.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 3 </span>
                <span> {{localize "abfalter.metaMagic.perEffe"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.persisEffects.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defMagicProj3.bought}}bubbleBought{{/if}}"
             style="grid-column: 13; grid-row: 19; transform: rotate(35deg); border-bottom: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.persisEffects.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defMagicProj4.bought}}bubbleBought{{/if}}"
             style="grid-column: 14; grid-row: 17/20; border-left: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.defMagicProj3.bought}}{{#if system.metaMagic.defMagicProj3.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 12; grid-row: 19;"
             data-label="system.metaMagic.defMagicProj3.bought" data-label2="system.metaMagic.defMagicProj3.free" data-ability="{{system.metaMagic.defMagicProj3.bought}}"
             data-ability2="{{system.metaMagic.defMagicProj3.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 6 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.definedProject"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.defMagicProj3.bought}}bubbleBought{{/if}} {{#if system.metaMagic.elevation.bought}}bubbleBought{{/if}}"
             style="grid-column: 12; grid-row: 18/19; width: 45px; border-right: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.elevation.bought}}{{#if system.metaMagic.elevation.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 12; grid-row: 17;"
             data-label="system.metaMagic.elevation.bought" data-label2="system.metaMagic.elevation.free" data-ability="{{system.metaMagic.elevation.bought}}"
             data-ability2="{{system.metaMagic.elevation.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 6 </span>
                <span> {{localize "abfalter.metaMagic.elevation"}} </span>
                <span> 5 </span>
            </div>
        </div>

        <div class="bubble bubbleOffsetWide {{#if system.metaMagic.advZeonRegen2.bought}}{{#if system.metaMagic.advZeonRegen2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 10 / 12; grid-row: 16;"
             data-label="system.metaMagic.advZeonRegen2.bought" data-label2="system.metaMagic.advZeonRegen2.free" data-ability="{{system.metaMagic.advZeonRegen2.bought}}"
             data-ability2="{{system.metaMagic.advZeonRegen2.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 8 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.advZeonRegen"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.advZeonRegen2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.avatar.bought}}bubbleBought{{/if}}"
             style="grid-column: 11; grid-row: 15; transform: rotate(-35deg); border-bottom: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetWide {{#if system.metaMagic.defMagicProj4.bought}}{{#if system.metaMagic.defMagicProj4.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 13 / 15; grid-row: 16;"
             data-label="system.metaMagic.defMagicProj4.bought" data-label2="system.metaMagic.defMagicProj4.free" data-ability="{{system.metaMagic.defMagicProj4.bought}}"
             data-ability2="{{system.metaMagic.defMagicProj4.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 10 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.definedProject"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.defMagicProj4.bought}}bubbleBought{{/if}} {{#if system.metaMagic.avatar.bought}}bubbleBought{{/if}}"
             style="grid-column: 13; grid-row: 15; transform: rotate(35deg); border-bottom: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.avatar.bought}}{{#if system.metaMagic.avatar.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 12; grid-row: 15;"
             data-label="system.metaMagic.avatar.bought" data-label2="system.metaMagic.avatar.free" data-ability="{{system.metaMagic.avatar.bought}}"
             data-ability2="{{system.metaMagic.avatar.free}}" data-value="20">
            <div class="bubbleInfo">
                <span> 9 </span>
                <span> {{localize "abfalter.metaMagic.avatar"}} </span>
                <span> 20 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.avatar.bought}}bubbleBought{{/if}} {{#if system.metaMagic.unlimitedZeon.bought}}bubbleBought{{/if}}"
             style="grid-column: 12/14; grid-row: 14; transform: rotate(-35deg); border-bottom: 5px solid #383838; "></div>

        <div class="bubble bubbleOffsetCapstone {{#if system.metaMagic.unlimitedZeon.bought}}{{#if system.metaMagic.unlimitedZeon.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 13 / 15; grid-row: 13 / 15;"
             data-label="system.metaMagic.unlimitedZeon.bought" data-label2="system.metaMagic.unlimitedZeon.free" data-ability="{{system.metaMagic.unlimitedZeon.bought}}"
             data-ability2="{{system.metaMagic.unlimitedZeon.free}}" data-value="20">
            <div class="bubbleInfoCap">
                <span> 10 </span>
                <span> {{localize "abfalter.metaMagic.unlimitedZeon"}} </span>
                <span> 20 </span>
            </div>
        </div>
        <!-- End of Bottom Column Block -->
        <!-- Start of Bottom-Right Block -->
        <div class="bubble {{#if system.metaMagic.exploitEne2.bought}}{{#if system.metaMagic.exploitEne2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 17; grid-row: 20;"
             data-label="system.metaMagic.exploitEne2.bought" data-label2="system.metaMagic.exploitEne2.free" data-ability="{{system.metaMagic.exploitEne2.bought}}"
             data-ability2="{{system.metaMagic.exploitEne2.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 3 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.exploitEne"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.exploitEne2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.persisEffects.bought}}bubbleBought{{/if}}"
             style="grid-column: 14/17; grid-row: 20; height: 45px; border-bottom: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.exploitEne2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.defMagicProj7.bought}}bubbleBought{{/if}}"
             style="grid-column: 18/21; grid-row: 20; height: 45px; border-bottom: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.defMagicProj7.bought}}{{#if system.metaMagic.defMagicProj7.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 21; grid-row: 20;"
             data-label="system.metaMagic.defMagicProj7.bought" data-label2="system.metaMagic.defMagicProj7.free" data-ability="{{system.metaMagic.defMagicProj7.bought}}"
             data-ability2="{{system.metaMagic.defMagicProj7.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 3 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.definedProject"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.defMagicProj7.bought}}bubbleBought{{/if}} {{#if system.metaMagic.spellSpec70.bought}}bubbleBought{{/if}}"
             style="grid-column: 19/22; grid-row: 19; transform: rotate(45deg); height: 40px; border-bottom: 5px solid #383838; "></div>

        <div class="bubble {{#if system.metaMagic.spellSpec70.bought}}{{#if system.metaMagic.spellSpec70.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 19; grid-row: 18;"
             data-label="system.metaMagic.spellSpec70.bought" data-label2="system.metaMagic.spellSpec70.free" data-ability="{{system.metaMagic.spellSpec70.bought}}"
             data-ability2="{{system.metaMagic.spellSpec70.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 5 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.spellSpec"}} 70 </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.spellSpec70.bought}}bubbleBought{{/if}} {{#if system.metaMagic.pierceRes2.bought}}bubbleBought{{/if}}"
             style="grid-column: 17/20; grid-row: 17; transform: rotate(45deg); height: 40px; border-bottom: 5px solid #383838; "></div>

        <div class="bubble {{#if system.metaMagic.pierceRes2.bought}}{{#if system.metaMagic.pierceRes2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 17; grid-row: 16;"
             data-label="system.metaMagic.pierceRes2.bought" data-label2="system.metaMagic.pierceRes2.free" data-ability="{{system.metaMagic.pierceRes2.bought}}"
             data-ability2="{{system.metaMagic.pierceRes2.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 4 </span>
                <span> {{localize "abfalter.metaMagic.pierceRes"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.pierceRes2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.spellSpec60x.bought}}bubbleBought{{/if}}"
             style="grid-column: 18/21; grid-row: 16; height: 45px; border-bottom: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.spellSpec60x.bought}}{{#if system.metaMagic.spellSpec60x.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 21; grid-row: 16;"
             data-label="system.metaMagic.spellSpec60x.bought" data-label2="system.metaMagic.spellSpec60x.free" data-ability="{{system.metaMagic.spellSpec60x.bought}}"
             data-ability2="{{system.metaMagic.spellSpec60x.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 3 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.spellSpec"}} 60 </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.spellSpec60x.bought}}bubbleBought{{/if}} {{#if system.metaMagic.pierceRes.bought}}bubbleBought{{/if}}"
             style="grid-column: 21; grid-row: 14/16; transform: rotate(-25deg); border-left: 5px solid #383838;"></div>
        <!-- End of Bottom-Right Block -->
        <!-- Start of Right Column Block -->
        <div class="bubble {{#if system.metaMagic.mysticConcen.bought}}{{#if system.metaMagic.mysticConcen.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 23; grid-row: 12;"
             data-label="system.metaMagic.mysticConcen.bought" data-label2="system.metaMagic.mysticConcen.free" data-ability="{{system.metaMagic.mysticConcen.bought}}"
             data-ability2="{{system.metaMagic.mysticConcen.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.mysticCon"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.mysticConcen.bought}}bubbleBought{{/if}} {{#if system.metaMagic.spellSpec30.bought}}bubbleBought{{/if}}"
             style="grid-column: 23; grid-row: 11; transform: rotate(-35deg); border-left: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.mysticConcen.bought}}bubbleBought{{/if}} {{#if system.metaMagic.spellSpec30x.bought}}bubbleBought{{/if}}"
             style="grid-column: 23; grid-row: 13; transform: rotate(35deg); border-left: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.mysticConcen.bought}}bubbleBought{{/if}} {{#if system.metaMagic.incRange.bought}}bubbleBought{{/if}}"
             style="grid-column: 22; grid-row: 12/14; transform: rotate(90deg); border-left: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetTall {{#if system.metaMagic.spellSpec30.bought}}{{#if system.metaMagic.spellSpec30.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 22; grid-row: 10 / 12;"
             data-label="system.metaMagic.spellSpec30.bought" data-label2="system.metaMagic.spellSpec30.free" data-ability="{{system.metaMagic.spellSpec30.bought}}"
             data-ability2="{{system.metaMagic.spellSpec30.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.spellSpec"}} 30 </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.spellSpec30.bought}}bubbleBought{{/if}} {{#if system.metaMagic.incRange.bought}}bubbleBought{{/if}}"
             style="grid-column: 21; grid-row: 11; transform: rotate(35deg); border-right: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.spellSpec30.bought}}bubbleBought{{/if}} {{#if system.metaMagic.spellSpec60.bought}}bubbleBought{{/if}}"
             style="grid-column: 21; grid-row: 10; transform: rotate(90deg); border-right: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetTall {{#if system.metaMagic.spellSpec30x.bought}}{{#if system.metaMagic.spellSpec30x.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 22; grid-row: 13 / 15;"
             data-label="system.metaMagic.spellSpec30x.bought" data-label2="system.metaMagic.spellSpec30x.free" data-ability="{{system.metaMagic.spellSpec30x.bought}}"
             data-ability2="{{system.metaMagic.spellSpec30x.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.spellSpec"}} 30 </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.spellSpec30x.bought}}bubbleBought{{/if}} {{#if system.metaMagic.incRange.bought}}bubbleBought{{/if}}"
             style="grid-column: 21; grid-row: 13; transform: rotate(-35deg); border-right: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.spellSpec30x.bought}}bubbleBought{{/if}} {{#if system.metaMagic.pierceRes.bought}}bubbleBought{{/if}}"
             style="grid-column: 21; grid-row: 14; transform: rotate(90deg); border-left: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.incRange.bought}}{{#if system.metaMagic.incRange.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 21; grid-row: 12;"
             data-label="system.metaMagic.incRange.bought" data-label2="system.metaMagic.incRange.free" data-ability="{{system.metaMagic.incRange.bought}}"
             data-ability2="{{system.metaMagic.incRange.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.increRange"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.incRange.bought}}bubbleBought{{/if}} {{#if system.metaMagic.spellSpec60.bought}}bubbleBought{{/if}}"
             style="grid-column: 21; grid-row: 11; transform: rotate(-35deg); border-left: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.incRange.bought}}bubbleBought{{/if}} {{#if system.metaMagic.pierceRes.bought}}bubbleBought{{/if}}"
             style="grid-column: 21; grid-row: 13; transform: rotate(35deg); border-left: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetTall {{#if system.metaMagic.spellSpec60.bought}}{{#if system.metaMagic.spellSpec60.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 20; grid-row: 10 / 12;"
             data-label="system.metaMagic.spellSpec60.bought" data-label2="system.metaMagic.spellSpec60.free" data-ability="{{system.metaMagic.spellSpec60.bought}}"
             data-ability2="{{system.metaMagic.spellSpec60.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 3 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.spellSpec"}} 60 </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.spellSpec60.bought}}bubbleBought{{/if}} {{#if system.metaMagic.maxSpells.bought}}bubbleBought{{/if}}"
             style="grid-column: 19; grid-row: 11; transform: rotate(35deg); border-right: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.spellSpec60.bought}}bubbleBought{{/if}} {{#if system.metaMagic.doubleSpell.bought}}bubbleBought{{/if}}"
             style="grid-column: 16/20; grid-row: 10; border-bottom: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetTall {{#if system.metaMagic.pierceRes.bought}}{{#if system.metaMagic.pierceRes.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 20; grid-row: 13 / 15;"
             data-label="system.metaMagic.pierceRes.bought" data-label2="system.metaMagic.pierceRes.free" data-ability="{{system.metaMagic.pierceRes.bought}}"
             data-ability2="{{system.metaMagic.pierceRes.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 2 </span>
                <span> {{localize "abfalter.metaMagic.pierceRes"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.pierceRes.bought}}bubbleBought{{/if}} {{#if system.metaMagic.maxSpells.bought}}bubbleBought{{/if}}"
             style="grid-column: 19; grid-row: 13; transform: rotate(-35deg); border-right: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.pierceRes.bought}}bubbleBought{{/if}} {{#if system.metaMagic.bindSpells.bought}}bubbleBought{{/if}}"
             style="grid-column: 16/20; grid-row: 14; border-top: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.maxSpells.bought}}{{#if system.metaMagic.maxSpells.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 19; grid-row: 12;"
             data-label="system.metaMagic.maxSpells.bought" data-label2="system.metaMagic.maxSpells.free" data-ability="{{system.metaMagic.maxSpells.bought}}"
             data-ability2="{{system.metaMagic.maxSpells.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> 5 </span>
                <span> {{localize "abfalter.metaMagic.maxSpells"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.maxSpells.bought}}bubbleBought{{/if}} {{#if system.metaMagic.spellSpec80.bought}}bubbleBought{{/if}}"
             style="grid-column: 18; grid-row: 12/14; transform: rotate(90deg); border-left: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.spellSpec80.bought}}{{#if system.metaMagic.spellSpec80.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 17; grid-row: 12;"
             data-label="system.metaMagic.spellSpec80.bought" data-label2="system.metaMagic.spellSpec80.free" data-ability="{{system.metaMagic.spellSpec80.bought}}"
             data-ability2="{{system.metaMagic.spellSpec80.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 8 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.spellSpec"}} 80 </span>
                <span> 5 </span>
            </div>
        </div>

        <div class="bubble bubbleOffsetTall {{#if system.metaMagic.doubleSpell.bought}}{{#if system.metaMagic.doubleSpell.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 16; grid-row: 10 / 12;"
             data-label="system.metaMagic.doubleSpell.bought" data-label2="system.metaMagic.doubleSpell.free" data-ability="{{system.metaMagic.doubleSpell.bought}}"
             data-ability2="{{system.metaMagic.doubleSpell.free}}" data-value="20">
            <div class="bubbleInfo">
                <span> 7 </span>
                <span> {{localize "abfalter.metaMagic.doubleSpell"}} </span>
                <span> 20 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.doubleSpell.bought}}bubbleBought{{/if}} {{#if system.metaMagic.supInnateSpell.bought}}bubbleBought{{/if}}"
             style="grid-column: 15; grid-row: 11; transform: rotate(35deg); border-right: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetTall {{#if system.metaMagic.bindSpells.bought}}{{#if system.metaMagic.bindSpells.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 16; grid-row: 13 / 15;"
             data-label="system.metaMagic.bindSpells.bought" data-label2="system.metaMagic.bindSpells.free" data-ability="{{system.metaMagic.bindSpells.bought}}"
             data-ability2="{{system.metaMagic.bindSpells.free}}" data-value="25">
            <div class="bubbleInfo">
                <span> 8 </span>
                <span> {{localize "abfalter.metaMagic.bindSpell"}} </span>
                <span> 25 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.bindSpells.bought}}bubbleBought{{/if}} {{#if system.metaMagic.supInnateSpell.bought}}bubbleBought{{/if}}"
             style="grid-column: 15; grid-row: 13; transform: rotate(-35deg); border-right: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.supInnateSpell.bought}}{{#if system.metaMagic.supInnateSpell.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 15; grid-row: 12;"
             data-label="system.metaMagic.supInnateSpell.bought" data-label2="system.metaMagic.supInnateSpell.free" data-ability="{{system.metaMagic.supInnateSpell.bought}}"
             data-ability2="{{system.metaMagic.supInnateSpell.free}}" data-value="20">
            <div class="bubbleInfo">
                <span> 9 </span>
                <span> {{localize "abfalter.metaMagic.supInnate"}} </span>
                <span> 20 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.supInnateSpell.bought}}bubbleBought{{/if}} {{#if system.metaMagic.highMagic.bought}}bubbleBought{{/if}}"
             style="grid-column: 14; grid-row: 11/13; transform: rotate(-35deg); border-right: 5px solid #383838;"></div>

        <div class="bubble bubbleOffsetCapstone {{#if system.metaMagic.highMagic.bought}}{{#if system.metaMagic.highMagic.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 13 / 15; grid-row: 10 / 12;"
             data-label="system.metaMagic.highMagic.bought" data-label2="system.metaMagic.highMagic.free" data-ability="{{system.metaMagic.highMagic.bought}}"
             data-ability2="{{system.metaMagic.highMagic.free}}" data-value="20">
            <div class="bubbleInfoCap">
                <span> 10 </span>
                <span> {{localize "abfalter.metaMagic.highMagic"}} </span>
                <span> 20 </span>
            </div>
        </div>
        <!-- End of Right Column Block -->
        <!-- Start of Top-Right Block -->
        <div class="bubble {{#if system.metaMagic.incRange2.bought}}{{#if system.metaMagic.incRange2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 21; grid-row: 8;"
             data-label="system.metaMagic.incRange2.bought" data-label2="system.metaMagic.incRange2.free" data-ability="{{system.metaMagic.incRange2.bought}}"
             data-ability2="{{system.metaMagic.incRange2.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.increRange"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.incRange2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.spellSpec60.bought}}bubbleBought{{/if}}""
             style="grid-column: 21; grid-row: 9/11; transform: rotate(25deg); border-left: 5px solid #383838;"></div>
        <div class="bubbleLine {{#if system.metaMagic.incRange2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.spellSpec50.bought}}bubbleBought{{/if}}""
             style="grid-column: 18/21; grid-row: 8; height: 45px; border-bottom: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.spellSpec50.bought}}{{#if system.metaMagic.spellSpec50.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 17; grid-row: 8;"
             data-label="system.metaMagic.spellSpec50.bought" data-label2="system.metaMagic.spellSpec50.free" data-ability="{{system.metaMagic.spellSpec50.bought}}"
             data-ability2="{{system.metaMagic.spellSpec50.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> 2 </span>
                <span style="width:160%;"> {{localize "abfalter.metaMagic.spellSpec"}} 50 </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.spellSpec50.bought}}bubbleBought{{/if}} {{#if system.metaMagic.offExper3.bought}}bubbleBought{{/if}}""
             style="grid-column: 17/20; grid-row: 7; transform: rotate(-45deg); height: 40px; border-bottom: 5px solid #383838; "></div>

        <div class="bubble {{#if system.metaMagic.offExper3.bought}}{{#if system.metaMagic.offExper3.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 19; grid-row: 6;"
             data-label="system.metaMagic.offExper3.bought" data-label2="system.metaMagic.offExper3.free" data-ability="{{system.metaMagic.offExper3.bought}}"
             data-ability2="{{system.metaMagic.offExper3.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> 5 </span>
                <span> {{localize "abfalter.metaMagic.offeExper"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.offExper3.bought}}bubbleBought{{/if}} {{#if system.metaMagic.remProtection3.bought}}bubbleBought{{/if}}""
             style="grid-column: 19/22; grid-row: 5; transform: rotate(-45deg); height: 40px; border-bottom: 5px solid #383838; "></div>

        <div class="bubble {{#if system.metaMagic.remProtection3.bought}}{{#if system.metaMagic.remProtection3.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 21; grid-row: 4;"
             data-label="system.metaMagic.remProtection3.bought" data-label2="system.metaMagic.remProtection3.free" data-ability="{{system.metaMagic.remProtection3.bought}}"
             data-ability2="{{system.metaMagic.remProtection3.free}}" data-value="5">
            <div class="bubbleInfo">
                <span> </span>
                <span> {{localize "abfalter.metaMagic.remProtect"}} </span>
                <span> 5 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.remProtection3.bought}}bubbleBought{{/if}} {{#if system.metaMagic.incDestro2.bought}}bubbleBought{{/if}}""
             style="grid-column: 18/21; grid-row: 4; height: 45px; border-bottom: 5px solid #383838;"></div>

        <div class="bubble {{#if system.metaMagic.incDestro2.bought}}{{#if system.metaMagic.incDestro2.free}}bubbleFree{{else}}bubbleBought{{/if}}{{/if}}"
             style="grid-column: 17; grid-row: 4;"
             data-label="system.metaMagic.incDestro2.bought" data-label2="system.metaMagic.incDestro2.free" data-ability="{{system.metaMagic.incDestro2.bought}}"
             data-ability2="{{system.metaMagic.incDestro2.free}}" data-value="10">
            <div class="bubbleInfo">
                <span> 5 </span>
                <span> {{localize "abfalter.metaMagic.incStrength"}} </span>
                <span> 10 </span>
            </div>
        </div>
        <div class="bubbleLine {{#if system.metaMagic.incDestro2.bought}}bubbleBought{{/if}} {{#if system.metaMagic.mysticAcc.bought}}bubbleBought{{/if}}""
             style="grid-column: 14/17; grid-row: 4; height: 45px; border-bottom: 5px solid #383838;"></div>

        <!-- End of Top-Right Block -->
    </div>
</form>