<div class="item-subtitle">
    <h4 class="item-type">{{localize (concat "abfalter.itemNames." document.type)}}</h4>
    <span class="item-subType"></span>
</div>
<ul class="summary flexrow classHeaderList">
    <li class="itemHeader35-60">
        <label>
            <span>{{localize "abfalter.archeType"}}: </span>
            <input type="text" name="system.main.archeType" value="{{system.main.archeType}}" />
        </label>
    </li>
    <li class="itemHeader65-30">
        <label>
            <span>{{localize "abfalter.level"}}: </span>
            <input type="number" name="system.main.levels" value="{{system.main.levels}}" />
        </label>
    </li>
</ul>
