<div class="item-subtitle">
    <h4 class="item-type">{{localize (concat "abfalter.itemNames." document.type)}}</h4>
    <span class="item-subType">{{system.rarity}}</span>
</div>
<ul class="summary flexrow">
    <li>{{localize "abfalter.quantity"}}: {{system.quantity}}</li>
    <li>{{localize "abfalter.price"}}: {{system.price}}</li>
    <li>{{localize "abfalter.weight"}}: {{system.weight}}</li>
</ul>
