<div class="item-subtitle">
    <h4 class="item-type">{{localize "abfalter.mentalPatternsOne"}}</h4>
    <span class="item-subType">
        {{localize "abfalter.cancelled"}}
        <a data-action="toggleValue" data-label="system.toggle" data-ability="{{system.toggle}}"><i class="{{#if system.toggle}}fa-solid fa-toggle-on{{else}}fa-solid fa-toggle-off{{/if}}"></i></a>
    </span>
</div>

<ul class="summary flexrow">
    <li>{{localize "abfalter.totalCost"}}: {{system.finalCost}}</li>
    <li></li>
    <li></li>
</ul>