<div class="item-subtitle">
    <h4 class="item-type">{{localize "abfalter.psychicMatricesOne"}}</h4>
    <span class="item-subType">
        {{localize "abfalter.level"}}: {{system.level}}
    </span>
</div>

<ul class="summary flexrow">
    <li>{{localize "abfalter.ppotential"}}: {{system.finalPot}}</li>
    <li>
    </li>
    <li>{{localize "abfalter.maint"}} {{system.maintName}}</li>
</ul>