<div class="item-subtitle">
    <h4 class="item-type">{{localize (concat "abfalter.itemNames." document.type)}}</h4>
    <span class="item-subType">Lvl: {{system.level}} {{system.path}}</span>
</div>
<ul class="summary flexrow">
    <li>{{localize "abfalter.projShort"}}: {{system.projection}}</li>
    <li>{{localize "abfalter.action"}}: {{system.action}}</li>
    <li>{{localize "abfalter.type"}}: {{system.type}}</li>
</ul>
