<div class="item-subtitle">
    <h4 class="item-type">{{localize (concat "abfalter.itemNames." document.type)}}</h4>
    <span class="item-subType">{{system.rarity}}</span>
</div>
<ul class="summary flexrow">
    <li> {{localize "abfalter.speed"}}: {{system.derived.finalWeaponSpeed}} </li>
    <li> {{localize "abfalter.presence"}}: {{system.derived.finalPresence}} </li>
    <li> {{system.info.weaponClass}} </li>
</ul>