<div class="armoryItemCreate abfDivFormat">
    <input type="text" name="itemName" placeholder="{{localize "abfalter.itemName"}}">
    <div>
        <label class="hidden">
            <input type="radio" name="itemType" value="none" checked>
        </label>
        <label>
            <img src="systems/abfalter/img/icons/consumable.png">
            <span>{{localize "abfalter.consumable"}}</span>
            <input type="radio" name="itemType" value="ammo">
        </label>
        <label class="hidden">
            <img src="systems/abfalter/img/icons/container.png"><!--Not made-->
            <span>{{localize "abfalter.container"}}</span>
            <input type="radio" name="itemType" value="container">
        </label>
        <label>
            <img src="systems/abfalter/img/icons/equipment.png">
            <span>{{localize "abfalter.equipment"}}</span>
            <input type="radio" name="itemType" value="armor">
        </label>
        <label>
            <img src="systems/abfalter/img/icons/loot.png">
            <span>{{localize "abfalter.loot"}}</span>
            <input type="radio" name="itemType" value="inventory">
        </label>
        <label class="hidden">
            <img src="systems/abfalter/img/icons/tool.png"><!--Not made-->
            <span>{{localize "abfalter.tool"}}</span>
            <input type="radio" name="itemType" value="tool">
        </label>
        <label>
            <img src="systems/abfalter/img/icons/weapon.png">
            <span>{{localize "abfalter.weapon"}}</span>
            <input type="radio" name="itemType" value="weapon">
        </label>
    </div>
</div>
