<div>
    <div class="primaryRoll">
        <div>
            <span> {{rollResult.data.name}} </span>
        </div>
        <div title="{{rollResult.result}}">
            <span> {{label}} </span>
            <span class="{{rollResult.color}}"> {{rollResult.newTotal}} </span>
        </div>
    </div>
    <div class="primaryExplodeRoll">
        {{#if rollResult.explode}}
        <span style="color: green;"> {{localize "abfalter.dialogs.openRoll"}} </span>
        {{/if}}
        {{#if rollResult.fumble}}
        <span style="color: red;"> {{localize "abfalter.dialogs.fumble"}} </span>
        {{/if}}
    </div>
</div>