<div class="abfalter weaponChatRollMsg" data-actor-id="{{actor._id}}">
    <div>
        <span> {{actor.name}} </span>
        <span> {{trapDetails.wepName}} </span>
    </div>

    <div class="chatAtkRoll atkCustomTitleContainer">
        <span> {{trapDetails.label}}</span>
        <span class="{{rollResult.color}}"> {{rollResult.newTotal}} </span>
        <div class="atkCustomTitle">{{trapDetails.formula}}</div>
    </div>

    <div>
    </div>
</div>