<div class="abfalter weaponChatRollMsg" data-actor-id="{{actor._id}}">
    <div>
        <span> {{actor.name}} </span>
        <span> {{attackDetails.wepName}} </span>
        {{#ifEquals attackDetails.wepType "ranged"}}
        <span> {{attackDetails.ammoName}} </span>
        {{/ifEquals}}
    </div>

    {{#each rollData as |roll i|}}
    <div class="chatAtkRoll atkCustomTitleContainer">
        <span> {{roll.label}}</span>
        <span class="{{roll.color}}"> {{roll.total}} </span>
        <div class="atkCustomTitle">{{roll.formula}}</div>
    </div>
    {{#if roll.showSeverity}}
    <div class="wepFumbleSeverity" title="{{rollResult.result}}">
        <span> {{localize "abfalter.dialogs.fumbleSeverity"}} </span>
        <span class="fumbleRoll"> -{{roll.fumbleS}} </span>
    </div>
    {{/if}}
    {{/each}}

    <div>
        <div>
            <span> {{localize "abfalter.dmgShort"}}: {{attackDetails.dmg}} {{attackDetails.dmgType}}</span>
            <span> {{localize "abfalter.atPen"}}: {{attackDetails.atPen}}</span>
        </div>
        <div>
            <span> {{localize "abfalter.targetAim"}}: {{localize (concat "abfalter." attackDetails.target)}}</span>
        </div>
    </div>

    {{#each rollData as |roll i|}}
    <label class="explodeButtons">
        {{#if roll.explode}}
        <button class="wepOpenRoll" data-actor-id="{{actor._id}}"> {{localize "abfalter.dialogs.openRoll"}} </button>
        {{/if}}
        {{#if roll.fumble}}
        <button class="wepFumbleRoll" data-actor-id="{{actor._id}}"> {{localize "abfalter.dialogs.fumbleSeverity2"}} </button>
        {{/if}}
    </label>
    {{/each}}
</div>