<div class="abfalter weaponChatRollMsg" data-actor-id="{{actor._id}}">
    <div>
        <span> {{actor.name}} </span>
        <span> {{attackDetails.wepName}} </span>
    </div>

    {{#each rollData as |roll i|}}
    <div class="chatAtkRoll atkCustomTitleContainer">
        <span> {{roll.label}}</span>
        <span class="{{roll.color}}"> {{roll.total}} </span>
        <div class="atkCustomTitle">{{roll.formula}}</div>
    </div>
    {{/each}}

    <div>
        <div>
            <span> {{localize "abfalter.dmgShort"}}: {{attackDetails.dmg}} {{attackDetails.dmgType}}</span>
            <span> {{localize "abfalter.armoryTab.atPen"}}: {{attackDetails.atPen}}</span>
        </div>
        <div>
            <span> {{localize "abfalter.targetAim"}}: {{attackDetails.target}} </span>
        </div>
    </div>

    {{#each rollData as |roll i|}}
    <label class="explodeButtons">
        {{#if roll.explode}}
        <button class="wepOpenRoll" data-actor-id="{{actor._id}}"> {{localize "abfalter.dialogs.openRoll"}} </button>
        {{/if}}
        {{#if roll.fumble}}
        <button class="secFumbleRoll" data-actor-id="{{actor._id}}"> {{localize "abfalter.dialogs.fumbleSeverity2"}} </button>
        {{/if}}
        {{#if roll.showSeverity}}
        <div class="fumbleSeverity" title="{{rollResult.result}}">
            <span> {{localize "abfalter.dialogs.fumbleSeverity"}} </span>
            <span class="fumbleRoll"> {{roll.roll}} </span>
        </div>
        {{/if}}
    </label>
    {{/each}}
</div>