<form class="baseAbfalter">
  <body>
    <div class="wepAtkDiceRoll">
        {{#ifEquals actionType "attack"}}
        {{#ifEquals weaponType "ranged"}}
        <label>
            <span> {{localize "abfalter.ammo"}}: </span>
            <select id="ammoDropdown"></select>
        </label>
        {{/ifEquals}}
        {{/ifEquals}}

        <label>
            <span> {{localize "abfalter.atkType"}}: </span>
            <select id="attackSelect"></select>
        </label>

        {{#ifEquals actionType "attack"}}
        <div>
            <span> {{localize "abfalter.baseAtkShort"}}: </span>
            <span id="attackPower">${attacks[0].finalAttack}</span>

            <span> | {{localize "abfalter.baseDmgShort"}}: </span>
            <span id="damageNum">${attacks[0].finalDamage}</span>

            <span> | {{localize "abfalter.basePenShort"}}: </span>
            <span id="atPenNum">${attacks[0].finalAtPen}</span>
        </div>
        {{/ifEquals}}
        {{#ifEquals actionType "block"}}
        <div>
            <span> {{localize "abfalter.block"}}: </span>
            <span id="defensePower">${attacks[0].finalBlock}</span>
        </div>
        {{/ifEquals}}
        {{#ifEquals actionType "dodge"}}
        <div>
            <span> {{localize "abfalter.dodge"}}: </span>
            <span id="dodgePower">${attacks[0].finalDodge}</span>
        </div>
        {{/ifEquals}}

        {{#ifEquals profileType "offensive"}}
        <label>
            <span> {{localize "abfalter.dmgType"}}: </span>
            <select id="atkDmgTypeDropdown"></select>
        </label>

        <label>
            <span>{{localize "abfalter.activeActionMod"}} </span>
            <select id="modifierSelect" name="modifierSelect"></select>
        </label>

        <label>
            <span>{{localize "abfalter.directedAttackPrompt"}}</span>
            <select id="directedAtkDropdown"></select>
        </label>
        {{/ifEquals}}
        {{#ifEquals profileType "defensive"}}
        <label>
            <span>{{localize "abfalter.armorTypeSelect"}}</span>
            <select id="armorDropdown"></select>
        </label>
        <label>
            <span>{{localize "abfalter.defenseNumber"}}</span>
            <select id="defNumberDropdown"></select>
        </label>
        {{/ifEquals}}

        <label>
            <span>{{localize "abfalter.fatigue"}}</span>
            <select id="fatigueDropdown"></select>
        </label>
        <label> 
            <span> {{localize "abfalter.dialogs.modifier"}} </span>
            <input type="number" id="modifierMod" value="0" /> 
        </label>

    </div>
  </body>
</form>