<div class="abfDivFormat headerIniDets">
        <label> 
                <span> {{localize "abfalter.armor"}} </span> 
                <input type="number" name="system.armor.wearArmor.totalNatPen" value="-{{system.armor.wearArmor.totalNatPen}}" readonly /> 
        </label>
        <label> 
                <span> {{localize "abfalter.weapon"}} </span>
                <input type="number" name="system.initiative.wepFinalSpeed" value="{{system.initiative.wepFinalSpeed}}" readonly /> 
        </label>
        <label> 
                <span> {{localize "abfalter.size"}} </span> 
                <input type="number" name="system.initiative.sizeBase" value="{{system.initiative.sizeBase}}" readonly />
        </label>
        <label title="{{localize "abfalter.iniModCalc"}}">
                <span> {{localize "abfalter.modifier"}} </span>
                <input type="number" name="system.initiative.extraStats" value="{{system.initiative.extraStats}}" readonly /> 
        </label>
        <label> 
                <span> {{localize "abfalter.class"}} </span>
                <input type="number" name="system.initiative.class" value="{{system.initiative.class}}" readonly />
        </label>
        <label> 
                <span> {{localize "abfalter.activeEffects"}} </span>
                <span> {{system.initiative.bonus}} </span>
        </label>
        <label> 
                <span> {{localize "abfalter.spec"}} </span>
                <input type="number" name="system.initiative.spec" value="{{system.initiative.spec}}" /> 
        </label>
        <label> 
                <span> {{localize "abfalter.other"}} </span>
                <input type="number" name="system.initiative.other" value="{{system.initiative.other}}" />
        </label>
        <label> 
                <span> {{localize "abfalter.final"}} </span>
                <input type="number" name="system.initiative.final" value="{{system.initiative.final}}" readonly /> 
        </label>
</div>