<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="item-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />

        <div class="header-details flexrow">
            <h1 class="itemName">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'abfalter.nameItem'}}" />
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{localize "abfalter.ammo"}}</h4>
                <span class="item-subType"></span>
            </div>

            <ul class="summary flexrow">
                <li></li>
                <li>{{localize "abfalter.atPen"}}: {{system.atPen}}</li>
                <li>{{localize "abfalter.damage"}}: {{system.damage}}</li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs itemTabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "abfalter.description" }}</a>
        <a class="item" data-tab="details">{{ localize "abfalter.details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description flexcol" data-group="primary" data-tab="description">
            <h6> {{localize "abfalter.description"}} </h6>
            {{editor system.description class="itemDescInfo" target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h6> {{ localize "abfalter.generalDetails" }} </h6>

            <div class="itemContentSelectInput"> 
                <label for="ammoPriceInput">
                    <span> {{localize "abfalter.pricePerItem"}} </span>
                </label>
                <div class="csSelect">
                    <label>
                        <select name="system.priceType">
                            {{selectOptions currencyOptions selected=system.priceType localize=true}}
                        </select>
                    </label>
                </div>
                <input type="number" id="ammoPriceInput" name="system.price" value="{{system.price}}" />
                <span> | </span>
                <span> {{system.priceTotal}} </span>
            </div>

            <div class="itemContentSelectInput weightContainer"> 
                <label for="AmmoWeightInput">
                    <span> {{localize "abfalter.weightPerItem"}} </span>
                </label>
                <div class="csSelect weightType">
                    <label>
                        <select name="system.weightType">
                            {{selectOptions weightList selected=system.weightType localize=true}}
                        </select>
                    </label>
                </div>
                <input type="number" id="AmmoWeightInput" name="system.weight" value="{{system.weight}}" />
                <span> | </span>
                <span> {{system.weightTotal}} </span>
            </div>

            <label> <span> {{localize "abfalter.quantity"}} </span> <input type="number" name="system.quantity" value="{{system.quantity}}" /> </label>
            <label> <span> {{localize "abfalter.presence"}} </span> <input type="number" name="system.presence" value="{{system.presence}}" /> </label>

            <h6> {{ localize "abfalter.ammoDetails" }} </h6>
            <label> <span> {{localize "abfalter.breakage"}} </span> <input type="number" name="system.break" value="{{system.break}}" /> </label>
            <label> <span> {{localize "abfalter.atPen"}} </span> <input type="number" name="system.atPen" value="{{system.atPen}}" /> </label>
            <div class="csSelect">
                <label> 
                    <span> {{localize "abfalter.ammoDmgType"}} </span>
                    {{#if system.spiritHomebrew}}
                    <select name="system.dmgType" >
                        {{selectOptions wepDamageTypeSpiritObjList selected=system.dmgType localize=true}}
                    </select>
                    {{else}}
                    <select name="system.dmgType">
                        {{selectOptions wepDamageTypeObjList selected=system.dmgType localize=true}}
                    </select>
                    {{/if}}
                </label>
            </div>
            <label> <span> {{localize "abfalter.damage"}} </span> <input type="number" name="system.damage" value="{{system.damage}}" /> </label>
        </div>

    </section>
</form>
