<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="item-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />

        <div class="header-details flexrow">
            <h1 class="itemName">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'abfalter.sheet.nameItem'}}" />
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{localize "abfalter.kiTab.arsMagnus"}}</h4>
            </div>

            <ul class="summary flexrow">
                <li>{{localize "abfalter.dp"}}: {{system.dp}}</li>
                <li>{{localize "abfalter.mk"}}: {{system.mk}}</li>
                <li></li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs itemTabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "abfalter.description" }}</a>
        <a class="item" data-tab="details">{{ localize "abfalter.details" }}</a>
        <a class="item" data-tab="effects">{{ localize "abfalter.effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description flexcol" data-group="primary" data-tab="description">
            <h6> {{localize "abfalter.description"}} </h6>
            <div style="display: grid;">
                <textarea class="textarea-auto-resize" name="system.description" style="grid-area: 1 / 1 / 2/ 2;">{{system.description}}</textarea>
                <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.description}}</div>
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h6> {{localize "abfalter.kiTab.arsMagnus"}} {{ localize "abfalter.details" }} </h6>
            <label> <span> {{localize "abfalter.dp"}} </span> <input type="number" name="system.dp" value="{{system.dp}}" /> </label>
            <label> <span> {{localize "abfalter.mk"}} </span> <input type="number" name="system.mk" value="{{system.mk}}" /> </label>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> systems/abfalter/templates/actor/parts/active-effects.hbs }}
        </div>
    </section>

</form>
