<form class="{{cssClass}} baseAbfalter itemWindow itemMax" autocomplete="off">
    <div class="itemStart">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
    </div>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs itemTabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "abfalter.description" }}</a>
        <a class="item" data-tab="details">{{ localize "abfalter.details" }}</a>
        <a class="item" data-tab="dpcost">{{ localize "abfalter.dpCost" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description flexcol" data-group="primary" data-tab="description">
            <h6> {{localize "abfalter.description"}} </h6>
            <div style="display: grid;">
                <textarea class="textarea-auto-resize" name="system.description" style="grid-area: 1 / 1 / 2/ 2;">{{system.description}}</textarea>
                <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.description}}</div>
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h6> {{localize "abfalter.class"}} </h6>
            <label> <span> {{localize "abfalter.archeType"}} </span> <input type="text" name="system.main.archeType" value="{{system.main.archeType}}" /> </label>
            <label> <span> {{localize "abfalter.level"}} </span> <input type="number" name="system.main.levels" value="{{system.main.levels}}" /> </label>

            <div class="classContent">
                <label> <span> {{localize "abfalter.lifePoints"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.main.lp" value="{{system.main.lp}}" /> </label>
                <label> <span> {{localize "abfalter.initiative"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.main.initiative" value="{{system.main.initiative}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.attack"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.main.attack" value="{{system.main.attack}}" /> </label>
                <label> <span> {{localize "abfalter.dodge"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.main.dodge" value="{{system.main.dodge}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.block"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.main.block" value="{{system.main.block}}" /> </label>
                <label> <span> {{localize "abfalter.wearArmor"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.main.weararmor" value="{{system.main.weararmor}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.mk"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.main.mk" value="{{system.main.mk}}" /> </label>
                <label> <span> {{localize "abfalter.zeon"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.main.zeon" value="{{system.main.zeon}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.kiDetection"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.kiDetection" value="{{system.secondary.kiDetection}}" /> </label>
                <label> <span> {{localize "abfalter.kiConceal"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.kiconceal" value="{{system.secondary.kiconceal}}" /> </label>
            </div>

            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.pp"}}{{localize "abfalter.perLevel"}} </span>
                    <select name="system.main.pp">
                        {{selectOptions classppBonusObjList selected=system.main.pp localize=true}}
                    </select>
                </label>
            </div>

            <h6> {{localize "abfalter.summoning"}} </h6>

            <div class="classContent">
                <label> <span> {{localize "abfalter.summon"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.main.summon" value="{{system.main.summon}}" /> </label>
                <label> <span> {{localize "abfalter.control"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.main.control" value="{{system.main.control}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.bind"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.main.bind" value="{{system.main.bind}}" /> </label>
                <label> <span> {{localize "abfalter.banish"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.main.banish" value="{{system.main.banish}}" /> </label>
            </div>

            <div class="classHeader">
                <span> {{localize "abfalter.athletics"}} </span>
                <a class="toggleBoolean {{#if system.athletics}}showOpacity{{/if}}" data-label="system.athletics" data-ability="{{system.athletics}}"><i class="{{#if system.athletics}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
            </div>
            {{#if system.athletics}}
            <div class="classContent">
                <label> <span> {{localize "abfalter.acrobatic"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.acro" value="{{system.secondary.acro}}" /> </label>
                <label> <span> {{localize "abfalter.athleticism"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.athleticism" value="{{system.secondary.athleticism}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.climb"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.climb" value="{{system.secondary.climb}}" /> </label>
                <label> <span> {{localize "abfalter.jump"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.jump" value="{{system.secondary.jump}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.piloting"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.piloting" value="{{system.secondary.piloting}}" /> </label>
                <label> <span> {{localize "abfalter.ride"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.ride" value="{{system.secondary.ride}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.swim"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.swim" value="{{system.secondary.swim}}" /> </label>
            </div>
            {{/if}}

            <div class="classHeader">
                <span> {{localize "abfalter.social"}} </span>
                <a class="toggleBoolean {{#if system.social}}showOpacity{{/if}}" data-label="system.social" data-ability="{{system.social}}"><i class="{{#if system.social}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
            </div>
            {{#if system.social}}
            <div class="classContent">
                <label> <span> {{localize "abfalter.etiquette"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.etiquette" value="{{system.secondary.etiquette}}" /> </label>
                <label> <span> {{localize "abfalter.intimidate"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.intimidate" value="{{system.secondary.intimidate}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.leadership"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.leadership" value="{{system.secondary.leadership}}" /> </label>
                <label> <span> {{localize "abfalter.persuasion"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.persuasion" value="{{system.secondary.persuasion}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.streetwise"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.streetwise" value="{{system.secondary.streetwise}}" /> </label>
                <label> <span> {{localize "abfalter.style"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.style" value="{{system.secondary.style}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.trading"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.trading" value="{{system.secondary.trading}}" /> </label>
            </div>
            {{/if}}

            <div class="classHeader">
                <span> {{localize "abfalter.perceptive"}} </span>
                <a class="toggleBoolean {{#if system.perceptive}}showOpacity{{/if}}" data-label="system.perceptive" data-ability="{{system.perceptive}}"><i class="{{#if system.perceptive}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
            </div>
            {{#if system.perceptive}}
            <div class="classContent">
                <label> <span> {{localize "abfalter.notice"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.notice" value="{{system.secondary.notice}}" /> </label>
                <label> <span> {{localize "abfalter.search"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.search" value="{{system.secondary.search}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.track"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.track" value="{{system.secondary.track}}" /> </label>
            </div>
            {{/if}}

            <div class="classHeader">
                <span> {{localize "abfalter.intellectual"}} </span>
                <a class="toggleBoolean {{#if system.intellectual}}showOpacity{{/if}}" data-label="system.intellectual" data-ability="{{system.intellectual}}"><i class="{{#if system.intellectual}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
            </div>
            {{#if system.intellectual}}
            <div class="classContent">
                <label> <span> {{localize "abfalter.animals"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.animals" value="{{system.secondary.animals}}" /> </label>
                <label> <span> {{localize "abfalter.appraisal"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.appraisal" value="{{system.secondary.appraisal}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.architecture"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.architecture" value="{{system.secondary.architecture}}" /> </label>
                <label> <span> {{localize "abfalter.herballore"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.herballore" value="{{system.secondary.herballore}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.history"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.history" value="{{system.secondary.history}}" /> </label>
                <label> <span> {{localize "abfalter.law"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.law" value="{{system.secondary.law}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.magicAppr"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.magicappr" value="{{system.secondary.magicappr}}" /> </label>
                <label> <span> {{localize "abfalter.medicine"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.medicine" value="{{system.secondary.medicine}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.memorize"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.memorize" value="{{system.secondary.memorize}}" /> </label>
                <label> <span> {{localize "abfalter.navigation"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.navigation" value="{{system.secondary.navigation}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.occult"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.occult" value="{{system.secondary.occult}}" /> </label>
                <label> <span> {{localize "abfalter.science"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.science" value="{{system.secondary.science}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.tactics"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.tactics" value="{{system.secondary.tactics}}" /> </label>
                <label> <span> {{localize "abfalter.technomagic"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.technomagic" value="{{system.secondary.technomagic}}" /> </label>
            </div>
            {{/if}}

            <div class="classHeader">
                <span> {{localize "abfalter.vigor"}} </span>
                <a class="toggleBoolean {{#if system.vigor}}showOpacity{{/if}}" data-label="system.vigor" data-ability="{{system.vigor}}"><i class="{{#if system.vigor}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
            </div>
            {{#if system.vigor}}
            <div class="classContent" >
                <label> <span> {{localize "abfalter.composure"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.composure" value="{{system.secondary.composure}}" /> </label>
                <label> <span> {{localize "abfalter.featsofstr"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.featsofstr" value="{{system.secondary.featsofstr}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.withstpain"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.withstpain" value="{{system.secondary.withstpain}}" /> </label>
            </div>
            {{/if}}

            <div class="classHeader">
                <span> {{localize "abfalter.subterfuge"}} </span>
                <a class="toggleBoolean {{#if system.subterfuge}}showOpacity{{/if}}" data-label="system.subterfuge" data-ability="{{system.subterfuge}}"><i class="{{#if system.subterfuge}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
            </div>
            {{#if system.subterfuge}}
            <div class="classContent">
                <label> <span> {{localize "abfalter.disguise"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.disguise" value="{{system.secondary.disguise}}" /> </label>
                <label> <span> {{localize "abfalter.hide"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.hide" value="{{system.secondary.hide}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.lockpicking"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.lockpicking" value="{{system.secondary.lockpicking}}" /> </label>
                <label> <span> {{localize "abfalter.poisons"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.poisons" value="{{system.secondary.poisons}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.stealth"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.stealth" value="{{system.secondary.stealth}}" /> </label>
                <label> <span> {{localize "abfalter.theft"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.theft" value="{{system.secondary.theft}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.traplore"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.traplore" value="{{system.secondary.traplore}}" /> </label>
            </div>
            {{/if}}

            <div class="classHeader">
                <span> {{localize "abfalter.creative"}} </span>
                <a class="toggleBoolean {{#if system.creative}}showOpacity{{/if}}" data-label="system.creative" data-ability="{{system.creative}}"><i class="{{#if system.creative}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
            </div>
            {{#if system.creative}}
            <div class="classContent">
                <label> <span> {{localize "abfalter.alchemy"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.alchemy" value="{{system.secondary.alchemy}}" /> </label>
                <label> <span> {{localize "abfalter.animism"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.animism" value="{{system.secondary.animism}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.art"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.art" value="{{system.secondary.art}}" /> </label>
                <label> <span> {{localize "abfalter.toymaking"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.toymaking" value="{{system.secondary.toymaking}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.cooking"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.cooking" value="{{system.secondary.cooking}}" /> </label>
                <label> <span> {{localize "abfalter.dance"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.dance" value="{{system.secondary.dance}}" /> </label>
            </div>
            <div class="classContent"> 
                <label> <span> {{localize "abfalter.forging"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.forging" value="{{system.secondary.forging}}" /> </label>
                <label> <span> {{localize "abfalter.jewelry"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.jewelry" value="{{system.secondary.jewelry}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.music"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.music" value="{{system.secondary.music}}" /> </label>
                <label> <span> {{localize "abfalter.runes"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.runes" value="{{system.secondary.runes}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.ritualcalig"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.ritualcalig" value="{{system.secondary.ritualcalig}}" /> </label>
                <label> <span> {{localize "abfalter.slofhand"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.slofhand" value="{{system.secondary.slofhand}}" /> </label>
            </div>
            <div class="classContent">
                <label> <span> {{localize "abfalter.tailoring"}}{{localize "abfalter.perLevel"}} </span> <input type="number" name="system.secondary.tailoring" value="{{system.secondary.tailoring}}" /> </label>
            </div>
        {{/if}}
        </div>

        {{!-- Dp Cost Values Tab --}}
        <div class="tab dpcost" data-group="primary" data-tab="dpcost">
            <h6> {{localize "abfalter.limits"}} </h6>
            <div class="classContent3">
                <label> <span> {{localize "abfalter.primary"}} </span> <input type="number" name="system.dpCost.limits.primary" value="{{system.dpCost.limits.primary}}" /> <span> % </span> </label>
                <label> <span> {{localize "abfalter.magic"}} </span> <input type="number" name="system.dpCost.limits.supernatural" value="{{system.dpCost.limits.supernatural}}" /> <span> % </span> </label>
                <label> <span> {{localize "abfalter.psychic"}} </span> <input type="number" name="system.dpCost.limits.psychic" value="{{system.dpCost.limits.psychic}}" /> <span> % </span> </label>
            </div>

            <h6> {{localize "abfalter.primaryDp"}} </h6>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.attack"}} </span> <input type="number" name="system.dpCost.primary.attack" value="{{system.dpCost.primary.attack}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.block"}} </span> <input type="number" name="system.dpCost.primary.block" value="{{system.dpCost.primary.block}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.dodge"}} </span> <input type="number" name="system.dpCost.primary.dodge" value="{{system.dpCost.primary.dodge}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.wearArmor"}} </span> <input type="number" name="system.dpCost.primary.wearArmor" value="{{system.dpCost.primary.wearArmor}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.kiPoint"}} </span> <input type="number" name="system.dpCost.primary.kiPoint" value="{{system.dpCost.primary.kiPoint}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.kiAccuMult"}} </span> <input type="number" name="system.dpCost.primary.kiAccuMult" value="{{system.dpCost.primary.kiAccuMult}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>

            <h6> {{localize "abfalter.supernaturalDp"}} </h6>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.zeon"}} </span> <input type="number" name="system.dpCost.supernatural.zeon" value="{{system.dpCost.supernatural.zeon}}" /> <span> {{localize "abfalter.forFive"}} </span> </label>
                <label> <span> {{localize "abfalter.maMult"}} </span> <input type="number" name="system.dpCost.supernatural.maMult" value="{{system.dpCost.supernatural.maMult}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.maRegen"}} </span> <input type="number" name="system.dpCost.supernatural.maRegen" value="{{system.dpCost.supernatural.maRegen}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.magProjShort"}} </span> <input type="number" name="system.dpCost.supernatural.magicProj" value="{{system.dpCost.supernatural.magicProj}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.summon"}} </span> <input type="number" name="system.dpCost.supernatural.summon" value="{{system.dpCost.supernatural.summon}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.control"}} </span> <input type="number" name="system.dpCost.supernatural.control" value="{{system.dpCost.supernatural.control}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.bind"}} </span> <input type="number" name="system.dpCost.supernatural.bind" value="{{system.dpCost.supernatural.bind}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.banish"}} </span> <input type="number" name="system.dpCost.supernatural.banish" value="{{system.dpCost.supernatural.banish}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>

            <h6> {{localize "abfalter.psychicDp"}} </h6>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.pp"}} </span> <input type="number" name="system.dpCost.psychic.psyPoint" value="{{system.dpCost.psychic.psyPoint}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.psyProj"}} </span> <input type="number" name="system.dpCost.psychic.psyProj" value="{{system.dpCost.psychic.psyProj}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>

            <h6> {{localize "abfalter.otherDp"}} </h6>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.lpMult"}} </span> <input type="number" name="system.dpCost.other.lpMult" value="{{system.dpCost.other.lpMult}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>

            <div class="classHeader2">
                <span> {{localize "abfalter.athletics"}} </span>
                <button type="button" class="toggleBoolean {{#if system.dpCost.fields.athleticsToggle}}kiBought{{/if}}" data-label="system.dpCost.fields.athleticsToggle" data-ability="{{system.dpCost.fields.athleticsToggle}}">
                    {{#if system.dpCost.fields.athleticsToggle}}
                    {{localize "abfalter.field"}}
                    {{else}}
                    {{localize "abfalter.individual"}}
                    {{/if}}
                </button>
            </div>
            {{#if system.dpCost.fields.athleticsToggle}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.athleticsField"}} </span> <input type="number" name="system.dpCost.fields.athletics" value="{{system.dpCost.fields.athletics}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{else}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.acrobatic"}} </span> <input type="number" name="system.dpCost.subject.acro" value="{{system.dpCost.subject.acro}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.athleticism"}} </span> <input type="number" name="system.dpCost.subject.athleticism" value="{{system.dpCost.subject.athleticism}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.climb"}} </span> <input type="number" name="system.dpCost.subject.climb" value="{{system.dpCost.subject.climb}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.jump"}} </span> <input type="number" name="system.dpCost.subject.jump" value="{{system.dpCost.subject.jump}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.piloting"}} </span> <input type="number" name="system.dpCost.subject.piloting" value="{{system.dpCost.subject.piloting}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.ride"}} </span> <input type="number" name="system.dpCost.subject.ride" value="{{system.dpCost.subject.ride}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.swim"}} </span> <input type="number" name="system.dpCost.subject.swim" value="{{system.dpCost.subject.swim}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{/if}}
            

            <div class="classHeader2">
                <span> {{localize "abfalter.social"}} </span>
                <button type="button" class="toggleBoolean {{#if system.dpCost.fields.socialToggle}}kiBought{{/if}}" data-label="system.dpCost.fields.socialToggle" data-ability="{{system.dpCost.fields.socialToggle}}">
                    {{#if system.dpCost.fields.socialToggle}}
                    {{localize "abfalter.field"}}
                    {{else}}
                    {{localize "abfalter.individual"}}
                    {{/if}}
                </button>
            </div>
            {{#if system.dpCost.fields.socialToggle}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.socialField"}} </span> <input type="number" name="system.dpCost.fields.social" value="{{system.dpCost.fields.social}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{else}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.etiquette"}} </span> <input type="number" name="system.dpCost.subject.etiquette" value="{{system.dpCost.subject.etiquette}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.intimidate"}} </span> <input type="number" name="system.dpCost.subject.intimidate" value="{{system.dpCost.subject.intimidate}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.leadership"}} </span> <input type="number" name="system.dpCost.subject.leadership" value="{{system.dpCost.subject.leadership}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.persuasion"}} </span> <input type="number" name="system.dpCost.subject.persuasion" value="{{system.dpCost.subject.persuasion}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.streetwise"}} </span> <input type="number" name="system.dpCost.subject.streetwise" value="{{system.dpCost.subject.streetwise}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.style"}} </span> <input type="number" name="system.dpCost.subject.style" value="{{system.dpCost.subject.style}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.trading"}} </span> <input type="number" name="system.dpCost.subject.trading" value="{{system.dpCost.subject.trading}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{/if}}

            <div class="classHeader2">
                <span> {{localize "abfalter.perceptive"}} </span>
                <button type="button" class="toggleBoolean {{#if system.dpCost.fields.perceptiveToggle}}kiBought{{/if}}" data-label="system.dpCost.fields.perceptiveToggle" data-ability="{{system.dpCost.fields.perceptiveToggle}}">
                    {{#if system.dpCost.fields.perceptiveToggle}}
                    {{localize "abfalter.field"}}
                    {{else}}
                    {{localize "abfalter.individual"}}
                    {{/if}}
                </button>
            </div>
            {{#if system.dpCost.fields.perceptiveToggle}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.perceptiveField"}} </span> <input type="number" name="system.dpCost.fields.perceptive" value="{{system.dpCost.fields.perceptive}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{else}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.notice"}} </span> <input type="number" name="system.dpCost.subject.notice" value="{{system.dpCost.subject.notice}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.search"}} </span> <input type="number" name="system.dpCost.subject.search" value="{{system.dpCost.subject.search}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.track"}} </span> <input type="number" name="system.dpCost.subject.track" value="{{system.dpCost.subject.track}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{/if}}

            <div class="classHeader2">
                <span> {{localize "abfalter.intellectual"}} </span>
                <button type="button" class="toggleBoolean {{#if system.dpCost.fields.intellectualToggle}}kiBought{{/if}}" data-label="system.dpCost.fields.intellectualToggle" data-ability="{{system.dpCost.fields.intellectualToggle}}">
                    {{#if system.dpCost.fields.intellectualToggle}}
                    {{localize "abfalter.field"}}
                    {{else}}
                    {{localize "abfalter.individual"}}
                    {{/if}}
                </button>
            </div>
            {{#if system.dpCost.fields.intellectualToggle}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.intellectualField"}} </span> <input type="number" name="system.dpCost.fields.intellectual" value="{{system.dpCost.fields.intellectual}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{else}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.animals"}} </span> <input type="number" name="system.dpCost.subject.animals" value="{{system.dpCost.subject.animals}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.appraisal"}} </span> <input type="number" name="system.dpCost.subject.appraisal" value="{{system.dpCost.subject.appraisal}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.architecture"}} </span> <input type="number" name="system.dpCost.subject.architecture" value="{{system.dpCost.subject.architecture}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.herballore"}} </span> <input type="number" name="system.dpCost.subject.herballore" value="{{system.dpCost.subject.herballore}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.history"}} </span> <input type="number" name="system.dpCost.subject.history" value="{{system.dpCost.subject.history}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.law"}} </span> <input type="number" name="system.dpCost.subject.law" value="{{system.dpCost.subject.law}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.magicAppr"}} </span> <input type="number" name="system.dpCost.subject.magicappr" value="{{system.dpCost.subject.magicappr}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.medicine"}} </span> <input type="number" name="system.dpCost.subject.medicine" value="{{system.dpCost.subject.medicine}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.memorize"}} </span> <input type="number" name="system.dpCost.subject.memorize" value="{{system.dpCost.subject.memorize}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.navigation"}} </span> <input type="number" name="system.dpCost.subject.navigation" value="{{system.dpCost.subject.navigation}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.occult"}} </span> <input type="number" name="system.dpCost.subject.occult" value="{{system.dpCost.subject.occult}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.science"}} </span> <input type="number" name="system.dpCost.subject.science" value="{{system.dpCost.subject.science}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.tactics"}} </span> <input type="number" name="system.dpCost.subject.tactics" value="{{system.dpCost.subject.tactics}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.technomagic"}} </span> <input type="number" name="system.dpCost.subject.technomagic" value="{{system.dpCost.subject.technomagic}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{/if}}

            <div class="classHeader2">
                <span> {{localize "abfalter.vigor"}} </span>
                <button type="button" class="toggleBoolean {{#if system.dpCost.fields.vigorToggle}}kiBought{{/if}}" data-label="system.dpCost.fields.vigorToggle" data-ability="{{system.dpCost.fields.vigorToggle}}">
                    {{#if system.dpCost.fields.vigorToggle}}
                    {{localize "abfalter.field"}}
                    {{else}}
                    {{localize "abfalter.individual"}}
                    {{/if}}
                </button>
            </div>
            {{#if system.dpCost.fields.vigorToggle}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.vigorField"}} </span> <input type="number" name="system.dpCost.fields.vigor" value="{{system.dpCost.fields.vigor}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{else}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.composure"}} </span> <input type="number" name="system.dpCost.subject.composure" value="{{system.dpCost.subject.composure}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.featsofstr"}} </span> <input type="number" name="system.dpCost.subject.featsofstr" value="{{system.dpCost.subject.featsofstr}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.withstpain"}} </span> <input type="number" name="system.dpCost.subject.withstpain" value="{{system.dpCost.subject.withstpain}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{/if}}

            <div class="classHeader2">
                <span> {{localize "abfalter.subterfuge"}} </span>
                <button type="button" class="toggleBoolean {{#if system.dpCost.fields.subterfugeToggle}}kiBought{{/if}}" data-label="system.dpCost.fields.subterfugeToggle" data-ability="{{system.dpCost.fields.subterfugeToggle}}">
                    {{#if system.dpCost.fields.subterfugeToggle}}
                    {{localize "abfalter.field"}}
                    {{else}}
                    {{localize "abfalter.individual"}}
                    {{/if}}
                </button>
            </div>
            {{#if system.dpCost.fields.subterfugeToggle}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.subterfugeField"}} </span> <input type="number" name="system.dpCost.fields.subterfuge" value="{{system.dpCost.fields.subterfuge}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{else}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.disguise"}} </span> <input type="number" name="system.dpCost.subject.disguise" value="{{system.dpCost.subject.disguise}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.hide"}} </span> <input type="number" name="system.dpCost.subject.hide" value="{{system.dpCost.subject.hide}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.lockpicking"}} </span> <input type="number" name="system.dpCost.subject.lockpicking" value="{{system.dpCost.subject.lockpicking}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.poisons"}} </span> <input type="number" name="system.dpCost.subject.poisons" value="{{system.dpCost.subject.poisons}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.stealth"}} </span> <input type="number" name="system.dpCost.subject.stealth" value="{{system.dpCost.subject.stealth}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.theft"}} </span> <input type="number" name="system.dpCost.subject.theft" value="{{system.dpCost.subject.theft}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.traplore"}} </span> <input type="number" name="system.dpCost.subject.traplore" value="{{system.dpCost.subject.traplore}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{/if}}

            <div class="classHeader2">
                <span> {{localize "abfalter.creative"}} </span>
                <button type="button" class="toggleBoolean {{#if system.dpCost.fields.creativeToggle}}kiBought{{/if}}" data-label="system.dpCost.fields.creativeToggle" data-ability="{{system.dpCost.fields.creativeToggle}}">
                    {{#if system.dpCost.fields.creativeToggle}}
                    {{localize "abfalter.field"}}
                    {{else}}
                    {{localize "abfalter.individual"}}
                    {{/if}}
                </button>
            </div>
            {{#if system.dpCost.fields.creativeToggle}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.creativeField"}} </span> <input type="number" name="system.dpCost.fields.creative" value="{{system.dpCost.fields.creative}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{else}}
            <div class="classContent2">
                <label> <span> {{localize "abfalter.alchemy"}} </span> <input type="number" name="system.dpCost.subject.alchemy" value="{{system.dpCost.subject.alchemy}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.animism"}} </span> <input type="number" name="system.dpCost.subject.animism" value="{{system.dpCost.subject.animism}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.art"}} </span> <input type="number" name="system.dpCost.subject.art" value="{{system.dpCost.subject.art}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.cooking"}} </span> <input type="number" name="system.dpCost.subject.cooking" value="{{system.dpCost.subject.cooking}}" /> <span> {{localize "abfalter.cooking"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.dance"}} </span> <input type="number" name="system.dpCost.subject.dance" value="{{system.dpCost.subject.dance}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.forging"}} </span> <input type="number" name="system.dpCost.subject.forging" value="{{system.dpCost.subject.forging}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.jewelry"}} </span> <input type="number" name="system.dpCost.subject.jewelry" value="{{system.dpCost.subject.jewelry}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.toymaking"}} </span> <input type="number" name="system.dpCost.subject.toymaking" value="{{system.dpCost.subject.toymaking}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.music"}} </span> <input type="number" name="system.dpCost.subject.music" value="{{system.dpCost.subject.music}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.runes"}} </span> <input type="number" name="system.dpCost.subject.runes" value="{{system.dpCost.subject.runes}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.ritualcalig"}} </span> <input type="number" name="system.dpCost.subject.ritualcalig" value="{{system.dpCost.subject.ritualcalig}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
                <label> <span> {{localize "abfalter.slofhand"}} </span> <input type="number" name="system.dpCost.subject.slofhand" value="{{system.dpCost.subject.slofhand}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            <div class="classContent2">
                <label> <span> {{localize "abfalter.tailoring"}} </span> <input type="number" name="system.dpCost.subject.tailoring" value="{{system.dpCost.subject.tailoring}}" /> <span> {{localize "abfalter.forOne"}} </span> </label>
            </div>
            {{/if}}
        </div>
        
    </section>
</form>