<form class="{{cssClass}} baseAbfalter elanWindow" autocomplete="off">
    <div class="itemStart">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
    </div>
    
    <nav class="sheet-navigation tabs elanTabs" data-group="primary">
        <a class="item" data-tab="main">{{localize "abfalter.generalTab.elan"}}</a>
        <a class="item" data-tab="others">{{localize "abfalter.generalTab.addElan"}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab main" data-group="primary" data-tab="main">
            <div class="elanContent">
                <div>
                    <label> <span> {{localize "abfalter.generalTab.title"}} </span> <input type="text" name="system.title" value="{{system.title}}" /> </label>
                    <label> <span> {{localize "abfalter.generalTab.elan"}} </span> <input type="number" name="system.level" value="{{system.level}}" /> </label>
                </div>
                <h5> {{localize "abfalter.basicInfo.description"}} </h5>
                <div style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.description" style="grid-area: 1 / 1 / 2/ 2;">{{system.description}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.description}}</div>
                </div>
                <h5> {{localize "abfalter.generalTab.gainElan"}} </h5>
                <div style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gain" style="grid-area: 1 / 1 / 2/ 2;">{{system.gain}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gain}}</div>
                </div>
                <h5> {{localize "abfalter.generalTab.gainUpperElan"}} </h5>
                <div style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gainUpper" style="grid-area: 1 / 1 / 2/ 2;">{{system.gainUpper}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gainUpper}}</div>
                </div>
                <h5> {{localize "abfalter.generalTab.loseElan"}} </h5>
                <div style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.lose" style="grid-area: 1 / 1 / 2/ 2;">{{system.lose}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.lose}}</div>
                </div>
            </div>
        </div>

        <div class="tab others" data-group="primary" data-tab="others">
            <div class="elanContent2">
                <div>
                    <span> {{localize "abfalter.generalTab.elanEdit"}} </span>
                    <label> <span> {{localize "abfalter.psychicTab.totalCost"}}: </span> <input type="number" name="{{system.totalCost}}" value="{{system.totalCost}}" readonly /> </label>
                </div>
                <div>
                    <span> {{localize "abfalter.basicInfo.name"}} </span>
                    <span> {{localize "abfalter.basicInfo.cost"}} </span>
                    <span> {{localize "abfalter.magicTab.req"}} </span>
                </div>
                <div>
                    <input type="text" name="system.gifts.one.name" value="{{system.gifts.one.name}}" />
                    <input type="number" name="system.gifts.one.cost" value="{{system.gifts.one.cost}}" />
                    <input type="number" name="system.gifts.one.req" value="{{system.gifts.one.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.one.expand}}showOpacity{{/if}}" data-label="system.gifts.one.expand" data-ability="{{system.gifts.one.expand}}"><i class="{{#if system.gifts.one.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.one.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.one.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.one.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.one.desc}}</div>
                </div>
                {{/if}}
                <div>
                    <input type="text" name="system.gifts.two.name" value="{{system.gifts.two.name}}" />
                    <input type="number" name="system.gifts.two.cost" value="{{system.gifts.two.cost}}" />
                    <input type="number" name="system.gifts.two.req" value="{{system.gifts.two.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.two.expand}}showOpacity{{/if}}" data-label="system.gifts.two.expand" data-ability="{{system.gifts.two.expand}}"><i class="{{#if system.gifts.two.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.two.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.two.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.two.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.two.desc}}</div>
                </div>
                {{/if}}
                <div>
                    <input type="text" name="system.gifts.three.name" value="{{system.gifts.three.name}}" />
                    <input type="number" name="system.gifts.three.cost" value="{{system.gifts.three.cost}}" />
                    <input type="number" name="system.gifts.three.req" value="{{system.gifts.three.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.three.expand}}showOpacity{{/if}}" data-label="system.gifts.three.expand" data-ability="{{system.gifts.three.expand}}"><i class="{{#if system.gifts.three.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.three.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.three.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.three.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.three.desc}}</div>
                </div>
                {{/if}}
                <div>
                    <input type="text" name="system.gifts.four.name" value="{{system.gifts.four.name}}" />
                    <input type="number" name="system.gifts.four.cost" value="{{system.gifts.four.cost}}" />
                    <input type="number" name="system.gifts.four.req" value="{{system.gifts.four.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.four.expand}}showOpacity{{/if}}" data-label="system.gifts.four.expand" data-ability="{{system.gifts.four.expand}}"><i class="{{#if system.gifts.four.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.four.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.four.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.four.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.four.desc}}</div>
                </div>
                {{/if}}
                <div>
                    <input type="text" name="system.gifts.five.name" value="{{system.gifts.five.name}}" />
                    <input type="number" name="system.gifts.five.cost" value="{{system.gifts.five.cost}}" />
                    <input type="number" name="system.gifts.five.req" value="{{system.gifts.five.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.five.expand}}showOpacity{{/if}}" data-label="system.gifts.five.expand" data-ability="{{system.gifts.five.expand}}"><i class="{{#if system.gifts.five.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.five.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.five.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.five.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.five.desc}}</div>
                </div>
                {{/if}}

                <div>
                    <input type="text" name="system.gifts.six.name" value="{{system.gifts.six.name}}" />
                    <input type="number" name="system.gifts.six.cost" value="{{system.gifts.six.cost}}" />
                    <input type="number" name="system.gifts.six.req" value="{{system.gifts.six.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.six.expand}}showOpacity{{/if}}" data-label="system.gifts.six.expand" data-ability="{{system.gifts.six.expand}}"><i class="{{#if system.gifts.six.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.six.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.six.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.six.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.six.desc}}</div>
                </div>
                {{/if}}
                <div>
                    <input type="text" name="system.gifts.seven.name" value="{{system.gifts.seven.name}}" />
                    <input type="number" name="system.gifts.seven.cost" value="{{system.gifts.seven.cost}}" />
                    <input type="number" name="system.gifts.seven.req" value="{{system.gifts.seven.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.seven.expand}}showOpacity{{/if}}" data-label="system.gifts.seven.expand" data-ability="{{system.gifts.seven.expand}}"><i class="{{#if system.gifts.seven.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.seven.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.seven.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.seven.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.seven.desc}}</div>
                </div>
                {{/if}}
                <div>
                    <input type="text" name="system.gifts.eight.name" value="{{system.gifts.eight.name}}" />
                    <input type="number" name="system.gifts.eight.cost" value="{{system.gifts.eight.cost}}" />
                    <input type="number" name="system.gifts.eight.req" value="{{system.gifts.eight.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.eight.expand}}showOpacity{{/if}}" data-label="system.gifts.eight.expand" data-ability="{{system.gifts.eight.expand}}"><i class="{{#if system.gifts.eight.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.eight.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.eight.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.eight.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.eight.desc}}</div>
                </div>
                {{/if}}
                <div>
                    <input type="text" name="system.gifts.nine.name" value="{{system.gifts.nine.name}}" />
                    <input type="number" name="system.gifts.nine.cost" value="{{system.gifts.nine.cost}}" />
                    <input type="number" name="system.gifts.nine.req" value="{{system.gifts.nine.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.nine.expand}}showOpacity{{/if}}" data-label="system.gifts.nine.expand" data-ability="{{system.gifts.nine.expand}}"><i class="{{#if system.gifts.nine.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.nine.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.nine.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.nine.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.nine.desc}}</div>
                </div>
                {{/if}}
                <div>
                    <input type="text" name="system.gifts.ten.name" value="{{system.gifts.ten.name}}" />
                    <input type="number" name="system.gifts.ten.cost" value="{{system.gifts.ten.cost}}" />
                    <input type="number" name="system.gifts.ten.req" value="{{system.gifts.ten.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.ten.expand}}showOpacity{{/if}}" data-label="system.gifts.ten.expand" data-ability="{{system.gifts.ten.expand}}"><i class="{{#if system.gifts.ten.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.ten.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.ten.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.ten.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.ten.desc}}</div>
                </div>
                {{/if}}
                <div>
                    <input type="text" name="system.gifts.eleven.name" value="{{system.gifts.eleven.name}}" />
                    <input type="number" name="system.gifts.eleven.cost" value="{{system.gifts.eleven.cost}}" />
                    <input type="number" name="system.gifts.eleven.req" value="{{system.gifts.eleven.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.eleven.expand}}showOpacity{{/if}}" data-label="system.gifts.eleven.expand" data-ability="{{system.gifts.eleven.expand}}"><i class="{{#if system.gifts.eleven.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.eleven.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.eleven.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.eleven.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.eleven.desc}}</div>
                </div>
                {{/if}}
                <div>
                    <input type="text" name="system.gifts.twelve.name" value="{{system.gifts.twelve.name}}" />
                    <input type="number" name="system.gifts.twelve.cost" value="{{system.gifts.twelve.cost}}" />
                    <input type="number" name="system.gifts.twelve.req" value="{{system.gifts.twelve.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.twelve.expand}}showOpacity{{/if}}" data-label="system.gifts.twelve.expand" data-ability="{{system.gifts.twelve.expand}}"><i class="{{#if system.gifts.twelve.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.twelve.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.twelve.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.twelve.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.twelve.desc}}</div>
                </div>
                {{/if}}
                <div>
                    <input type="text" name="system.gifts.thirteen.name" value="{{system.gifts.thirteen.name}}" />
                    <input type="number" name="system.gifts.thirteen.cost" value="{{system.gifts.thirteen.cost}}" />
                    <input type="number" name="system.gifts.thirteen.req" value="{{system.gifts.thirteen.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.thirteen.expand}}showOpacity{{/if}}" data-label="system.gifts.thirteen.expand" data-ability="{{system.gifts.thirteen.expand}}"><i class="{{#if system.gifts.thirteen.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.thirteen.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.thirteen.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.thirteen.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.thirteen.desc}}</div>
                </div>
                {{/if}}
                <div>
                    <input type="text" name="system.gifts.fourteen.name" value="{{system.gifts.fourteen.name}}" />
                    <input type="number" name="system.gifts.fourteen.cost" value="{{system.gifts.fourteen.cost}}" />
                    <input type="number" name="system.gifts.fourteen.req" value="{{system.gifts.fourteen.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.fourteen.expand}}showOpacity{{/if}}" data-label="system.gifts.fourteen.expand" data-ability="{{system.gifts.fourteen.expand}}"><i class="{{#if system.gifts.fourteen.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.fourteen.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.fourteen.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.fourteen.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.fourteen.desc}}</div>
                </div>
                {{/if}}
                <div>
                    <input type="text" name="system.gifts.fifteen.name" value="{{system.gifts.fifteen.name}}" />
                    <input type="number" name="system.gifts.fifteen.cost" value="{{system.gifts.fifteen.cost}}" />
                    <input type="number" name="system.gifts.fifteen.req" value="{{system.gifts.fifteen.req}}" />
                    <a class="toggleBoolean {{#if system.gifts.fifteen.expand}}showOpacity{{/if}}" data-label="system.gifts.fifteen.expand" data-ability="{{system.gifts.fifteen.expand}}"><i class="{{#if system.gifts.fifteen.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </div>
                {{#if system.gifts.fifteen.expand}}
                <div class="textarea-div" style="display: grid;">
                    <textarea class="textarea-auto-resize" name="system.gifts.fifteen.desc" style="grid-area: 1 / 1 / 2/ 2;">{{system.gifts.fifteen.desc}}</textarea>
                    <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.gifts.fifteen.desc}}</div>
                </div>
                {{/if}}
            </div>
        </div>
    </section>
</form>
