<form class="{{cssClass}} baseAbfalter" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="item-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />

        <div class="header-details flexrow">
            <h1 class="itemName">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'abfalter.sheet.nameItem'}}" />
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{localize "abfalter.sheet.kiTechTitle"}}</h4>
                <span class="item-subType">{{system.mk}} {{localize "abfalter.basicInfo.mk"}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    <select name="system.frequency">
                        {{selectOptions kiFrequencyObjList selected=system.frequency localize=true}}
                    </select>
                </li>
                <li>
                    <select name="system.actionType">
                        {{selectOptions kiActionTypeObjList selected=system.actionType localize=true}}
                    </select>
                </li>
                <li>{{localize "abfalter.basicInfo.level"}}: {{system.level}}</li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs itemTabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "abfalter.basicInfo.description" }}</a>
        <a class="item" data-tab="details">{{ localize "abfalter.basicInfo.details" }}</a>
        <a class="item" data-tab="effects">{{ localize "abfalter.basicInfo.effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description flexcol" data-group="primary" data-tab="description">
            <h6> {{localize "abfalter.basicInfo.description"}} </h6>
            <div style="display: grid;">
                <textarea class="textarea-auto-resize" rows="5" name="system.description" style="grid-area: 1 / 1 / 2/ 2;">{{system.description}}</textarea>
                <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.description}}</div>
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h6> {{localize "abfalter.sheet.kiTechTitle"}} {{ localize "abfalter.basicInfo.details" }} </h6>      
            <label> <span> {{localize "abfalter.basicInfo.level"}} </span> <input type="number" name="system.level" value="{{system.level}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.mk"}} </span> <input type="number" name="system.mk" value="{{system.mk}}" /> </label>

            <div class="kiTechContent">
                <div> </div>

                <div class="kiTechTypeMax">
                    <span> {{localize "abfalter.kiTab.ki"}} </span>
                    <span> {{localize "abfalter.basicInfo.agi"}} </span>
                    <span> {{localize "abfalter.basicInfo.con"}} </span>
                    <span> {{localize "abfalter.basicInfo.dex"}} </span>
                    <span> {{localize "abfalter.basicInfo.str"}} </span>
                    <span> {{localize "abfalter.basicInfo.pow"}} </span>
                    <span> {{localize "abfalter.basicInfo.wp"}} </span>
                    <span> </span>
                </div>

                <div class="kiTechUseMax">
                    <span> {{localize "abfalter.kiTab.use"}} </span>
                    <input name="system.use.agi" type="number" value="{{system.use.agi}}" />
                    <input name="system.use.con" type="number" value="{{system.use.con}}" />
                    <input name="system.use.dex" type="number" value="{{system.use.dex}}" />
                    <input name="system.use.str" type="number" value="{{system.use.str}}" />
                    <input name="system.use.pow" type="number" value="{{system.use.pow}}" />
                    <input name="system.use.wp" type="number" value="{{system.use.wp}}" />
                </div>

                <div class="kiTechMaintMaxContent">
                    {{#if system.actor}}
                    <div>
                        {{#if system.unified}}
                        <div class="techExpandContent">
                            {{#if system.innatePower}}
                            <span> {{localize "abfalter.kiTab.innatePowerMaint"}} </span>
                            {{else}}
                            <span> {{localize "abfalter.kiTab.unifiedMaint"}} </span>
                            {{/if}}
                            <input name="system.maint.unified" type="number" value="{{system.maint.unified}}" />
                        </div>
                        {{else}}
                        <span> {{localize "abfalter.kiTab.maint"}} </span>
                        <input name="system.maint.agi" type="number" value="{{system.maint.agi}}" />
                        <input name="system.maint.con" type="number" value="{{system.maint.con}}" />
                        <input name="system.maint.dex" type="number" value="{{system.maint.dex}}" />
                        <input name="system.maint.str" type="number" value="{{system.maint.str}}" />
                        <input name="system.maint.pow" type="number" value="{{system.maint.pow}}" />
                        <input name="system.maint.wp" type="number" value="{{system.maint.wp}}" />
                        {{/if}}
                    </div>
                    {{else}}
                    <div>
                        <span> {{localize "abfalter.kiTab.maint"}} </span>
                        <input name="system.maint.agi" type="number" value="{{system.maint.agi}}" />
                        <input name="system.maint.con" type="number" value="{{system.maint.con}}" />
                        <input name="system.maint.dex" type="number" value="{{system.maint.dex}}" />
                        <input name="system.maint.str" type="number" value="{{system.maint.str}}" />
                        <input name="system.maint.pow" type="number" value="{{system.maint.pow}}" />
                        <input name="system.maint.wp" type="number" value="{{system.maint.wp}}" />
                    </div>

                    <div>
                        <span> {{localize "abfalter.kiTab.unifiedMaint"}} </span>
                        <input name="system.maint.unified" type="number" value="{{system.maint.unified}}" />
                    </div>
                    {{/if}}
                </div>

                <div></div>
            </div>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> systems/abfalter/templates/actor/parts/active-effects.hbs }}
        </div>
    </section>

</form>
