<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="item-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />

        <div class="header-details flexrow">
            <h1 class="itemName">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'abfalter.sheet.nameItem'}}" />
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{localize "abfalter.psychicTab.psychicMatricesOne"}}</h4>
                <span class="item-subType">
                    {{localize "abfalter.level"}}: {{system.level}}
                </span>
            </div>

            <ul class="summary flexrow">
                <li>{{localize "abfalter.psychicTab.ppotential"}}: {{system.newPotential}}</li>
                <li>
                    <select name="system.action">
                        {{selectOptions actionObjList selected=system.action localize=true}}
                    </select>
                </li>
                <li>{{localize "abfalter.psychicTab.maint"}} {{system.maintName}}</li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs itemTabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "abfalter.description" }}</a>
        <a class="item" data-tab="details">{{ localize "abfalter.details" }}</a>
        <a class="item" data-tab="effects">{{ localize "abfalter.effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description flexcol" data-group="primary" data-tab="description">
            <h6> {{localize "abfalter.shortDesc"}} </h6>
            <div style="display: grid;">
                <textarea class="textarea-auto-resize" name="system.shortDesc" style="grid-area: 1 / 1 / 2/ 2;">{{system.shortDesc}}</textarea>
                <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.shortDesc}}</div>
            </div>
            <h6> {{localize "abfalter.description"}} </h6>
            <div style="display: grid;">
                <textarea class="textarea-auto-resize" name="system.description" style="grid-area: 1 / 1 / 2/ 2;">{{system.description}}</textarea>
                <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.description}}</div>
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h6> {{localize "abfalter.psychicTab.psychicMatricesOne"}} {{ localize "abfalter.details" }} </h6>
            <label> <span> {{localize "abfalter.bonus"}} </span> <input type="number" name="system.bonus" value="{{system.bonus}}" /> </label>
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.level"}} </span>
                    <select name="system.level">
                        {{selectOptions matrixLevelObjList selected=system.level localize=true}}
                    </select>
                </label>
            </div>
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.psychicTab.maint"}} </span>
                    <select name="system.maint">
                        {{selectOptions yesnoObjList selected=system.maint localize=true}}
                    </select>
                </label>
            </div>
            <div class="psychicMatrix">
                <div>
                    <span> {{localize "abfalter.difficulty"}} </span>
                    <span> {{localize "abfalter.effect"}} </span>
                </div>
                <div>
                    <label> <span> 20 </span> <span> {{localize "abfalter.routine"}} </span> <input type="text" name="system.effect20" value="{{system.effect20}}" /> </label>
                    <label> <span> 40 </span> <span> {{localize "abfalter.easy"}} </span> <input type="text" name="system.effect40" value="{{system.effect40}}" /> </label>
                    <label> <span> 80 </span> <span> {{localize "abfalter.average"}} </span> <input type="text" name="system.effect80" value="{{system.effect80}}" /> </label>
                    <label> <span> 120 </span> <span> {{localize "abfalter.difficult"}} </span> <input type="text" name="system.effect120" value="{{system.effect120}}" /> </label>
                    <label> <span> 140 </span> <span> {{localize "abfalter.vDifficult"}} </span> <input type="text" name="system.effect140" value="{{system.effect140}}" /> </label>
                    <label> <span> 180 </span> <span> {{localize "abfalter.absurd"}} </span> <input type="text" name="system.effect180" value="{{system.effect180}}" /> </label>
                    <label> <span> 240 </span> <span> {{localize "abfalter.almostImp"}} </span> <input type="text" name="system.effect240" value="{{system.effect240}}" /> </label>
                    <label> <span> 280 </span> <span> {{localize "abfalter.impossible"}} </span> <input type="text" name="system.effect280" value="{{system.effect280}}" /> </label>
                    <label> <span> 320 </span> <span> {{localize "abfalter.inhuman"}} </span> <input type="text" name="system.effect320" value="{{system.effect320}}" /> </label>
                    <label> <span> 440 </span> <span> {{localize "abfalter.zen"}} </span> <input type="text" name="system.effect440" value="{{system.effect440}}" /> </label>
                </div>
            </div>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> systems/abfalter/templates/actor/parts/active-effects.hbs }}
        </div>
    </section>

</form>
