<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="item-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />

        <div class="header-details flexrow">
            <h1 class="itemName">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'abfalter.sheet.nameItem'}}" />
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{localize "abfalter.magicTab.spellPathOne"}}</h4>
            </div>

            <ul class="summary flexrow">
                <li>{{localize "abfalter.level"}}: <input type="number" name="system.level" value="{{system.level}}" /></li>
            </ul>
        </div>
    </header>

</form>
