<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">
    <div class="itemStart">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
    </div>

    <div class="spellContent">
        <h5> {{localize "abfalter.magicTab.spellDetails"}} </h5>
        <div>
            <label> <span> {{localize "abfalter.magicTab.path"}} </span> <input type="text" name="system.path" value="{{system.path}}" /> </label>
            <label> <span> {{localize "abfalter.level"}} </span> <input type="number" name="system.level" value="{{system.level}}" /> </label>
        </div>
        <div>
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.action"}} </span>
                    <select name="system.action">
                        {{selectOptions actionObjList selected=system.action localize=true}}
                    </select>
                </label>
            </div>
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.psychicTab.pproj"}} </span>
                    <select name="system.projection">
                        {{selectOptions spellProjObjList selected=system.projection localize=true}}
                    </select>
                </label>
            </div>
        </div>
        <div>
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.type"}} </span>
                    <select name="system.type">
                        {{selectOptions spellTypeObjList selected=system.type localize=true}}
                    </select>
                </label>
            </div>
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.magicTab.maintType"}} </span>
                    <select name="system.maintType">
                        {{selectOptions spellMaintTypeObjList selected=system.maintType localize=true}}
                    </select>
                </label>
            </div>
        </div>
        <div>
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.magicTab.bought"}} </span>
                    <select name="system.bought">
                        {{selectOptions spellBoughtObjList selected=system.bought localize=true}}
                    </select>
                </label>
            </div>
            <label> <span> {{localize "abfalter.cost"}} </span> <input type="number" name="system.cost" value="{{system.cost}}" /> </label>
        </div>
        <h6> {{localize "abfalter.description"}} </h6>
        <div style="display: grid;">
            <textarea class="textarea-auto-resize" rows="5" name="system.description" style="grid-area: 1 / 1 / 2/ 2;">{{system.description}}</textarea>
            <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.description}}</div>
        </div>
    </div>

    <div class="spellContentCont">
        <h6> Spell Content </h6>
        <div>
            <span> {{localize "abfalter.magicTab.rank"}} </span>
            <span> {{localize "abfalter.magicTab.req"}} </span>
            <span> {{localize "abfalter.magicTab.zeon"}} </span>
            <span> {{localize "abfalter.magicTab.maint"}} </span>
        </div>

        <div>
            <span> {{localize "abfalter.magicTab.basic"}} </span>
            <input type="number" name="system.basic.intReq" value="{{system.basic.intReq}}" />
            <input type="number" name="system.basic.zeonCost" value="{{system.basic.zeonCost}}" />
            <input type="number" name="system.basic.maint" value="{{system.basic.maint}}" />
        </div>
        <div style="display: grid;">
            <textarea class="textarea-auto-resize" rows="5" name="system.basic.rollDesc" style="grid-area: 1 / 1 / 2/ 2;">{{system.basic.rollDesc}}</textarea>
            <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.basic.rollDesc}}</div>
        </div>

        <div>
            <span> {{localize "abfalter.magicTab.intermidiate"}} </span>
            <input type="number" name="system.intermediate.intReq" value="{{system.intermediate.intReq}}" />
            <input type="number" name="system.intermediate.zeonCost" value="{{system.intermediate.zeonCost}}" />
            <input type="number" name="system.intermediate.maint" value="{{system.intermediate.maint}}" />
        </div>
        <div style="display: grid;">
            <textarea class="textarea-auto-resize" rows="5" name="system.intermediate.rollDesc" style="grid-area: 1 / 1 / 2/ 2;">{{system.intermediate.rollDesc}}</textarea>
            <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.intermediate.rollDesc}}</div>
        </div>

        <div>
            <span> {{localize "abfalter.magicTab.advanced"}} </span>
            <input type="number" name="system.advanced.intReq" value="{{system.advanced.intReq}}" />
            <input type="number" name="system.advanced.zeonCost" value="{{system.advanced.zeonCost}}" />
            <input type="number" name="system.advanced.maint" value="{{system.advanced.maint}}" />
        </div>
        <div style="display: grid;">
            <textarea class="textarea-auto-resize" rows="5" name="system.advanced.rollDesc" style="grid-area: 1 / 1 / 2/ 2;">{{system.advanced.rollDesc}}</textarea>
            <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.advanced.rollDesc}}</div>
        </div>

        <div>
            <span> {{localize "abfalter.magicTab.arcane"}} </span>
            <input type="number" name="system.arcane.intReq" value="{{system.arcane.intReq}}" />
            <input type="number" name="system.arcane.zeonCost" value="{{system.arcane.zeonCost}}" />
            <input type="number" name="system.arcane.maint" value="{{system.arcane.maint}}" />
        </div>
        <div style="display: grid;">
            <textarea class="textarea-auto-resize" rows="5" name="system.arcane.rollDesc" style="grid-area: 1 / 1 / 2/ 2;">{{system.arcane.rollDesc}}</textarea>
            <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.arcane.rollDesc}}</div>
        </div>
    </div>
</form>
