<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="item-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />

        <div class="header-details flexrow">
            <h1 class="itemName">
                <input name="name" type="text" value="{{item.name}}"
                    placeholder="{{ localize 'abfalter.nameItem'}}" />
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{localize "abfalter.weapon"}}</h4>
                <span class="item-subType">{{system.rarity}}</span>
            </div>

            <ul class="summary flexrow">
                <li> {{localize "abfalter.speed"}}: {{system.derived.finalWeaponSpeed}} </li>
                <li> {{localize "abfalter.presence"}}: {{system.derived.finalPresence}} </li>
                <li> {{system.info.weaponClass}} </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs itemTabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "abfalter.description" }}</a>
        <a class="item" data-tab="details">{{ localize "abfalter.details" }}</a>
        {{#ifEquals system.info.type "melee"}}
        <a class="item" data-tab="attacks">{{ localize "abfalter.attack" }}</a>
        {{/ifEquals}}
        {{#ifEquals system.info.type "ranged"}}
        <a class="item" data-tab="attacks">{{ localize "abfalter.attack" }}</a>
        {{/ifEquals}}
        <a class="item" data-tab="effects">{{ localize "abfalter.effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description flexcol" data-group="primary" data-tab="description">
            <h6> {{localize "abfalter.description"}} </h6>
            {{editor system.description class="itemDescInfo" target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h6> {{localize "abfalter.weapon"}} {{ localize "abfalter.details" }} </h6>
            <div class="csSelect weaponContent"> 
                <label>
                    <span> {{localize "abfalter.type"}} </span>
                    <select name="system.info.type">
                        {{selectOptions weaponTypeList selected=system.info.type localize=true}}
                    </select>
                </label>
            </div>
            <label> <span> {{localize "abfalter.wepClass"}} </span> <input type="text" name="system.info.weaponClass" value="{{system.info.weaponClass}}" /> </label>
            <label> <span> {{localize "abfalter.rarity"}} </span> <input type="text" name="system.rarity" value="{{system.rarity}}" /> </label>
            <label> <span> {{localize "abfalter.quality"}} </span> <input type="number" name="system.quality" value="{{system.quality}}" /> </label>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.presence"}} </span>
                    <input type="number" name="system.presence" value="{{system.presence}}" />
                    <span> | </span>
                    <span> {{system.derived.finalPresence}} </span>
                </label>
            </div>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.fortitude"}} </span>
                    <input type="number" name="system.fortitude" value="{{system.fortitude}}" />
                    <span> | </span>
                    <span> {{system.derived.finalFortitude}} </span>
                </label>
            </div>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.speed"}} </span>
                    <input type="number" name="system.speed" value="{{system.speed}}" />
                    <span> | </span>
                    <span> {{system.derived.finalWeaponSpeed}} </span>
                </label>
            </div>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.settingsTab.openRoll"}} </span>
                    <input type="number" name="system.info.openRollMod" value="{{system.info.openRollMod}}" />
                    <span> | </span>
                    <span> {{system.derived.baseOpenRollRange}} </span>
                </label>
            </div>
            <div class="weaponContent7"> 
                <label for="fumbleInput">
                    <span style="display: grid"> {{localize "abfalter.settingsTab.fumbleRoll"}} </span>
                </label>
                <button type="button" class="toggleBoolean {{#if system.info.complex}}kiBought{{/if}}"
                    data-label="system.info.complex" data-ability="{{system.info.complex}}">
                    <span> {{localize "abfalter.complex"}} </span>
                </button>
                <input type="number" id="fumbleInput" name="system.info.fumbleRollMod" value="{{system.info.fumbleRollMod}}" />
                <span style="display: grid"> | </span>
                <span style="display: grid"> {{system.derived.baseFumbleRange}} </span>
            </div>

            {{#ifEquals system.info.type "melee"}}
            <h6> {{ localize "abfalter.meleeDetails" }} </h6>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.attack"}} </span>
                    <input type="number" name="system.attack" value="{{system.attack}}" />
                    <span> | </span>
                    <span> {{system.derived.baseAtk}} </span>
                </label>
            </div>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.block"}} </span>
                    <input type="number" name="system.block" value="{{system.block}}" />
                    <span> | </span>
                    <span> {{system.derived.baseBlk}} </span>
                </label>
            </div>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.dodge"}} </span>
                    <input type="number" name="system.dodge" value="{{system.dodge}}" />
                    <span> | </span>
                    <span> {{system.derived.baseDod}} </span>
                </label>
            </div>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.atPen"}} </span>
                    <input type="number" name="system.atPen" value="{{system.atPen}}" />
                    <span> | </span>
                    <span> {{system.melee.finalATPen}} </span>
                </label>
            </div>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.breakage"}} </span>
                    <input type="number" name="system.breakage" value="{{system.breakage}}" />
                    <span> | </span>
                    <span> {{system.melee.finalBreakage}} </span>
                </label>
            </div>
            <div class="weaponContent3">
                <div class="csSelect">
                    <label>
                        <span> {{localize "abfalter.required"}} </span>
                        <select name="system.info.reqType">
                            {{selectOptions customSecObjList selected=system.info.reqType localize=true}}
                        </select>
                    </label>
                </div>
                <label>
                    <button type="button" class="toggleBoolean {{#if system.info.reqWarning}}kiBought{{/if}}"
                        data-label="system.info.reqWarning" data-ability="{{system.info.reqWarning}}">
                        {{#if system.info.reqWarning}}
                        <span> {{localize "abfalter.warningsEnabled"}} </span>
                        {{else}}
                        <span> {{localize "abfalter.warningsDisabled"}} </span>
                        {{/if}}
                    </button>
                </label>
                <input type="number" name="system.info.reqMod" value="{{system.info.reqMod}}" placeholder="1h" />
                <span> / </span>
                <input type="number" name="system.info.reqMod2h" value="{{system.info.reqMod2h}}" placeholder="2h" />
            </div>
            <div class="wepaonContentButtons">
                <button type="button" class="toggleBoolean {{#if system.info.precision}}kiBought{{/if}}"
                    data-label="system.info.precision" data-ability="{{system.info.precision}}">
                    <span> {{localize "abfalter.precision"}} </span>
                </button>
                <button type="button" class="toggleBoolean {{#if system.info.vorpal}}kiBought{{/if}}"
                    data-label="system.info.vorpal" data-ability="{{system.info.vorpal}}">
                    <span> {{localize "abfalter.vorpal"}} </span>
                </button>
                    <button type="button" class="toggleBoolean {{#if system.melee.throwable}}kiBought{{/if}}"
                    data-label="system.melee.throwable" data-ability="{{system.melee.throwable}}">
                    <span> {{localize "abfalter.throwable"}} </span>
                </button>
                <button type="button" class="toggleBoolean {{#if system.melee.trapping}}kiBought{{/if}}"
                    data-label="system.melee.trapping" data-ability="{{system.melee.trapping}}">
                    <span> {{localize "abfalter.trapping"}} </span>
                </button>
            </div>
            {{#if system.info.vorpal}}
            <div class="weaponContent2">
                <div class="csSelect">
                    <label>
                        <span> {{localize "abfalter.location"}} </span> 
                        <select name="system.info.vorpalLocation">
                            {{selectOptions vorpalAtkList selected=system.info.vorpalLocation localize=true}}
                        </select>
                    </label>
                </div>
                <label> 
                    <span> {{localize "abfalter.mod"}} </span>
                    <input type="number" name="system.info.vorpalMod" value="{{system.info.vorpalMod}}" />
                </label>
            </div>
            {{/if}}
            {{#if system.melee.throwable}}
            <div class="csSelect weaponContent4">
                <label>
                    <span> {{localize "abfalter.range"}} </span>
                    <input type="number" name="system.melee.throwRange" value="{{system.melee.throwRange}}"/>
                    <select name="system.melee.throwDistanceType">
                        {{selectOptions throwDistanceDropdown selected=system.melee.throwDistanceType localize=true}}
                    </select>
                </label>
            </div>
            <label> <span> {{localize "abfalter.quantity"}} </span> <input type="number" name="system.melee.throwQuantity" value="{{system.melee.throwQuantity}}" /> </label>
            {{/if}}
            {{#if system.melee.trapping}}
            <div class="weaponContent6">
                <label>
                    <span> {{localize "abfalter.trapOppChar"}} </span>
                    <div class="csSelect">
                        <select name="system.melee.trappingTypeF">
                            {{selectOptions customSecObjList selected=system.melee.trappingTypeF localize=true}}
                        </select>
                    </div>
                    <span> / </span>
                    <div class="csSelect">
                        <select name="system.melee.trappingTypeS">
                            {{selectOptions customSecObjList selected=system.melee.trappingTypeS localize=true}}
                        </select>
                    </div>
                </label>
            </div>
            {{/if}}

            <h6> {{ localize "abfalter.damageDetails" }} </h6>
            <div class="csSelect weaponContent"> 
                <label>
                    <span> {{localize "abfalter.primary"}} </span>
                    {{#if system.spiritHomebrew}}
                    <select class="inline-edit" name="system.primDmgT" data-field="system.primDmgT">
                        {{selectOptions wepDamageTypeSpiritObjList selected=system.primDmgT localize=true}}
                    </select>
                    {{else}}
                    <select class="inline-edit" name="system.primDmgT" data-field="system.primDmgT">
                        {{selectOptions wepDamageTypeObjList selected=system.primDmgT localize=true}}
                    </select>
                    {{/if}}
                </label>
            </div>
            <div class="csSelect weaponContent"> 
                <label>
                    <span> {{localize "abfalter.secondary"}} </span>
                    {{#if system.spiritHomebrew}}
                    <select class="inline-edit" name="system.secDmgT" data-field="system.secDmgT">
                        {{selectOptions wepDamageTypeSpiritObjList selected=system.secDmgT localize=true}}
                    </select>
                    {{else}}
                    <select class="inline-edit" name="system.secDmgT" data-field="system.secDmgT">
                        {{selectOptions wepDamageTypeObjList selected=system.secDmgT localize=true}}
                    </select>
                    {{/if}}
                </label>
            </div>
            <label> <span> {{localize "abfalter.base"}} {{localize "abfalter.damage"}} </span> <input type="text" name="system.baseDmg" value="{{system.baseDmg}}" /> </label>
            <div class="csSelect weaponContent5">
                <label>
                    <span> {{localize "abfalter.mod"}} </span>
                    <button type="button" class="toggleBoolean {{#if system.melee.twoHanded}}kiBought{{/if}}"
                        data-label="system.melee.twoHanded" data-ability="{{system.melee.twoHanded}}">
                        <span> {{localize "abfalter.twoHand"}} </span>
                    </button>
                    <select name="system.melee.dmgMod" data-field="system.melee.dmgMod">
                        {{selectOptions damageModObjList selected=system.melee.dmgMod localize=true}}
                    </select>
                </label>
            </div>
            <label> <span>  {{localize "abfalter.final"}} {{localize "abfalter.damage"}} </span> <input type="text" name="system.melee.baseDmg" value="{{system.melee.baseDmg}}" readonly/> </label>
            {{/ifEquals}}



            {{#ifEquals system.info.type "ranged"}}
            <h6> {{ localize "abfalter.rangedDetails" }} </h6>

            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.attack"}} </span>
                    <input type="number" name="system.attack" value="{{system.attack}}" />
                    <span> | </span>
                    <span> {{system.derived.baseAtk}} </span>
                </label>
            </div>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.block"}} </span>
                    <input type="number" name="system.block" value="{{system.block}}" />
                    <span> | </span>
                    <span> {{system.derived.baseBlk}} </span>
                </label>
            </div>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.dodge"}} </span>
                    <input type="number" name="system.dodge" value="{{system.dodge}}" />
                    <span> | </span>
                    <span> {{system.derived.baseDod}} </span>
                </label>
            </div>

            <div class="weaponContent7"> 
                <label for="reloadTime" class="atkCustomTitleContainer">
                    <span style="display: grid"> {{localize "abfalter.reloadTime"}} </span>
                    <div class="atkCustomTitle">({{system.ranged.reloadTime}}) {{localize "abfalter.reloadTime"}} - [({{system.ranged.bestReloadValue}}) {{system.ranged.reloadTag}} / 100]</div>
                </label>
                <button type="button" class="toggleBoolean {{#if system.ranged.fired}}kiBought{{/if}}"
                    data-label="system.ranged.fired" data-ability="{{system.ranged.fired}}">
                    {{#if system.ranged.fired}}
                    <span> {{localize "abfalter.fired"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.thrown"}} </span>
                    {{/if}}
                </button>
                <input type="number" id="reloadTime" name="system.ranged.reloadTime" value="{{system.ranged.reloadTime}}" />
                <span style="display: grid"> | </span>
                <span style="display: grid"> {{system.ranged.reloadTimeFinal}} </span>
            </div>

            <div class="csSelect weaponContent4">
                <label>
                    <span> {{localize "abfalter.range"}} </span>
                    <input type="number" name="system.ranged.range" value="{{system.ranged.range}}"/>
                    <select name="system.ranged.rangeType">
                        {{selectOptions throwDistanceDropdown selected=system.ranged.rangeType localize=true}}
                    </select>
                </label>
            </div>
            <div class="wepaonContentButtons">
                <button type="button" class="toggleBoolean {{#if system.info.precision}}kiBought{{/if}}"
                    data-label="system.info.precision" data-ability="{{system.info.precision}}">
                    <span> {{localize "abfalter.precision"}} </span>
                </button>
                <button type="button" class="toggleBoolean {{#if system.info.vorpal}}kiBought{{/if}}"
                    data-label="system.info.vorpal" data-ability="{{system.info.vorpal}}">
                    <span> {{localize "abfalter.vorpal"}} </span>
                </button>

                <button type="button" class="toggleBoolean {{#if system.ranged.specialAmmo}}kiBought{{/if}}"
                    data-label="system.ranged.specialAmmo" data-ability="{{system.ranged.specialAmmo}}">
                    <span> {{localize "abfalter.specialAmmo"}} </span>
                </button>

                <button type="button" class="toggleBoolean {{#if system.ranged.infiniteAmmo}}kiBought{{/if}}"
                    data-label="system.ranged.infiniteAmmo" data-ability="{{system.ranged.infiniteAmmo}}">
                    <span> {{localize "abfalter.infiniteAmmo"}} </span>
                </button>
            </div>
            {{#if system.info.vorpal}}
            <div class="weaponContent2">
                <div class="csSelect">
                    <label>
                        <span> {{localize "abfalter.location"}} </span> 
                        <select name="system.info.vorpalLocation">
                            {{selectOptions vorpalAtkList selected=system.info.vorpalLocation localize=true}}
                        </select>
                    </label>
                </div>
                <label> 
                    <span> {{localize "abfalter.mod"}} </span>
                    <input type="number" name="system.info.vorpalMod" value="{{system.info.vorpalMod}}" />
                </label>
            </div>
            {{/if}}

            {{#if system.ranged.specialAmmo}}
            <h6> {{localize "abfalter.specialAmmoDetails"}} </h6>
            <label> <span> {{localize "abfalter.breakage"}} </span> <input type="number" name="system.ranged.specialBreak" value="{{system.ranged.specialBreak}}" /> </label>
            <label> <span> {{localize "abfalter.atPen"}} </span> <input type="number" name="system.ranged.specialAtPen" value="{{system.ranged.specialAtPen}}" /> </label>
            <label> <span> {{localize "abfalter.damage"}} </span> <input type="number" name="system.ranged.specialDmg" value="{{system.ranged.specialDmg}}" /> </label>
            <div class="csSelect weaponContent">
                <label> 
                    <span> {{localize "abfalter.dmgType"}} </span> 
                    {{#if system.spiritHomebrew}}
                        <select class="inline-edit" name="system.ranged.specialDmgType" data-field="system.ranged.specialDmgType">
                            {{selectOptions wepDamageTypeSpiritObjList selected=system.ranged.specialDmgType localize=true}}
                        </select>
                        {{else}}
                        <select class="inline-edit" name="system.ranged.specialDmgType" data-field="system.ranged.specialDmgType">
                            {{selectOptions wepDamageTypeObjList selected=system.ranged.specialDmgType localize=true}}
                        </select>
                    {{/if}}
                </label>
            </div>
            {{/if}}

            <h6> {{ localize "abfalter.damageDetails" }} </h6>
            <div class="csSelect weaponContent"> 
                <label>
                    <span> {{localize "abfalter.selectAmmo"}} </span>
                    <select name="system.ranged.selectedAmmo" data-field="system.ranged.selectedAmmo">
                        {{selectOptions ammoOptions selected=system.ranged.selectedAmmo localize=true}}
                    </select>
                </label>
            </div>

            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.breakage"}} </span>
                    <input type="number" name="system.ranged.ammoBreakMod" value="{{system.ranged.ammoBreakMod}}" />
                    <span> | </span>
                    <span> {{system.ranged.ammoBreakFinal}} </span>
                </label>
            </div>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.atPen"}} </span>
                    <input type="number" name="system.ranged.ammoAtPenMod" value="{{system.ranged.ammoAtPenMod}}" />
                    <span> | </span>
                    <span> {{system.ranged.ammoAtPenFinal}} </span>
                </label>
            </div>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.damage"}} </span>
                    <input type="number" name="system.ranged.ammoDmgMod" value="{{system.ranged.ammoDmgMod}}" />
                    <span> | </span>
                    <span> {{system.ranged.ammoDamageFinal}} </span>
                </label>
            </div>


            {{/ifEquals}}



            {{#ifEquals system.info.type "shield"}}
            <h6> specific shield {{ localize "abfalter.details" }} </h6> 
            <span> WIP 12/16/24 next update will be this</span>
            <span> The Shield is Functional, but its probably missing stuff.</span> 
            <span> It is now 12/16/24, and this is my next goal to finish</span>

            <div class="csSelect weaponContent">
                <label>
                    <span> {{localize "abfalter.shieldType"}} </span>
                    <select name="system.shield.type" data-field="system.shield.type">
                        {{selectOptions shieldObjList selected=system.shield.type localize=true}}
                    </select>
                </label>
            </div>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.block"}} </span>
                    <input type="number" name="system.block" value="{{system.block}}" />
                    <span> | </span>
                    <span> {{system.fortFinal}} </span>
                </label>
            </div>
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.dodge"}} </span>
                    <input type="number" name="system.dodge" value="{{system.dodge}}" />
                    <span> | </span>
                    <span> {{system.fortFinal}} </span>
                </label>
            </div>            
            <div class="weaponContent"> 
                <label>
                    <span> {{localize "abfalter.breakage"}} </span>
                    <input type="number" name="system.breakage" value="{{system.breakage}}" />
                    <span> | </span>
                    <span> {{system.finalBreakage}} </span>
                </label>
            </div>
            {{/ifEquals}}
        </div>

        {{!-- Attack Tab --}}
        <div class="tab attacks flexcol" data-group="primary" data-tab="attacks">
            <h6> {{localize "abfalter.attack"}} </h6>

            <div id="attack-list">
                <!-- Existing attacks will be rendered here -->
                
                {{#each system.attacks}}
                <div class="attack-entry" >
                    {{#if this.expand}}
                    <div class="wepAtkEdit">
                        <div>
                            <input type="text" name="attacks[{{@index}}][name]" value="{{this.name}}" placeholder="Attack Name">
                            <a class="remove-attack" data-index="{{@index}}"><i class="fas fa-trash"></i></a>
                            <a class="wepAtkToggle" data-label="expand" data-value="{{@index}}"><i class="{{#if this.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>

                        <div class="wepAtkEditTop">
                            <label>
                                <span> {{localize "abfalter.attack"}} </span>
                                <input type="number" name="attacks[{{@index}}][attack]" value="{{this.attack}}">
                                <span> | </span>
                                <span> {{this.finalAttack}} </span>
                            </label>
                            <label>
                                <span> {{localize "abfalter.block"}} </span>
                                <input type="number" name="attacks[{{@index}}][block]" value="{{this.block}}">
                                <span> | </span>
                                <span> {{this.finalBlock}} </span>
                            </label>
                            <label>
                                <span> {{localize "abfalter.dodge"}} </span>
                                <input type="number" name="attacks[{{@index}}][dodge]" value="{{this.dodge}}">
                                <span> | </span>
                                <span> {{this.finalDodge}} </span>
                            </label>
                        </div>

                        <div class="wepAtkEditTop">
                            <label>
                                <span> {{localize "abfalter.breakage"}} </span>
                                <input type="number" name="attacks[{{@index}}][breakage]" value="{{this.breakage}}">
                                <span> | </span>
                                <span> {{this.finalBreakage}} </span>
                            </label>
                            <label>
                                <span> {{localize "abfalter.atPen"}} </span>
                                <input type="number" name="attacks[{{@index}}][atPen]" value="{{this.atPen}}">
                                <span> | </span>
                                <span> {{this.finalAtPen}} </span>
                            </label>
                            <label>
                                <span> {{localize "abfalter.damage"}} </span>
                                <input type="number" name="attacks[{{@index}}][damage]" value="{{this.damage}}">
                                <span> | </span>
                                <span> {{this.finalDamage}} </span>
                            </label>
                        </div>
                        {{#ifEquals ../system.info.type "melee"}}
                        {{#if this.parentThrowable}}
                        <div class="wepAtkThrowableTop">
                            <button class="wepAtkToggle  {{#if this.ignoreThrown}}{{else}}kiBought{{/if}}" data-label="ignoreThrown" data-value="{{@index}}">
                                {{#if this.ignoreThrown}}
                                <span> {{localize "abfalter.noThrowRules"}} </span>
                                {{else}}
                                <span> {{localize "abfalter.throwable"}} </span>
                                {{/if}}
                            </button>
                            {{#if this.ignoreThrown}}
                            {{else}}
                            <button class="wepAtkToggle {{#if this.fired}}kiBought{{/if}}" data-label="fired" data-value="{{@index}}">
                                {{#if this.fired}}
                                <span> {{localize "abfalter.fired"}} </span>
                                {{else}}
                                <span> {{localize "abfalter.thrown"}} </span>
                                {{/if}}
                            </button>
                            <button class="wepAtkToggle {{#if this.quantityConsumed}}kiBought{{/if}}" data-label="quantityConsumed" data-value="{{@index}}">
                                {{#if this.quantityConsumed}}
                                <span> {{localize "abfalter.infiniteQuantity"}} </span>
                                {{else}}
                                <span> {{localize "abfalter.ConsumesQuantity"}} </span>
                                {{/if}}
                            </button>
                            {{#if this.quantityConsumed}}
                            {{else}}
                            <label>
                                <span> {{localize "abfalter.ammoPerAtk"}} </span>
                                <input type="number" name="attacks[{{@index}}][consumedValue]" value="{{this.consumedValue}}">
                            </label>
                            {{/if}}
                            {{/if}}
                        </div>
                        {{/if}}
                        {{/ifEquals}}

                        {{#ifEquals ../system.info.type "ranged"}}
                        {{#if this.parentRangedInfAmmo}}
                        <div class="wepAtkThrowableTop">
                            <button class="wepAtkToggle {{#if this.rangedAmmoConsumed}}kiBought{{/if}}" data-label="rangedAmmoConsumed" data-value="{{@index}}">
                                {{#if this.rangedAmmoConsumed}}
                                <span> {{localize "abfalter.infiniteAmmo"}} </span>
                                {{else}}
                                <span> {{localize "abfalter.consumesAmmo"}} </span>
                                {{/if}}
                            </button>
                            {{#if this.rangedAmmoConsumed}}
                            {{else}}
                            <label>
                                <span> {{localize "abfalter.ammoPerAtk"}} </span>
                                <input type="number" name="attacks[{{@index}}][rangedAmmoConsumedValue]" value="{{this.rangedAmmoConsumedValue}}">
                            </label>
                            {{/if}}
                        </div>
                        {{else}}
                        <div class="wepAtkThrowableTop">
                            <label>
                                <span> {{localize "abfalter.ammoPerAtk"}} </span>
                                <input type="number" name="attacks[{{@index}}][rangedAmmoConsumedValue]" value="{{this.rangedAmmoConsumedValue}}">
                            </label>
                        </div>
                        {{/if}}
                        {{/ifEquals}}

                        {{#ifEquals ../system.info.type "melee"}}
                        {{#if this.parentTrapping}}
                        <div class="wepAtkTrapTop">
                            <button class="wepAtkToggle {{#if this.ignoreTrapping}}{{else}}kiBought{{/if}}" data-label="ignoreTrapping" data-value="{{@index}}">
                                {{#if this.ignoreTrapping}}
                                <span> {{localize "abfalter.noTrapping"}} </span>
                                {{else}}
                                <span> {{localize "abfalter.trapping"}} </span>
                                {{/if}}
                            </button>
                            {{#if this.ignoreTrapping}}
                            {{else}}
                            <button class="wepAtkToggle {{#if this.trappingType}}{{else}}kiBought{{/if}}" data-label="trappingType" data-value="{{@index}}">
                                {{#if this.trappingType}}
                                <span> {{localize "abfalter.flatAmount"}} </span>
                                {{else}}
                                <span> {{localize "abfalter.normal"}} </span>
                                {{/if}}
                            </button>
                            <label>
                                {{#if this.trappingType}}
                                <span>{{localize "abfalter.enterFlatAmount"}}</span>
                                {{else}}
                                <span>{{localize "abfalter.enterCustomAmount"}} 1d10 + </span>
                                {{/if}}
                                <input type="number" name="attacks[{{@index}}][trappingValue]" value="{{this.trappingValue}}">
                            </label>
                            {{/if}}
                        </div>
                        {{/if}}
                        {{/ifEquals}}

                        <div class="wepAtkOtherTop {{#if this.parentPrecision}}{{else}}{{#if this.parentVorpal}}{{else}}hidden{{/if}}{{/if}}">
                            {{#if this.parentPrecision}}
                            <button class="wepAtkToggle {{#if this.ignorePrecision}}{{else}}kiBought{{/if}}" data-label="ignorePrecision" data-value="{{@index}}">
                                {{#if this.ignorePrecision}}
                                <span> {{localize "abfalter.noPrecision"}} </span>
                                {{else}}
                                <span> {{localize "abfalter.yesPrecision"}} </span>
                                {{/if}}
                            </button>
                            {{/if}}
                            {{#if this.parentVorpal}}
                            <button class="wepAtkToggle {{#if this.ignoreVorpal}}{{else}}kiBought{{/if}}" data-label="ignoreVorpal" data-value="{{@index}}">
                                {{#if this.ignoreVorpal}}
                                <span> {{localize "abfalter.noVorpal"}} </span>
                                {{else}}
                                <span> {{localize "abfalter.vorpal"}} </span>
                                {{/if}}
                            </button>
                            {{/if}}
                        </div>

                    </div>
                    {{else}}
                    <div class="wepAtkNonEdit">
                        <div>
                            <span>{{this.name}}</span>
                            <a class="remove-attack" data-index="{{@index}}"><i class="fas fa-trash"></i></a>
                            <a class="wepAtkToggle" data-label="expand" data-value="{{@index}}"><i class="{{#if this.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>

                        <div>
                            <span>{{localize "abfalter.attack"}}: {{this.finalAttack}} |</span>
                            <span>{{localize "abfalter.block"}}: {{this.finalBlock}} |</span>
                            <span>{{localize "abfalter.dodge"}}: {{this.finalDodge}} |</span>
                            <span>{{localize "abfalter.breakage"}}: {{this.finalBreakage}} |</span>
                            <span>{{localize "abfalter.atPen"}}: {{this.finalAtPen}} |</span>
                            <span>{{localize "abfalter.damage"}}: {{this.finalDamage}}</span>
                        </div>

                        <div> 
                            <span class="{{#if this.parentPrecision}}{{#if this.ignorePrecision}}hidden{{/if}}{{else}}hidden{{/if}}">{{localize "abfalter.yesPrecision"}} |</span>
                            <span class="{{#if this.parentVorpal}}{{#if this.ignoreVorpal}}hidden{{/if}}{{else}}hidden{{/if}}">{{localize "abfalter.vorpal"}} |</span>
                            {{#ifEquals ../system.info.type "ranged"}}
                            {{#if this.parentRangedInfAmmo}}
                            <span>
                                {{#if this.rangedAmmoConsumed}}
                                <span> {{localize "abfalter.infiniteAmmo"}} |</span>
                                {{else}}
                                <span> {{localize "abfalter.ammoPerAtk"}}: {{this.rangedAmmoConsumedValue}} |</span>
                                {{/if}}
                            </span>
                            {{else}}
                            <span> {{localize "abfalter.ammoPerAtk"}}: {{this.rangedAmmoConsumedValue}} |</span>
                            {{/if}}
                            {{/ifEquals}}
                            {{#ifEquals ../system.info.type "melee"}}
                            <span class="{{#if this.parentThrowable}}{{#if this.ignoreThrown}}hidden{{/if}}{{else}}hidden{{/if}}">{{localize "abfalter.throwable"}} |</span>
                            <span class="{{#if this.parentThrowable}}{{#if this.ignoreThrown}}hidden{{/if}}{{else}}hidden{{/if}}">
                                {{#if this.fired}}
                                <span> {{localize "abfalter.fired"}} |</span>
                                {{else}}
                                <span> {{localize "abfalter.thrown"}} |</span>
                                {{/if}}
                            </span>
                            <span class="{{#if this.parentThrowable}}{{#if this.ignoreThrown}}hidden{{/if}}{{else}}hidden{{/if}}">
                                {{#if this.quantityConsumed}}
                                <span> {{localize "abfalter.infiniteQuantity"}} |</span>
                                {{else}}
                                <span> {{localize "abfalter.ammoPerAtk"}}: {{this.consumedValue}} |</span>
                                {{/if}}
                            </span>
                            <span class="{{#if this.parentTrapping}}{{#if this.ignoreTrapping}}hidden{{/if}}{{else}}hidden{{/if}}">
                                {{#if this.trappingType}}
                                <span> {{localize "abfalter.trapValueOf"}}: {{this.trappingValue}} </span>
                                {{else}}
                                <span> {{localize "abfalter.trapValueOf"}}: 1d10 + {{this.trappingValue}} </span>
                                {{/if}}
                            </span>
                            {{/ifEquals}}
                        </div>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <button type="button" id="add-attack"><i class="fas fa-plus"></i> {{localize "abfalter.addAtk"}}</button>

        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> systems/abfalter/templates/actor/parts/active-effects.hbs }}
        </div>

    </section>

</form>